<!-- Task.95 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>会場一覧 | LMS</title>
</head>
<body>

	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${message}]]</span>
		</div>
	</th:block>

	<h2>会場一覧</h2>

	<div class="well bs-component">

		<fieldset>
			<legend>新規作成</legend>
			<div class="form-group">
				<form th:action="@{/place/regist}" class="ib" method="post">
					<input type="submit" value="新規登録" class="btn btn-default" />
				</form>
				<form th:action="@{/place/registPlaceCsv}" class="ib" method="post">
					<input type="submit" value="CSVインポート" class="btn btn-default" />
				</form>
			</div>
		</fieldset>

		<form class="form-horizontal" method="post">
			<fieldset>
				<legend>検索</legend>
				<div class="form-group">
					<label for="placeName" class="col-lg-2 control-label">会場名</label>
					<div class="col-lg-10">
						<input type="text" id="placeName" name="placeName" th:value="${placeName}" 
							list="placelist" class="form-control" />
						<datalist id="placelist">
							<option th:each="placeDto : ${placeDtoList1}" th:value="${placeDto.placeName}" />
						</datalist>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" value="検索" class="btn btn-primary" />
					</div>
				</div>
			</fieldset>
		</form>

	</div>

	<p th:unless="${#strings.isEmpty(error)}" class="help-inline error">[[${error}]]</p>

	<table class="table table-hover sortabletable">
		<thead>
			<tr>
				<th>会場ID</th>
				<th>会場名</th>
				<th>住所</th>
				<th>収容人数</th>
				<th>備考</th>
				<th>サポートセンター</th>
				<th>編集</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="placeDto, stat : ${placeDtoList2}" th:object="${placeDto}">
				<td>[[*{placeId}]]</td>
				<td>[[*{placeName}]]</td>
				<td>
					<th:block th:unless="*{#strings.isEmpty(placeDescription)}">
						<th:block th:if="*{#strings.length(placeDescription) > 10}">
							<span data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover"
									th:data-content="|&lt;small&gt;*{placeDescription}&lt;/small&gt;|">
									[[*{#strings.substring(placeDescription, 0, 10)}]]... </span>
						</th:block>
						<th:block th:if="*{#strings.length(placeDescription) <= 10}">
							[[*{placeDescription}]]
						</th:block>
					</th:block>
				</td>
				<td>[[*{seatingCapacity}]]</td>
				<td>
					<th:block th:unless="*{#strings.isEmpty(placeNote)}">
						<th:block th:if="*{#strings.length(placeNote) > 10}">
							<span data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover"
									th:data-content="|&lt;small&gt;*{placeNote}&lt;/small&gt;|">
									[[*{#strings.substring(placeNote, 0, 10)}]]... </span>
						</th:block>
						<th:block th:if="*{#strings.length(placeNote) <= 10}">
							[[*{placeNote}]]
						</th:block>
					</th:block>
				</td>
				<td>
					<strong th:if="*{supportAvailable == 1}">表示</strong>
					<small th:if="*{supportAvailable != 1}">非表示</small>
				</td>
				<td>
					<form th:action="@{/place/regist}" class="ib" method="post">
						<input type="submit" value="変更" class="btn btn-default" />
						<input type="hidden" name="placeId" th:value="*{placeId}" />
					</form>
					<form th:action="@{/place/delete}" class="ib" method="post" onsubmit="return delcheck()">
						<input type="submit" value="削除" class="btn btn-default" />
						<input type="hidden" name="placeId" th:value="*{placeId}" />
					</form>
					<small th:unless="${#strings.isEmpty(__*{'placeId_' + placeId}__)}" class="help-inline error">[[${__*{'placeId_' + placeId}__}]]</small>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>