<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>セクション詳細 | LMS</title>
</head>
<body>

	<ol class="breadcrumb">
		<li><a th:href="@{/course/detail(courseId=${sectionDetailForm.courseId})}">コース詳細</a></li>
		<li class="active">セクション詳細</li>
	</ol>

	<!-- Task.116 -->
	<th:block th:if="${not #strings.isEmpty(sectionDetailForm.message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span th:text=${sectionDetailForm.message}></span>
		</div>
	</th:block>

	<div id="section" th:object="${sectionDetailForm}">
		<div id="sectionDetail">

			<h2>[[*{sectionName}]] <small>[[*{#dates.format(date, 'yyyy年M月d日' )}]]</small></h2>
			<h3>本日の内容</h3>
			<div class="panel panel-default">
				<div class="panel-body">
					<span>[[*{sectionDescription}]]</span>
					<strong th:if="*{sectionDescription == null || sectionDescription == ''}" class="text-danger">※内容が登録されていません！！</strong>
				</div>
			</div>

<!--/* 			<th:block th:if="*{!fileDtoList.isEmpty()}">
				<h3>本日の資料</h3>
				<table class="table">
					<tr>
						<th>資料</th>
					</tr>
					<tr th:each="sectionServiceFileDto: *{fileDtoList}">
						<td>
							<a th:href="@{/file/download?fileId={fileId}&fileName={fileName} (fileName=${sectionServiceFileDto.fileName},fileId=${sectionServiceFileDto.fileId})}">
								<th:block th:if="${#strings.contains(sectionServiceFileDto.fileName,'movieId=')}" th:text="${#strings.substring(sectionServiceFileDto.fileName,
										${#strings.indexOf(sectionServiceFileDto.fileName,'#')}+1, ${#strings.length(sectionServiceFileDto.fileName)})}">
								</th:block>
								<span th:if="${not #strings.contains(sectionServiceFileDto.fileName,'movieId=')}">[[${sectionServiceFileDto.fileName}]]</span>
							</a>
						</td>
					</tr>
				</table>
			</th:block> */-->

			<th:block th:if="*{!examDtoList.isEmpty() && examDtoList[0].examId != null}">
				<h3>本日の試験</h3>
				<table class="table">
					<tr>
						<th>試験</th>
						<th:block th:if="${session.loginUserDto.role == '0001'}">
							<th>詳細</th>
							<th>実施</th>
						</th:block>
						<th:block th:if="${session.loginUserDto.role == '0002' || session.loginUserDto.role == '0004'}">
							<th>試験結果</th>
							<th  th:if="${session.loginUserDto.role == '0002'}">管理</th>
							<th  th:if="${session.loginUserDto.role == '0004'}" colspan="2">管理</th>
						</th:block>
					</tr>

					<tr th:each="sectionServiceExamDto: *{examDtoList}">
						<td th:if="${sectionServiceExamDto.publicFlg}">[[${sectionServiceExamDto.examName}]]</td>
						<td th:unless="${sectionServiceExamDto.publicFlg}" th:with="message = |${sectionServiceExamDto.examName}（${#dates.format(sectionServiceExamDto.publicDate,'HH:mm')}|">[[${message}]]公開）</td>

						<th:block th:switch="${sectionServiceExamDto.publicFlg}">
							<th:block th:case="true">
								<!-- 受講生権限 -->
								<th:block th:if="${session.loginUserDto.role == '0001'}">
									<td>
										<form method="post" th:action="@{/exam/start}">
											<input type="submit" class="btn btn-default" value="詳細" />
											<input type="hidden" name="examSectionId" th:value="${sectionServiceExamDto.examSectionId}" />
										</form>
									</td>
									<!-- Task.19 -->
									<td><span th:if="${sectionServiceExamDto.examFlg}">済</span></td>
								</th:block>

								<!-- 講師権限 -->
								<th:block th:if="${session.loginUserDto.role == '0002' || session.loginUserDto.role == '0004'}">
									<td>
										<!-- Task.55 -->
										<form th:action="@{/exam/resultList}" method="post">
											<input type="submit" value="結果一覧" class="btn btn-default" />
											<input type="hidden" name="examId" th:value="${sectionServiceExamDto.examId}" />
										</form>
									</td>
									<td>
										<!-- Task.55 -->
										<form method="post" th:action="@{/exam/preview}">
											<input type="submit" class="btn btn-default" value="プレビュー" />
											<input type="hidden" name="examId" th:value="${sectionServiceExamDto.examId}" />
										</form>
										<!-- Task.116 -->
										<th:block th:if="${session.loginUserDto.role == '0004'}">
											<form th:action="@{/section/registDetail}" method="post">
												<input type="submit" name="delExam" value="削除" class="btn btn-default" />
												<input type="hidden" name="sectionId" th:value="*{sectionId}" />
												<input type="hidden" name="examId" th:value="${sectionServiceExamDto.examId}" />
											</form>
										</th:block>
									</td>
								</th:block>
							</th:block>

							<th:block th:case="false">
								<td></td>
								<td>
									<!-- Task.116 -->
									<th:block th:if="${session.loginUserDto.role == '0004'}">
										<form th:action="@{/section/registDetail}" method="post">
											<input type="submit" name="delExam" value="削除" class="btn btn-default" />
											<input type="hidden" name="sectionId" th:value="*{sectionId}" />
											<input type="hidden" name="examId" th:value="${sectionServiceExamDto.examId}" />
										</form>
									</th:block>
								</td>
							</th:block>

						</th:block>
					</tr>
				</table>
			</th:block>

			<th:block th:if="*{!reportDtoList.isEmpty()}">
				<h3>本日のレポート</h3>
				<table class="table">
					<tr>
						<th>レポート</th>
						<th  th:if="${session.loginUserDto.role == '0004'}">管理</th>
					</tr>
					<tr th:each="sectionServiceDailyReportDto, stat : *{reportDtoList}">
						<td th:if="${session.loginUserDto.role == '0001'}">
							<form th:method="post" th:action="@{/report/regist}">
								<input type="hidden" th:name="dailyReportId" th:value="${sectionServiceDailyReportDto.dailyReportId}" />
								<input type="hidden" th:name="sectionId" th:value="*{sectionId}" />
								<input type="hidden" th:name="courseId" th:value="*{courseId}" />
								<input type="hidden" th:name="date" th:value="${#dates.format(sectionServiceDailyReportDto.date, 'yyyy/M/d' )}" />
								<th:block th:if="${sectionServiceDailyReportDto.dailyReportSubmitId == null}">
									<input type="submit" class="btn btn-default" th:value="${sectionServiceDailyReportDto.reportName}+'を提出する'" />
								</th:block>
								<th:block th:if="${sectionServiceDailyReportDto.dailyReportSubmitId != null}">
									<input type="hidden" th:name="dailyReportSubmitId" th:value="${sectionServiceDailyReportDto.dailyReportSubmitId}" />
									<input type="submit" class="btn btn-default" th:value="'提出済み'+${sectionServiceDailyReportDto.reportName}+'を確認する'" />
								</th:block>
							</form>
						</td>
						<td th:if="${session.loginUserDto.role == '0002' || session.loginUserDto.role == '0004'}">
								[[${sectionServiceDailyReportDto.reportName}]]
						</td>
						<!-- Task.116 -->
						<td th:if="${session.loginUserDto.role == '0004'}">						
							<th:block th:if="${sectionServiceDailyReportDto.sectionId != null}">
								<form th:action="@{/section/registDetail}" method="post">
									<input type="submit" name="delReport" value="削除" class="btn btn-default" />
									<input type="hidden" name="sectionId" th:value="*{sectionId}" />
									<input type="hidden" name="dailyReportId" th:value="${sectionServiceDailyReportDto.dailyReportId}" />
								</form>
							</th:block>
						</td>
					</tr>
				</table>

			<!-- Task.116 -->
		    <div th:if="${session.loginUserDto.role == '0004'}" class="panel panel-default mt35">
		        <div class="panel-heading">管理者機能</div>
		        <div class="panel-body">

				  	<form th:action="@{/section/registDetail}" method="post" class="form-horizontal">
				  		<input type="hidden" name="sectionId" th:value="*{sectionId}" />
				  		<input type="hidden" name="sectionName" th:value="*{sectionName}" />
				  		<input type="hidden" name="courseId" th:value="*{courseId}" />
				  		<input type="hidden" name="categoryId" th:value="*{categoryId}" />
				  		<input type="hidden" name="date" th:value="*{#dates.format(date, 'yyyy/MM/dd')}" />

						<fieldset>
							<legend>セクション詳細を編集</legend>
						    <div class="form-group">
						      <div class="col-lg-12">
								<label for="sectionDescription" class="col-lg-3 control-label">セクション詳細</label>
								<div class="col-lg-7 input-group">
							      	<input type="text" th:field="*{sectionDescription}" th:errorclass="errorInput" class="form-control">
							      	<span th:errors="*{sectionDescription}" class="help-inline error"></span>
								</div>
						      </div>
						    </div>
					      	<div class="form-group">
			                   <div class="col-lg-12">
									<div class="col-lg-offset-3">
								      	<input type="submit" name="updateDetail" value="変更する" class="btn btn-primary" />
									</div>
			                    </div>
							</div>
					
							<br />
							<legend>試験を追加する</legend>
							<div class="form-group">
								<div class="col-lg-12">
									<label for="examName" class="col-lg-3 control-label">試験名</label>
									<div class="col-lg-4 input-group">
										<select id="examName" name="examId" th:errorclass="errorInput" class="form-control">
											<option value=""></option>
											<option th:each="examDto : *{examList}" th:value="${examDto.examId}" 
												th:selected="${examDto.examId} == *{examId}">[[${examDto.examName}]]</option>
										</select>
										<span th:errors="*{examId}" class="help-inline error"></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-12">
									<label for="publicDate" class="col-lg-3 control-label">公開時刻</label>
									<div class="col-lg-2 input-group">
										<input type="text" th:field="*{publicDate}" th:errorclass="errorInput" class="form-control">
									</div>
									<div class="col-lg-offset-3">
										<span th:errors="*{publicDate}" class="help-inline error"></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-12">
									<div class="col-lg-offset-3">
										<input type="submit" name="addExam" value="登録する" class="btn btn-primary" />
									</div>
								</div>
							</div>
				
							<br />
							<legend>レポートを追加する</legend>
							<div class="form-group">
								<div class="col-lg-12">
									<label for="reportName" class="col-lg-3 control-label">レポート名</label>
									<div class="col-lg-4 input-group">
										<select id="reportName" name="dailyReportId" th:errorclass="errorInput" class="form-control">
											<option value=""></option>
											<option th:each="dailyReportDto : *{dailyReportList}" th:value="${dailyReportDto.dailyReportId}" 
												th:selected="${dailyReportDto.dailyReportId} == *{dailyReportId}">[[${dailyReportDto.reportName}]]</option>
										</select>
										<span th:errors="*{dailyReportId}" class="help-inline error"></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-12">
									<div class="col-lg-offset-3">
										<input type="submit" name="addReport" value="登録する" class="btn btn-primary" />
									</div>
								</div>
							</div>

						</fieldset>
					</form>
				</div>
			</div>

		</div>
	</div>
	<!-- Task.19 -->
	<input type="button" class="btn btn-primary mb25" onclick="history.back();" value="戻る" />

</body>
</html>