<!-- Task.94 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>メール送信キュー一覧 | LMS</title>
</head>
<body>

	<h2>メール送信キュー一覧</h2>

	<th:block th:if="${not #strings.isEmpty(error)}" id="error">
		<ul style="padding-left: 0; list-style: none;">
			<li><span th:text="'*' + '&nbsp' + ${error}" class="help-inline error"></span></li>
		</ul>
	</th:block>

	<table class="table table-hover sortandsearchabletable">
		<thead>
			<tr>
				<th>送信先</th>
				<th>件名</th>
				<th>CC有り</th>
				<th>送信中止</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mailQueDto : ${mailQueDtoList}" th:object="${mailQueDto}">
				<td>[[*{mailAddressTo}]]</td>
				<td>[[*{subject}]]</td>
				<td>
					<th:block th:if="*{#strings.isEmpty(mailAddressCc)}">無</th:block>
					<th:block th:if="*{not #strings.isEmpty(mailAddressCc)}">有</th:block>
				</td>
				<td>
					<form th:action="@{/mail/queList}" method="post">
						<input type="hidden" name="mailQueId" th:value="*{mailQueId}" />
						<input type="submit" class="btn btn-danger" value="送信中止" name="delete" onclick="return delcheck()" />
					</form>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>