<!-- Task.93 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>テンプレート内容確認 | LMS</title>
</head>
<body>

	<h2>メール送信</h2>

	<div class="panel panel-default" th:object="${mailTemplateDto}">
		<div class="panel-heading">テンプレート内容確認</div>
		<div class="panel-body">
			<fieldset>
				<legend>件名:[[*{subject}]]</legend>
				<th:block th:if="*{#lists.isEmpty(body)}"><p>なし</p></th:block>
				<th:block th:unless="*{#lists.isEmpty(body)}">
					<div class="form-group" style="white-space: pre-wrap;">[[*{body}]]</div>			
				</th:block>
			</fieldset>
			<fieldset>
				<legend>添付ファイル</legend>
				<th:block th:if="*{#lists.isEmpty(fileDtoList)}"><p>なし</p></th:block>
				<ul th:unless="*{#lists.isEmpty(fileDtoList)}">
					<li th:each="fileDto : *{fileDtoList}">
						<a th:href="@{${fileDto.filePath}}">[[${fileDto.fileName}]]</a>（[[${fileDto.fileSize}]]）
					</li>
				</ul>
			</fieldset>
			<form th:action="@{/mail/courseList}" method="post">
				<div class="form-group">
					<input type="hidden" name="mailTemplateId" />
					<input type="submit" value="送付先コース選択" class="btn btn-primary" />
				</div>
			</form>
		</div>

	</div>

</body>
</html>