<!-- Task.64 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>テンプレート内容確認 | LMS</title>
</head>
<body>

	<h2>メール送信</h2>

	<div class="panel panel-default">

		<div class="panel-heading">テンプレート内容確認</div>

		<div class="panel-body">
			<form>
				<fieldset>
					<legend>件名:[[${mailTemplateDto.subject}]]</legend>

					<div class="form-group" style="white-space: pre-wrap;">[[${mailTemplateDto.body}]]</div>
				</fieldset>
				<fieldset>
					<legend>添付ファイル</legend>
					<th:block th:if="${#lists.isEmpty(mailTemplateDto.fileDtoList)}">なし</th:block>
					<ul th:if="${not #lists.isEmpty(mailTemplateDto.fileDtoList)}">
						<li th:each="fileDto : ${mailTemplateDto.fileDtoList}"><a th:href="@{${fileDto.filePath}}">[[${fileDto.fileName}]]</a>([[${fileDto.fileSize}]])</li>
					</ul>
				</fieldset>
			</form>
			<form th:action="@{/mail/courseList}" method="post">
				<div class="form-group">
					<input type="hidden" name="mailTemplateId" />
					<input type="submit" value="送付先コース選択" class="btn btn-primary" />
				</div>
			</form>
		</div>

	</div>

</body>
</html>