<!-- Task.105 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>企業[[${companyRegistForm.companyId == null} ? '登録' : '変更']] | LMS</title>
</head>
<body>

	<h2>企業[[${companyRegistForm.companyId == null} ? '登録' : '変更']]</h2>

	<div class="well bs-component">
		<form class="form-horizontal" method="post" th:object="${companyRegistForm}">
			<fieldset>
				<legend>企業情報</legend>

				<div class="form-group">
					<label for="companyName" class="col-lg-2 control-label">企業名</label>
					<div class="col-lg-10">
						<input type="text" id="companyName" name="companyName" th:value="*{companyName}"
							class="form-control" th:errorclass="errorInput" />
						<span th:errors="*{companyName}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">ファイル共有</label>
					<div class="col-lg-10 form-inline">
						<div class="col-lg-10 fs20">
							<input type="checkbox" id="fileShareFlg" name="fileShareFlg" value="1"
								class="icon-checkbox" th:checked="*{fileShareFlg} == 1">
								<label for="fileShareFlg" class="text-info"> 
								<span class="glyphicon glyphicon-unchecked unchecked"></span>
								<span class="glyphicon glyphicon-check checked"></span>
							</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" th:value="|*{companyId == null ? '登録' : '変更'}する|" name="complete" class="btn btn-primary" />
						<input type="hidden" name="companyId" th:value="*{companyId}" />
					</div>
				</div>

			</fieldset>
		</form>
	</div>

</body>
</html>