<!--Task.48  -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>マイアカウント</title>
</head>
<body>

	<h2>マイアカウント</h2>

	<h3>基本情報</h3>
	<table class="table table-hover">
		<tbody>
			<tr>
				<th class="w33per">ユーザー名</th>
				<td>[[${myAccountDto.userName}]]</td>
			</tr>
			<tr>
				<th>ロール</th>
				<td>[[${myAccountDto.roleName}]]</td>
			</tr>
			<!-- Task.49 -->
			<tr th:if="${session.loginUserDto.role == '0002'}">
				<th>コース名</th>
				<td>[[${myAccountDto.courseName}]]</td>
			</tr>
			<tr>
				<th>会場名</th>
				<td>[[${myAccountDto.placeName}]] 
					<small th:if="${not #strings.isEmpty(myAccountDto.placeNote)}">（[[${myAccountDto.placeNote}]]）</small>
				</td>
			</tr>
		</tbody>
	</table>

	<form method="post" th:action="@{/password/changePassword}">
		<input type="submit" value="パスワード変更する" class="btn btn-default" />
	</form>

</body>
</html>