<!-- Task.63 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8" />
	<title>チーム編成詳細 | LMS</title>
</head>

<body>

	<h2>チーム編成詳細</h2>
	<table class="table wh" th:object="${presentationDto}">
		<h4>[[*{purpose}]]</h4>
		<tbody>
			<tr>
				<th>開催日</th>
				<td>[[*{#dates.format(presentationDate,'yyyy年MM月dd日')}]]</td>
			</tr>
			<tr>
				<th>予約編集期限</th>
				<td>[[*{#dates.format(editLimit,'yyyy年MM月dd日')}]]</td>
			</tr>
			<tr>
				<th class="w33per">会場名</th>
				<td>[[*{placeName}]]</td>
			</tr>
			<tr>
				<th>会場備考</th>
				<td>[[*{placeNote}]]</td>
			</tr>
			<tr>
				<th>会場住所</th>
				<td>[[*{placeDescription}]]</td>
			</tr>

			<tr>
				<th>用途</th>
				<td>[[*{purpose}]]</td>
			</tr>
		</tbody>
	</table>
	<div>
		<table class="table table-hover" id="place-table">
			<thead>
				<tr>
					<th>チーム名</th>
					<th>企業名</th>
					<th>住所</th>
					<th>受講生名</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="presentationTeamDetailDto : ${presentationDto.presentationTeamDetailDtoList}"
					th:object="${presentationTeamDetailDto}">
					<tr>
						<td>[[*{presentationTeamName}]]</td>
						<td>[[*{companyName}]]</td>
						<td>[[*{address}]]</td>
						<td>[[*{userName}]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>

</body>

</html>