<!-- Task.62 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>チーム一覧 | LMS</title>
</head>
<body>

	<h2>チーム編成一覧</h2>

	<table class="table table-hover sortandsearchabletable" id="team-table">
		<thead>
			<tr>
				<th>用途</th>
				<th>開催日</th>
				<th>予約変更期限</th>
				<th>会場名</th>
				<th>会場備考</th>
				<th>編集</th>
				<th>チーム編成</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="presentationDto : ${presentationDtoList}" th:object="${presentationDto}">
				<td>[[*{purpose}]]</td>
				<td>[[*{#dates.format(presentationDate,'yyyy年MM月dd日')}]]</td>
				<td>[[*{#dates.format(editLimit,'yyyy年MM月dd日')}]]</td>
				<td>[[*{placeName}]]</td>
				<td>[[*{placeNote}]]</td>
				<td>
					<form th:action="@{/presentation/teamRegist}" method="post">
						<input type="hidden" name="presentationScheduleId" th:value="*{presentationScheduleId}" />
						<input type="submit" value="編集" class="btn btn-default">
					</form>
				</td>
				<td>
					<form th:action="@{/presentation/teamDetail}" method="get">
						<input type="hidden" name="presentationScheduleId" th:value="*{presentationScheduleId}" />
						<input type="submit" value="詳細" class="btn btn-default">
					</form>
				</td>
			</tr>
		</tbody>	
	</table>

</body>
</html>