<!--Task.114-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>コース[[${courseRegistForm.courseId == null} ? '登録' : '変更']] | LMS</title>
</head>
<body>

	<h2>コース[[${courseRegistForm.courseId == null} ? '登録' : '変更']] </h2>
    <div class="well bs-component">
		<form th:action="@{/course/regist}" method="post" class="form-horizontal" th:object="${courseRegistForm}">
			<input type="hidden" th:field="*{courseId}" />
			<fieldset>
				<legend>基本情報</legend>
				
				<div class="form-group">
					<label for="courseName" class="col-lg-2 control-label">コース名</label>
					<div class="col-lg-10">
						<input type="text" th:field="*{courseName}" th:errorclass="errorInput" class="form-control" />
						<span th:errors="*{courseName}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="courseDescription" class="col-lg-2 control-label">概要</label>
					<div class="col-lg-10">
						<input type="text" th:field="*{courseDescription}" th:errorclass="errorInput" class="form-control" />
						<span th:errors="*{courseDescription}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="openTime" class="col-lg-2 control-label">開始日</label>
					<div class="col-lg-10">
						<input type="text" th:field="*{openTime}" th:errorclass="errorInput" class="form-control datepicker" />
						<span th:errors="*{openTime}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="closeTime" class="col-lg-2 control-label">終了日</label>
					<div class="col-lg-10">
						<input type="text" th:field="*{closeTime}" th:errorclass="errorInput" class="form-control datepicker" />
						<span th:errors="*{closeTime}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="dailyReportId" class="col-lg-2 control-label">レポート</label>
					<div class="col-lg-10">
						<select id="dailyReportId" name="dailyReportId" class="form-control">
							<option value=""></option>
							<option th:each="dailyReportDto : *{dailyReportDtoList}" th:value="${dailyReportDto.dailyReportId}" 
								th:selected="${dailyReportDto.dailyReportId} == *{dailyReportId}">[[${dailyReportDto.reportName}]]</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="evReportId" class="col-lg-2 control-label">評価レポート</label>
					<div class="col-lg-10">
						<select id="evReportId" name="evReportIdArray" multiple="multiple" class="form-control">
							<option th:each="evReportDto, stat : *{evReportDtoList}" th:value="${evReportDto.evReportId}" 
								th:selected="${evReportDto.evReportId} == *{evReportIdArray[__${stat.index}__]}">[[${evReportDto.reportName}]]</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="meetingFileId" class="col-lg-2 control-label">面談ファイル</label>
					<div class="col-lg-10">
						<select id="meetingFileId" name="meetingFileId" class="form-control">
							<option value=""></option>
							<option th:each="meetingFileDto : *{meetingFileDtoList}" th:value="${meetingFileDto.meetingFileId}" 
								th:selected="${meetingFileDto.meetingFileId} == *{meetingFileId}">[[${meetingFileDto.fileName}]]</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary">決定</button>
					</div>
				</div>

			</fieldset>
		</form>
    </div>

</body>
</html>