<!-- Task.32 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="utf-8">
<title>試験【[[${examDetailDto.examName}]]】 | LMS</title>
</head>
<body>

	<div class="container">
		<div id="contents" class="clearfix">
			<div id="main" class="main2clm">

					<h2>[[${examDetailDto.examName}]] &nbsp;<small>[[${examDetailDto.userName}]]</small></h2>

					<h4>試験情報</h4>
					<table class="table table-hover">
						<tr>
							<th class="wq">問題数</th>
							<td>[[${examDetailDto.numOfQuestion}]]問</td>
						</tr>
						<tr>
							<th>制限時間</th>
							<td>[[${examDetailDto.limitTime}]]分</td>
						</tr>
						<tr>
							<th>平均点</th>
							<td>[[${#numbers.formatDecimal(examDetailDto.avgScore, 1, 1)}]]点</td>
						</tr>
					</table>

					<th:block th:if="${!#lists.isEmpty(examDetailDto.examResultDtoList)}">
						<h4>試験結果</h4>
						<table class="table table-hover">
							<tr>
								<th>回数</th>
								<th>点数</th>
								<th>解答時間</th>
								<th>実施日時</th>
								<th>詳細</th>
							</tr>
							<tr th:each="examResultDto, stat: ${examDetailDto.examResultDtoList}">
								<td>[[${stat.count}]]回目</td>
								<td>[[${#numbers.formatDecimal(examResultDto.point, 1, 1)}]]点</td>
								<td>[[${examResultDto.timeDisp}]]</td>
								<td>[[${#dates.format(examResultDto.date, "yyyy年MM月dd日 HH時mm分ss秒")}]]</td>
								<td>
									<form th:action="@{/exam/resultDetail}" method="post">
										<input type="submit" value="詳細" class="btn btn-default">
										<input type="hidden" name="examResultId" th:value="${examResultDto.examResultId}">
									</form>
								</td>
							</tr>
						</table>
					</th:block>

			</div>
		</div>
	</div>

</body>
</html>