<!-- Task.51 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="utf-8">
<title>試験一覧 | LMS</title>
</head>
<body>

	<!-- Task.81 -->
	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span th:text=${message}></span>
		</div>
	</th:block>

	<h2>試験一覧</h2>

	<!-- Task.81 -->
	<div th:if="${session.loginUserDto.role == '0004'}" class="well bs-component">
		<fieldset>
			<legend>新規作成</legend>
			<div class="form-group">
				<form th:action="@{/exam/regist}" class="alignC" method="post">
					<input type="submit" value="新規登録" class="btn btn-default" />
				</form>
			</div>
		</fieldset>
		<form th:action="@{/exam/list}" class="form-horizontal">
			<fieldset>
				<legend>検索</legend>
				<div class="form-group">
					<label for="date" class="col-lg-2 control-label">試験名</label>
					<div class="col-lg-10">
						<input type="text" name="examName" th:value="${examName}" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" value="検索" class="btn btn-primary" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>

	<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

		<div class="row">
			<div class="col-sm-6">
				<div class="dataTables_length" id="DataTables_Table_0_length"></div>
			</div>
			<div class="col-sm-6"></div>
		</div>

		<div class="row">
			<div class="col-sm-12">

				<table class="table table-hover sortabletable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr role="row">
							<th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
								aria-sort="ascending" aria-label="試験ID: activate to sort column descending">試験ID</th>
							<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
								aria-label="試験名: activate to sort column ascending">試験名</th>
							<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
								aria-label="試験結果: activate to sort column ascending">試験結果</th>
							<th th:if="${session.loginUserDto.role == '0004'}">編集</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="examDto, stat : ${examDtoList}" role="row" class="odd">
							<td class="sorting_1">[[${examDto.examId}]]</td>
							<td>[[${examDto.examName}]]</td>
							<td>
								<form th:action="@{/exam/resultList}" method="post">
									<input type="submit" value="結果一覧" class="btn btn-default" />
									<input type="hidden" name="examId" th:value="${examDto.examId}" />
								</form>
								<!-- Task.81 管理者は非表示 -->
								<form th:if="${session.loginUserDto.role == '0002'}" th:action="@{/exam/resultSummary}" method="post">
									<input type="submit" value="担当会場の回答状況" class="btn btn-default" />
									<input type="hidden" name="examId" th:value="${examDto.examId}" />
								</form>
							</td>
							<!-- Task.81 -->
							<td th:if="${session.loginUserDto.role == '0004'}">
								<form th:action="@{/exam/regist}" method="post">
									<input type="submit" value="変更" class="btn btn-default" />
									<input type="hidden" name="examId" th:value="${examDto.examId}" />
								</form>
								<form th:action="@{/exam/delete}" onsubmit="return delcheck()" method="post">
									<input type="submit" value="削除" class="btn btn-default" />
									<input type="hidden" name="examId" th:value="${examDto.examId}" />
								</form>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

	</div>

</body>
</html>