<!-- Task.99 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>詳細試験カテゴリー[[${genreDetailForm.genreDetailId == null ? '登録' : '変更'}]] | LMS</title>
</head>
<body>

	<h2>詳細試験カテゴリー[[${genreDetailForm.genreDetailId == null ? '登録' : '変更'}]]</h2>
	<div class="well bs-component">

		<form th:action="@{/genre/detailRegist}" method="post" class="form-horizontal" th:object="${genreDetailForm}">
			<fieldset>
				<legend>詳細試験カテゴリー情報</legend>

				<div class="form-group">
					<label for="genreDetailName" class="col-lg-2 control-label">詳細試験カテゴリー名</label>
					<div class="col-lg-10">
						<input type="text" name="genreDetailName" class="form-control" th:value="*{genreDetailName}"
							id="genreDetailName" th:errorclass="errorInput" />
						<span th:errors="*{genreDetailName}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" name="complete" th:value="|*{genreDetailId == null ? '登録' : '変更'}する|" class="btn btn-primary" />
						<input type="hidden" name="genreDetailId" th:value="*{genreDetailId}" />
						<input type="hidden" name="genreId" th:value="*{genreId}" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</body>
</html>