<!-- Task.97 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>試験カテゴリー一覧 | LMS</title>
</head>
<body>

	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${message}]]</span>
		</div>
	</th:block>

	<h2>試験カテゴリー一覧</h2>
	<div class="well bs-component">

		<fieldset>
			<legend>新規作成</legend>
			<div class="form-group">
				<form th:action="@{/genre/regist}" method="post">
					<input type="submit" value="新規登録" class="btn btn-default" />
				</form>
			</div>
		</fieldset>

		<form th:action="@{/genre/list}" class="form-horizontal" th:object="${genreForm}">
			<fieldset>
				<legend>検索</legend>
				<div class="form-group">
					<label for="genreName" class="col-lg-2 control-label">試験カテゴリー名</label>
					<div class="col-lg-10">
						<input type="text" name="genreName" th:value="*{genreName}" id="genreName" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" value="検索" class="btn btn-primary" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>

	<div th:each="genreDto : ${genreDtoList}" class="panel panel-default" th:object="${genreDto}">
		<div class="panel-heading">[[*{genreName}]]</div>
		<div class="panel-body">

			<table class="table table-hover">
				<tr>
					<th class="w200">試験カテゴリーID</th>
					<th>編集</th>
				</tr>
				<tr>
					<td>[[${genreDto.genreId}]]</td>
					<td><form th:action="@{/genre/regist}" method="post" class="ib">
							<input type="submit" value="変更" class="btn btn-default" />
							<input type="hidden" name="genreId" th:value="*{genreId}" />
						</form>
						<form th:action="@{/genre/list}" method="post" class="ib" onsubmit="return delcheck()">
							<input type="submit" value="削除" name="delete" class="btn btn-default" />
							<input type="hidden" name="genreId" th:value="*{genreId}" />
						</form>
						<form th:action="@{/genre/detailRegist}" method="post" class="ib">
							<input type="submit" value="詳細カテゴリーを追加" class="btn btn-default" />
							<input type="hidden" name="genreId" th:value="*{genreId}" />
						</form></td>
				</tr>
			</table>

			<h4>詳細情報</h4>
			<table class="table table-hover">
				<tr>
					<th class="w200">詳細試験カテゴリーID</th>
					<th>詳細試験カテゴリー名</th>
					<th class="w200">編集</th>
				</tr>
				<tr th:each="genreDetailDto : *{genreDetailDtoList}">
					<td>[[${genreDetailDto.genreDetailId}]]</td>
					<td>[[${genreDetailDto.genreDetailName}]]</td>
					<td>
						<form th:action="@{/genre/detailRegist}" method="post" class="ib">
							<input Type="submit" value="変更" class="btn btn-default" />
							<input type="hidden" name="genreDetailId" th:value="${genreDetailDto.genreDetailId}" />
						</form>
						<form th:action="@{/genre/list}" method="post" class="ib" onsubmit="return delcheck()">
							<input type="submit" value="削除" name="detailDelete" class="btn btn-default" />
							<input type="hidden" name="genreDetailId" th:value="${genreDetailDto.genreDetailId}" />
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>