<!-- Task.58 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>勤怠一括登録｜LMS</title>
</head>

<body>

	<script th:src="@{/js/companyAttendance.js}"></script>

	<h2>勤怠一括登録</h2>

	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${message}]]</span>
		</div>
	</th:block>

	<form th:action="@{/attendance/bulkRegist}" name="bulkRegistForm" class="form-horizontal" method="post"
		th:object="${bulkRegistForm}">
		<div class="well bs-component">
			<fieldset>
				<legend>検索</legend>

				<div class="form-group">
					<label for="searchFrom" class="col-lg-2 control-label">期間</label>
					<div class="col-lg-10 form-inline">
						<input type="text" id="searchFrom" name="searchPeriodFrom" th:value="*{searchPeriodFrom}"
							class="form-control datepickerFrom" th:errorclass="errorInput" style="width: 10em;" />
						～
						<input type="text" name="searchPeriodTo" th:value="*{searchPeriodTo}"
							class="form-control datepickerTo" id="searchTo" th:errorclass="errorInput"
							style="width: 10em;" />
					</div>
				</div>

				<div th:if="${session.loginUserDto.role == '0002'}" class="form-group">
					<label for="placeId" class="col-lg-2 control-label">会場名</label>
					<div class="col-lg-10">
						<input type="text" name="" th:value="*{placeName}" class="form-control" id="placeId"
							readonly="readonly" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" name="search" value="検索" class="btn btn-primary" />
					</div>
				</div>
			</fieldset>
		</div>

		<ul style="padding-left: 0; list-style: none;">
			<li th:each="error : ${#fields.detailedErrors()}"><span
					class="help-inline error">*&nbsp;[[${error.message}]]</span></li>
		</ul>

		<table class="table">
			<tbody>
				<th:block th:each="dailyAttendanceForm, stat : *{dailyAttendanceFormList}">
					<th:block
						th:if="${stat.index} == 0 or ${dailyAttendanceForm.index} != *{dailyAttendanceFormList[__${stat.index -1}__].index}">
						<tr style="background-color: #f5f5f5; border-top-style: solid; border-width: medium;">
							<th colspan="7">[[${dailyAttendanceForm.dispTrainingDate}]]</th>
							<th colspan="2">
								<button type="button" th:value="${dailyAttendanceForm.index}"
									class="btn btn-default copyAttendanceDaily">受講生が入力した時刻をコピーする</button>
							</th>
							<td>
								<input type="submit" class="btn btn-info" name="complete" value="確定する"
									th:attr="onclick='return setTargetIndex(' + ${dailyAttendanceForm.index} + ');'" />
							</td>
						</tr>
						<tr>
							<th class="w120">ユーザー名</th>
							<th class="w180">コース名</th>
							<th class="w90">出勤</th>
							<th class="w90">退勤</th>
							<th class="w90">中抜け時間</th>
							<th class="w90">ステータス</th>
							<th class="w50">備考</th>
							<th class="w90">開始時間</th>
							<th class="w90">終了時間</th>
							<th class="w90">欠席</th>
						</tr>
					</th:block>
					<tr>
						<td>[[${dailyAttendanceForm.userName}]]</td>
						<td>[[${dailyAttendanceForm.courseName}]]</td>
						<td>[[${dailyAttendanceForm.trainingStartTimeRaw}]]</td>
						<td>[[${dailyAttendanceForm.trainingEndTimeRaw}]]</td>
						<td>[[${dailyAttendanceForm.blankTimeValue}]]</td>
						<td>[[${dailyAttendanceForm.statusDispName}]]</td>
						<td>
							<th:block th:if="${#strings.isEmpty(dailyAttendanceForm.note)}">なし</th:block>
							<th:block th:unless="${#strings.isEmpty(dailyAttendanceForm.note)}">
								<strong data-toggle="popover" data-placement="right"
									th:data-content="${dailyAttendanceForm.note}" data-trigger="hover">あり</strong>
							</th:block>
						</td>
						<td>
							<input type="text" th:name="|dailyAttendanceFormList[${stat.index}].trainingStartTime|"
								th:value="${dailyAttendanceForm.trainingStartTime}"
								th:class="|form-control startTimeCompany${dailyAttendanceForm.index}|"
								th:errorclass="errorInput" />
						</td>
						<td>
							<input type="text" th:name="|dailyAttendanceFormList[${stat.index}].trainingEndTime|"
								th:value="${dailyAttendanceForm.trainingEndTime}"
								th:class="|form-control endTimeCompany${dailyAttendanceForm.index}|"
								th:errorclass="errorInput" />
						</td>
						<td>
							<input type="checkbox" th:name="|dailyAttendanceFormList[${stat.index}].isAbsent|"
								th:checked="${dailyAttendanceForm.isAbsent}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].dispTrainingDate|"
								th:value="${dailyAttendanceForm.dispTrainingDate}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].lmsUserId|"
								th:value="${dailyAttendanceForm.lmsUserId}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].userName|"
								th:value="${dailyAttendanceForm.userName}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].courseName|"
								th:value="${dailyAttendanceForm.courseName}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].companyAttendanceId|"
								th:value="${dailyAttendanceForm.companyAttendanceId}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].trainingDate|"
								th:value="${dailyAttendanceForm.trainingDate}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].index|"
								th:value="${dailyAttendanceForm.index}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].trainingStartTimeRaw|"
								th:value="${dailyAttendanceForm.trainingStartTimeRaw}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].trainingEndTimeRaw|"
								th:value="${dailyAttendanceForm.trainingEndTimeRaw}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].blankTimeValue|"
								th:value="${dailyAttendanceForm.blankTimeValue}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].statusDispName|"
								th:value="${dailyAttendanceForm.statusDispName}" />
							<input type="hidden" th:name="|dailyAttendanceFormList[${stat.index}].note|"
								th:value="${dailyAttendanceForm.note}" />
							<input type="hidden"
								th:name="|dailyAttendanceFormList[${stat.index}].trainingStartTimeRounded|"
								th:value="${dailyAttendanceForm.trainingStartTimeRounded}"
								th:class="|startTimeCompanyRounded${dailyAttendanceForm.index}|" />
							<input type="hidden"
								th:name="|dailyAttendanceFormList[${stat.index}].trainingEndTimeRounded|"
								th:value="${dailyAttendanceForm.trainingEndTimeRounded}"
								th:class="|endTimeCompanyRounded${dailyAttendanceForm.index}|" />
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</form>

</body>

</html>