<!-- Task.57 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8" />
	<title>勤怠情報確認 | LMS</title>
</head>

<body>

	<h2>勤怠情報確認<small>（受講生一覧）</small></h2>

	<div class="well bs-component">
		<form name="user_listActionForm" method="post" th:action="@{/attendance/list}" class="form-horizontal"
			th:object="${attendanceSearchForm}">
			<fieldset>
				<legend>検索</legend>

				<div th:if="${session.loginUserDto.role == '0002'}" class="form-group">
					<label for="courseName" class="col-lg-2 control-label">コース名</label>
					<div class="col-lg-10">
						<input type="text" name="courseName" id="courseName" th:value="*{courseName}"
							class="form-control" list="courselist" />
						<datalist id="courselist">
							<option th:each="courseDto : ${courseDtoList}" th:value="${courseDto.courseName}"></option>
						</datalist>
					</div>
				</div>

				<div th:if="${session.loginUserDto.role == '0002'}" class="form-group">
					<label for="placeName" class="col-lg-2 control-label">会場名</label>
					<div class="col-lg-10">
						<th:block th:if="${#strings.isEmpty(placeDto.placeNote)}">
							<input type="text" name="" th:value="${placeDto.placeName}" readonly="readonly"
								id="placeName" class="form-control" />
						</th:block>
						<th:block th:if="${not #strings.isEmpty(placeDto.placeNote)}">
							<input type="text" name="" th:value="|${placeDto.placeName}(${placeDto.placeNote})|"
								readonly="readonly" id="placeName" class="form-control" />
						</th:block>
					</div>
				</div>

				<div th:if="${session.loginUserDto.role == '0002'}" class="form-group">
					<label for="companyName" class="col-lg-2 control-label">企業名</label>
					<div class="col-lg-10">
						<input type="text" name="companyName" id="companyName" th:value="*{companyName}"
							class="form-control" list="companylist" />
						<datalist id="companylist">
							<option th:each="companyDto : ${companyDtoList}" th:value="${companyDto.companyName}">
							</option>
						</datalist>
					</div>
				</div>

				<div class="form-group">
					<label for="userName" class="col-lg-2 control-label">ユーザー名</label>
					<div class="col-lg-10">
						<input type="text" name="userName" th:value="*{userName}" id="userName" class="form-control" />
					</div>
				</div>

				<div th:if="${session.loginUserDto.role == '0003'}" class="form-group">
					<div class="col-lg-2"></div>
					<div class="col-lg-10">
						<input type="checkbox" name="pastFlg" id="pastFlg" value="1" class="icon-checkbox"
							th:checked="*{pastFlg == 1}" />
						<label for="pastFlg" class="text-info">
							<span class='glyphicon glyphicon-unchecked unchecked'></span>
							<span class='glyphicon glyphicon-check checked'></span>
						</label>
						<label for="pastFlg" class="control-label">コース終了後 [[*{pastTimeLabel}]] を経過した受講生 </label>
						<label class="text-danger"> ※コース終了後 [[*{pastTimeLabel}]] を経過した受講生を含めて検索します </label>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" value="検索" class="btn btn-primary" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>

	<div id="user-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
		<div class="row">
			<div class="col-sm-6">
				<div class="dataTables_length" id="user-table_length"></div>
			</div>
			<div class="col-sm-6"></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-hover sortabletable dataTable no-footer" id="user-table" role="grid"
					aria-describedby="user-table_info">
					<thead>
						<tr role="row">
							<th class="sorting_asc" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-sort="ascending" aria-label="ID: activate to sort column descending">ID</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-label="ユーザー名: activate to sort column ascending">ユーザー名</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-label="コース名: activate to sort column ascending">コース名</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-label="企業名: activate to sort column ascending">企業名</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-label="会場: activate to sort column ascending">会場</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-label="勤怠: activate to sort column ascending">勤怠</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="userDetailDto, stat : ${userDetailDtoList}" class="odd" role="row">
							<td class="sorting_1">[[${userDetailDto.userId}]]</td>
							<td>[[${userDetailDto.userName}]]</td>
							<td>[[${userDetailDto.courseName}]]</td>
							<td>[[${userDetailDto.companyName}]]</td>
							<td>
								[[${userDetailDto.placeName}]]
								<th:block th:if="${!#strings.isEmpty(userDetailDto.placeNote)}">
									([[${userDetailDto.placeNote}]])</th:block>
							</td>
							<td>
								<form th:action="@{/attendance/detail}">
									<input type="hidden" name="lmsUserId" th:value="${userDetailDto.lmsUserId}" />
									<input type="hidden" name="courseId" th:value="${userDetailDto.courseId}" />
									<input type="submit" value="勤怠確認" class="btn btn-default" />
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>

</html>