<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>勤怠情報変更｜LMS</title>
</head>
<body>

	<th:block th:if="${session.loginUserDto.role == '0001'}">
		<h2>勤怠管理</h2>
	</th:block>

	<th:block th:if="${session.loginUserDto.role != '0001'}">
		<h2>勤怠管理 <small>( [[${attendanceForm.userName}]] )</small></h2>
		<th:block th:if="${session.loginUserDto.leaveFlg == '1'}">
			<h2><small>途中退校日：${dispLeaveDate}</small></h2>
		</th:block>
	</th:block>

	<div class="row" th:object="${attendanceForm}">
		<div class="bs-component col-sm-12">

			<!-- Task.27 ①入力チェックの実装 -->
			<ul style="padding-left: 0; list-style: none;">
				<li th:each="error : ${#fields.detailedErrors()}">
					<span th:if="${!#strings.isEmpty(error.message)}" class="help-inline error">*&nbsp;[[${error.message}]]</span>
				</li>
			</ul>

			<form th:action="@{/attendance/update}" th:method="post" name="attendanceForm">
				<table class="table table-hover dataTable no-footer">
					<thead class="db">
						<tr>
							<th class="w140">日付</th>
							<th class="w140">コース内容</th>
							<th class="w60"></th>
							<th class="w180" colspan="3">出勤</th>
							<th class="w180" colspan="3">退勤</th>
							<th class="w80">中抜け時間</th>
							<th class="w70">ステータス</th>
							<th class="w140">備考</th>
						</tr>
					</thead>
					<!-- Task.29 一覧のスクロール表示 -->
					<tbody class="db" style="overflow-y: scroll; height: 560px;">
						<tr th:each="day, stat : *{attendanceList}" th:classappend="${day.isToday} ? info : ''">
							<th:block>
								<input type="hidden" th:name="|attendanceList[${stat.index}].isToday|" th:value="${day.isToday}" />
								<input type="hidden" th:name="|attendanceList[${stat.index}].studentAttendanceId|" th:value="${day.studentAttendanceId}" />
								<input type="hidden" th:name="|attendanceList[${stat.index}].trainingDate|" th:value="${day.trainingDate}" />
								<input type="hidden" th:name="|attendanceList[${stat.index}].dispTrainingDate|" th:value="${day.dispTrainingDate}" />
								<input type="hidden" th:name="|attendanceList[${stat.index}].sectionName|" th:value="${day.sectionName}" />
								<input type="hidden" th:name="|attendanceList[${stat.index}].statusDispName|" th:value="${day.statusDispName}" />
							</th:block>
							<td class="w140">[[${day.dispTrainingDate}]]</td>
							<td class="w140">[[${day.sectionName}]]</td>

							<!-- Task.28 定時の自動反映 -->
							<td class="w60">
								<button type="button" class="btn btn-success default-button" th:value="${stat.index}">定時</button>
							</td>

							<!-- Task.26 出退勤時間の入力方法変更 -->
							<!-- Task.27 ①入力チェックの実装 -->
							<td class="w70">
								<select th:id="|startHour${stat.index}|" th:name="|attendanceList[${stat.index}].trainingStartTimeHour|" 
									 th:errorclass="errorInput" class="form-control">
									<option th:each="hour : *{hourMap}" th:value="${hour.key}" th:inlne="text" class="form-control" 
										th:selected="${hour.key == day.trainingStartTimeHour}">[[${hour.value}]]</option>
								</select>
							</td>
							<td class="">:</td>
							<td class="w70">
								<select th:id="|startMinute${stat.index}|" th:name="|attendanceList[${stat.index}].trainingStartTimeMinute|" 
									 th:errorclass="errorInput" class="form-control">
									<option th:each="minute : *{minuteMap}" th:value="${minute.key}" th:inlne="text" class="form-control" 
										th:selected="${minute.key == day.trainingStartTimeMinute}">[[${minute.value}]]</option>
								</select>
							</td>
							<td class="w70">
								<select th:id="|endHour${stat.index}|" th:name="|attendanceList[${stat.index}].trainingEndTimeHour|" 
									 th:errorclass="errorInput" class="form-control">
									<option th:each="hour : *{hourMap}" th:value="${hour.key}" th:inlne="text" class="form-control" 
										th:selected="${hour.key == day.trainingEndTimeHour}">[[${hour.value}]]</option>
								</select>
							</td>
							<td class="">:</td>
							<td class="w70">
								<select th:id="|endMinute${stat.index}|" th:name="|attendanceList[${stat.index}].trainingEndTimeMinute|" 
									 th:errorclass="errorInput" class="form-control">
									<option th:each="minute : *{minuteMap}" th:value="${minute.key}" th:inlne="text" class="form-control" 
										th:selected="${minute.key == day.trainingEndTimeMinute}">[[${minute.value}]]</option>
								</select>
							</td>

							<td class="w80">
								<select th:name="|attendanceList[${stat.index}].blankTime|" th:errorclass="errorInput" class="form-control">
									<option th:each="blankTime : *{blankTimes}" th:value="${blankTime.key}" th:inlne="text" class="form-control" 
										th:selected="${blankTime.key == day.blankTime}">[[${blankTime.value}]]</option>
								</select>
							</td>
							<td class="w70">[[${day.statusDispName}]]</td>
							<td class="w140">
								<input type="text" th:name="|attendanceList[${stat.index}].note|" th:value="${day.note}"
									th:errorclass="errorInput" class="form-control"></input>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="form-group">
					<th:block th:if="${session.loginUserDto.role == '0001'}">
						<a th:href="@{/attendance/detail}" class="btn btn-default">戻る</a>
					</th:block>
					<th:block th:if="${session.loginUserDto.role != '0001'}">
						<input type="submit" name="indexCompany" class="btn btn-default" value="戻る" />
					</th:block>
					<!-- Task.27 ②確認ダイアログの追加-->
					<input type="submit" th:name="complete" class="btn btn-info update-button" th:value="更新" />
				</div>

			</form>
		</div>
	</div>

	<script>
		// Task.27 ②確認ダイアログの追加
		$(function() {
			$(".update-button").click(function(){
				confirm("更新します。よろしいですか？");
			});
		});
		// Task.28 定時の自動反映
		$(function() {
			$('.default-button').click(function(){
				const index = $(this).val();
				$('#startHour' + index).val(9);
				$('#startMinute' + index).val(0);
				$('#endHour' + index).val(18);
				$('#endMinute' + index).val(0);
			});
		});
	</script>

</body>
</html>