<!-- Task.70 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>ユーザー一覧(受講生以外のユーザー) | LMS</title>
</head>
<body>

	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span th:text=${message}></span>
		</div>
	</th:block>

	<h2>ユーザー一覧<small>（受講生以外のユーザー) </small></h2>

	<div class="well bs-component">
		<fieldset>
			<legend>ユーザー追加</legend>
			<div class="form-group">
				<a th:href="@{/user/registMenu}" class="btn btn-default">新規登録</a>
			</div>
		</fieldset>
	</div>

	<div id="user-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
		<div class="row">
			<div class="col-sm-6">
				<div class="dataTables_length" id="user-table_length"></div>
			</div>
			<div class="col-sm-6"></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-hover sortabletable dataTable no-footer" id="user-table" role="grid" aria-describedby="user-table_info">
					<thead>
						<tr role="row">
							<th class="sorting_asc" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending">ID</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-label="ユーザー名: activate to sort column ascending">ユーザー名</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-label="種別: activate to sort column ascending">種別</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-label="企業名: activate to sort column ascending">企業名</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-label="詳細: activate to sort column ascending">詳細</th>
							<th>削除</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="userDetailDto, stat : ${userDetailDtoList}" class="odd" role="row">

							<td class="sorting_1">[[${userDetailDto.userId}]]</td>
							<td>[[${userDetailDto.userName}]]</td>
							<td th:if="${userDetailDto.role == '0003'}">企業担当者</td>
							<td th:if="${userDetailDto.role == '0005'}">育成担当者</td>
							<td>[[${userDetailDto.companyName}]]</td>

							<td>
								<form method="post" th:action="@{/user/detail}">
									<input type="hidden" name="lmsUserId" th:value="${userDetailDto.lmsUserId}" />
									<input type="submit" value="詳細" class="btn btn-default" />
								</form>
							</td>
							<td>
								<form th:action="@{/user/list/company}" method="post" onsubmit="return delcheck()">
									<input type="hidden" name="lmsUserId" th:value="${userDetailDto.lmsUserId}" />
									<input type="hidden" name="userId" th:value="${userDetailDto.userId}" />
									<input type="submit" name="delete" value="削除" class="btn btn-default" />
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>