<!--Task.45 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>パスワード再発行 | LMS</title>
</head>
<body>

	<h2>パスワード変更</h2>
	<h3>パスワードを再発行しました。以下の情報をユーザーに知らせてください。</h3>

	<div class="panel panel-default">
		<div class="panel-body">
			<fieldset>

				<legend>ログインID</legend>
				<div class="form-group">
					<strong>[[${loginId}]]</strong>
				</div>

				<legend>パスワード</legend>
				<div class="form-group">
					<strong>[[${randomPassword}]]</strong>
				</div>

			</fieldset>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<form name="indexActionForm" method="post" th:action="@{/course/list}">
				<input type="submit" value="戻る" class="btn btn-default" />
			</form>
		</div>
	</div>

	<script>
		$(function() {
			$(window).on("beforeunload", function() {
				return "このページはパスワードを知る最後の機会です。ページを離れますか？";
			});
		});
	</script>

</body>
</html>