<!-- Task.59 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>引継面談／会場見学 スケジュール一覧 | LMS</title>
</head>
<body>

	<!-- Task.74 -->
	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span th:text=${message}></span>
		</div>
	</th:block>

	<h2>引継面談／会場見学 スケジュール一覧</h2>

	<table class="table table-hover sortabletable">
		<thead>
			<tr>
				<th>用途</th>
				<th>開始日</th>
				<th>終了日</th>
				<th>予約編集期限</th>
				<th>会場名</th>
				<th>詳細</th>
			</tr>
		</thead>
		<tr th:each="takeOverScheduleDto : ${takeOverScheduleDtoList}">
			<td>[[${takeOverScheduleDto.purpose}]]</td>
			<td>[[${#dates.format(takeOverScheduleDto.meetingOpenDate, "yyyy年M月d日")}]]</td>
			<td>[[${#dates.format(takeOverScheduleDto.meetingCloseDate, "yyyy年M月d日")}]]</td>
			<td>[[${#dates.format(takeOverScheduleDto.editLimit, "yyyy年M月d日")}]]</td>
			<td>[[${takeOverScheduleDto.placeName}]]</td>
			<td>
				<form th:action="@{/takeOver/detail}" method="post" class="ib">
					<input type="submit" class="btn btn-default" value="詳細" />
					<input type="hidden" name="meetingScheduleId" th:value="${takeOverScheduleDto.meetingScheduleId}" />
					<input type="hidden" name="purpose" th:value="${takeOverScheduleDto.purpose}" />
					<input type="hidden" name="editLimit" th:value="${#dates.format(takeOverScheduleDto.editLimit, 'yyyy/MM/dd')}" />
					<input type="hidden" name="meetingPlaceId" th:value="${takeOverScheduleDto.meetingPlaceId}" />
					<input type="hidden" name="placeName" th:value="${takeOverScheduleDto.placeName}" />
					<input type="hidden" name="placeDescription" th:value="${takeOverScheduleDto.placeDescription}" />
					<input type="hidden" name="placeNote" th:value="${takeOverScheduleDto.placeNote}" />
				</form>
			</td>
		</tr>
	</table>

</body>
</html>