<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>引継面談／会場見学 実施日登録 | LMS</title>
</head>
<body>

	<h2>引継面談／会場見学 実施日登録<small>（実施日時登録）</small></h2>

	<form th:action="@{/takeOver/registDate}" method="post" class="form-horizontal" th:object="${takeOverScheduleRegistForm}">
		<div class="well bs-component">
			<fieldset>
				<legend>基本情報</legend>
			
				<div class="form-group">
					<label for="purpose" class="col-lg-2 control-label">用途</label>
					<div class="col-lg-10">
						<input type="text" th:field="*{purpose}" th:errorclass="errorInput" class="form-control" />
						<span th:errors="*{purpose}" class="help-inline error"></span>
					</div>
				</div>
			
				<div class="form-group">
					<label for="meetingOpenDate" class="col-lg-2 control-label">開始日</label>
					<div class="col-lg-10">
						<input type="text" th:field="*{meetingOpenDate}" th:errorclass="errorInput" class="form-control datepicker" />
						<span th:errors="*{meetingOpenDate}" class="help-inline error"></span>
					</div>
				</div>
			
				<div class="form-group">
					<label for="meetingCloseDate" class="col-lg-2 control-label">終了日</label>
					<div class="col-lg-10">
						<input type="text" th:field="*{meetingCloseDate}" th:errorclass="errorInput" class="form-control datepicker" />
						<span th:errors="*{meetingCloseDate}" class="help-inline error"></span>
					</div>
				</div>
			
				<div class="form-group">
					<label for="editLimit" class="col-lg-2 control-label">予約編集期限</label>
					<div class="col-lg-10">
						<input type="text" th:field="*{editLimit}" th:errorclass="errorInput" class="form-control datepicker" />
						<span th:errors="*{editLimit}" class="help-inline error"></span>
					</div>
				</div>
			
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" value="対象企業を選択する" class="btn btn-primary" />
					</div>
				</div>
			</fieldset>
		</div>
	</form>

</body>
</html>