<!-- Task.111 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>引継面談／会場見学 実施日登録（日程登録） | LMS</title>
</head>
<body>

	<h2>引継面談／会場見学 実施日登録<small>（日程登録）</small></h2>

	<form th:action="@{/takeOver/selectDate}" method="post" th:object="${takeOverSelectDateForm}">
		<input type="hidden" th:field="*{meetingScheduleId}" />
		<input type="hidden" th:field="*{purpose}" />
		<input type="hidden" name="meetingOpenDate" th:value="*{#dates.format(meetingOpenDate, 'yyyy/MM/dd')}" />
		<input type="hidden" name="meetingCloseDate" th:value="*{#dates.format(meetingCloseDate, 'yyyy/MM/dd')}" />
		<input type="hidden" name="editLimit" th:value="*{#dates.format(editLimit, 'yyyy/MM/dd')}" />

		<h3>基本情報</h3>
		<table class="table table-hover">
			<tbody>
				<tr>
					<th class="wq">用途</th>
					<td>[[*{purpose}]]</td>
				</tr>
				<tr>
					<th>開始日</th>
					<td>[[*{#dates.format(meetingOpenDate, "yyyy年M月d日")}]]</td>
				</tr>
				<tr>
					<th>終了日</th>
					<td>[[*{#dates.format(meetingCloseDate, "yyyy年M月d日")}]]</td>
				</tr>
				<tr>
					<th>予約編集期限</th>
					<td>[[*{#dates.format(editLimit, "yyyy年M月d日")}]]</td>
				</tr>
			</tbody>
		</table>
	
		<h3>日程情報</h3>
	
		<ul style="padding-left: 0; list-style: none;">
			<li th:each="error : ${#fields.detailedErrors()}">
				<span th:if="${!#strings.isEmpty(error.message)}" class="help-inline error">*&nbsp;[[${error.message}]]</span>
			</li>
		</ul>
	
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="w100">日付</th>
					<th class="w100">時間</th>
					<th class="w50">編集</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="*{!#lists.isEmpty(meetingDateList)}" th:each="meetingDate, stat : *{meetingDateList}">
					<td>
						<input type="text" th:id="'meetingDate[' + ${stat.index} + ']'" th:errorclass="errorInput" class="form-control datepicker"
							th:name="'meetingDateList[' + ${stat.index} + ']'" th:value="${meetingDate}"  />
					</td>
					<td>
						<input type="text" th:id="'meetingTime[' + ${stat.index} + ']'" th:errorclass="errorInput" class="form-control"
							th:name="'meetingTimeList[' + ${stat.index} + ']'" th:value="*{meetingTimeList[__${stat.index}__]}"  />
					</td>
					<td>
	                  	<input type="button" value="追加" class="btn btn-default add-row-btn" />
	                  	<input type="button" value="削除" class="btn btn-default del-row-btn calc" />
					</td>
				</tr>
				<tr th:if="*{#lists.isEmpty(meetingDateList)}">
					<td>
						<input type="text" id="meetingDate[0]"  th:errorclass="errorInput" class="form-control datepicker" name="meetingDateList[0]"  />
					</td>
					<td>
						<input type="text" id="meetingTime[0]"  th:errorclass="errorInput" class="form-control" name="meetingTimeList[0]"  />
					</td>
					<td>
	                  	<input type="button" value="追加" class="btn btn-default add-row-btn" />
	                  	<input type="button" value="削除" class="btn btn-default del-row-btn calc" />
					</td>
				</tr>
			</tbody>
		</table>
	
		<div class="form-group">
			<div class="mb20">
				<strong class="text-warning">※スケジュールを公開すると、企業担当者様が予約可能となります。ご注意ください。</strong>
			</div>
			<input type="submit" value="スケジュールを登録する" class="btn btn-primary" />
		</div>
	
	</form>

	<script>
		$(document).on('click', 'input.add-row-btn',  function(){addRow(this);});
		$(document).on('click', 'button.add-row-btn', function(){addRow(this);});
		$(document).on('click', 'a.add-row-btn',      function(){addRow(this);});
		
		$(document).on('click', 'input.del-row-btn',  function(){delRow(this);});
		$(document).on('click', 'button.del-row-btn', function(){delRow(this);});
		$(document).on('click', 'a.del-row-btn',      function(){delRow(this);});
		
		function addRow(element) {
		  var rowIndex = element.parentNode.parentNode.rowIndex;
		  $(element).parent().parent().after($(element).parent().parent().prop('outerHTML'));
		  $('.datepicker').datepicker({
		      format: 'yyyy-mm-dd',
		      language: 'ja',
		      autoclose: true
		  });
		  var tbodyElement = $(element).parent().parent().parent();
		  reIndex(tbodyElement, rowIndex);
		}
		
		function delRow(element) {
		  var rowLength = $(element).parent().parent().parent().children().length;
		  if ($(element).parent().parent().parent().children().length == 1) {
		    alert('行は最低一行必要です。');
		    return;
		  }
		  var tbodyElement = $(element).parent().parent().parent();
		  $(element).parent().parent().remove();
		  reIndex(tbodyElement, -1);
		}
	</script>

</body>
</html>