<!-- Task.110 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>引継面談／会場見学 実施日登録 | LMS</title>
</head>
<body>

	<h2>引継面談／会場見学 実施日登録<small>（会場／企業選択）</small></h2>

	<form th:action="@{/takeOver/selectCompany}" method="post" th:object="${takeOverSelectCompanyForm}">
		<input type="hidden" th:field="*{meetingScheduleId}" />
		<input type="hidden" th:field="*{purpose}" />
		<input type="hidden" name="meetingOpenDate" th:value="*{#dates.format(meetingOpenDate, 'yyyy/MM/dd')}" />
		<input type="hidden" name="meetingCloseDate" th:value="*{#dates.format(meetingCloseDate, 'yyyy/MM/dd')}" />
		<input type="hidden" name="editLimit" th:value="*{#dates.format(editLimit, 'yyyy/MM/dd')}" />

		<h3>基本情報</h3>
		<table class="table table-hover">
			<tbody>
				<tr>
					<th class="wq">用途</th>
					<td>[[*{purpose}]]</td>
				</tr>
				<tr>
					<th>開始日</th>
					<td>[[*{#dates.format(meetingOpenDate, "yyyy年M月d日")}]]</td>
				</tr>
				<tr>
					<th>終了日</th>
					<td>[[*{#dates.format(meetingCloseDate, "yyyy年M月d日")}]]</td>
				</tr>
				<tr>
					<th>予約編集期限</th>
					<td>[[*{#dates.format(editLimit, "yyyy年M月d日")}]]</td>
				</tr>
			</tbody>
		</table>
	
		<h3>会場／企業選択</h3>
		<div class="well bs-component">
			<fieldset>
				<legend>検索</legend>
				<div class="form-group">
					<label for="selectedPlaceId" class="col-lg-2 control-label">対象会場</label>
					<div class="col-lg-8">
						<div class="col-lg-10 col-lg-offset-1">
							<select id="selectedPlaceId" name="selectedPlaceId" class="form-control">
								<option value=""></option>
								<option th:each="placeDto : *{placeDtoList}" th:value="${placeDto.placeId}"
									th:selected="${placeDto.placeId} == *{selectedPlaceId}">[[${placeDto.placeName}]]</option>
							</select>
							<br />
							<strong class="text-warning"> ※登録したい会場を選択してください。</strong>
						</div>
					</div>
					<script>
						// 選択された会場の企業を表示
						$(function () {
							$("#selectedPlaceId").change(function () {
								const selectedPlaceId = $(this).val();
								$("#targetTable tr").each(function () {
									const targetPlaceId = $(this).children("td").children(".companyPlaceId").val();
									if (targetPlaceId === selectedPlaceId) {
										$(this).removeClass("hidden");
										$(this).children("td").children(".icon-checkbox").addClass("not-hidden");
									} else {
										$(this).addClass("hidden");
										$(this).children("td").children(".icon-checkbox").removeClass("not-hidden");
									}
									$(".icon-checkbox").prop("checked", false);
								});
							});
						});
					</script>
				</div>
			</fieldset>
		</div>
	
		<ul style="padding-left: 0; list-style: none;">
			<li th:each="error : ${#fields.detailedErrors()}">
				<span th:if="${!#strings.isEmpty(error.message)}" class="help-inline error">*&nbsp;[[${error.message}]]</span>
			</li>
		</ul>
	
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="w10">
						<input id="checkbox-all" class="icon-checkbox" type="checkbox" />
						<label for="checkbox-all" class="text-info">
							<span class="glyphicon glyphicon-unchecked unchecked"></span>
							<span class="glyphicon glyphicon-check checked"></span>
						</label>
						<script>
							// チェックボックスをすべて選択
							$(function () {
								$("#checkbox-all").click(function () {
									var flg = $("#checkbox-all").prop("checked");
									if (flg) {
										$(".not-hidden").prop("checked", true);
									} else {
										$(".not-hidden").prop("checked", false);
									}
								});
							});
						</script>
					</th>
					<th class="w50">会場名</th>
					<th class="w70">会場所在地</th>
					<th class="w50">企業名</th>
					<th class="w70">企業所在地</th>
					<th class="w140">コース情報</th>
				</tr>
			</thead>
			<tbody  id="targetTable">
				<tr class="hidden" th:each="companyCourseDto, stat : *{companyCourseDtoList}">
					<td>
						<input type="checkbox" th:id="'companyId_' + ${stat.index}"  class="icon-checkbox"
							th:name="'selectedCompanyIdList[' + ${stat.index} + ']'" th:value="${companyCourseDto.companyId}" />
						<label th:for="'companyId_' + ${stat.index}" class="text-info">
							<span class="glyphicon glyphicon-unchecked unchecked"></span>
							<span class="glyphicon glyphicon-check checked"></span>
						</label>
						<input type="hidden" class="companyPlaceId" th:value="${companyCourseDto.placeId}" />
					</td>
					<td>[[${companyCourseDto.placeName}]]</td>
					<td>[[${companyCourseDto.placeAddress}]]</td>
					<td>[[${companyCourseDto.companyName}]]</td>
					<td>[[${companyCourseDto.companyAddress}]]</td>
					<td>[[${companyCourseDto.courseName}]]( [[${#dates.format(companyCourseDto.openTime, "yyyy年M月d日")}]] ～ [[${#dates.format(companyCourseDto.closeTime, "yyyy年M月d日")}]] )</td>
				</tr>
			</tbody>
		</table>
	
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="選択した企業を対象とする" />
		</div>
	
	</form>

</body>
</html>