<!-- Task.67 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="utf-8">
<title>受講生登録 | LMS</title>
</head>

<body>

	<h2>受講生登録</h2>
	<div class="well bs-component" th:object="${studentRegistForm}">

		<h3>[[*{courseName}]]</h3>
		<form th:action="@{/student/regist}" method="post" class="form-horizontal">
			<input type="hidden" th:field="*{companyId}" />
			<input type="hidden" th:field="*{companyCourseId}" />
			<input type="hidden" th:field="*{courseId}" />
			<input type="hidden" th:field="*{courseName}" />

			<th:block th:each="studentDto, stat : *{studentDtoList}">
				<h4>受講生情報（[[${stat.count}]]人目）</h4>
				<table class="table">
					<thead>
						<tr>
							<th>会場</th>
							<th><label th:for="'userName' + ${stat.index}">受講生名</label></th>
							<th><label th:for="'kana' + ${stat.index}">よみがな</label></th>
							<th><label th:for="'programmingExperience' + ${stat.index}">プログラム経験</label></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>[[${studentDto.placeName}]]
								<input type="hidden" th:name="'studentDtoList[' + ${stat.index} + '].placeId'" th:value="${studentDto.placeId}" />
								<input type="hidden" th:name="'studentDtoList[' + ${stat.index} + '].placeName'" th:value="${studentDto.placeName}" />
							</td>
							<td>
								<input type="text" th:name="'studentDtoList[' + ${stat.index} + '].userName'" th:id="'userName' + ${stat.index}" 
								th:value="${studentDto.userName}" class="form-control" th:errorclass="errorInput" />
								<span th:errors="*{studentDtoList[__${stat.index}__].userName}"  class="help-inline error"></span>
							</td>
							<td>
								<input type="text" th:name="'studentDtoList[' + ${stat.index} + '].kana'" th:id="'kana' + ${stat.index}" 
								th:value="${studentDto.kana}" class="form-control" th:errorclass="errorInput" />
								<span th:errors=*{studentDtoList[__${stat.index}__].kana}  class="help-inline error"></span>
							</td>
							<td>
								<select th:name="'studentDtoList[' + ${stat.index} + '].programmingExperience'" 
								th:id="'programmingExperience' + ${stat.index}" class="form-control">
									<option value=""></option>
									<option value="1" th:selected="${studentDto.programmingExperience == 1}">あり</option>
									<option value="0" th:selected="${studentDto.programmingExperience == 0}">なし</option>
								</select>
							</td>
						</tr>
						<tr>
							<th colspan="5"><label th:for="'subsidyCategoryId' + ${stat.index}">使用する助成金</label></th>
						</tr>
						<tr>
							<td colspan="5">
								<select th:name="'studentDtoList[' + ${stat.index} + '].subsidyCategoryId'"
								th:id="'subsidyCategoryId' + ${stat.index}" class="form-control">
									<option value=""></option>
									<option  th:each="subsidyCategoryDto : *{subsidyCategoryDtoList}" th:value="${subsidyCategoryDto.subsidyCategoryId}" 
									th:selected="${studentDto.subsidyCategoryId == subsidyCategoryDto.subsidyCategoryId}">[[${subsidyCategoryDto.subsidyCategoryName}]]</option>
								</select>
								<strong class="text-role">※使用する助成金は、ユーザー変更画面で変更することも可能です。
								<br />　助成金を使用しない場合は、未選択で構いません。</strong>
							</td>
						</tr>
						<tr>
							<th colspan="5"><label th:for="'hopeViaTraning' + ${stat.index}">研修を通じてどのようになって欲しいか</label></th>
						</tr>
						<tr>
							<td colspan="5">
								<textarea th:name="'studentDtoList[' + ${stat.index} + '].hopeViaTraning'"
								th:id="'hopeViaTraning' + ${stat.index}" class="form-control"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</th:block>
			
			<input type="submit" value="登録" onclick="submitcheck();" style="margin-top: 10px;" class="btn btn-primary" />
		</form>

	</div>

</body>
</html>