<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>ユーザー変更 | LMS</title>
<body>
	<div class="container">
		<div id="contents" class="clearfix">
			<div id="main" class="main2clm">
				<h2>ユーザー変更</h2>
				<div class="well bs-component">
					<form th:action="@{/student/update}" method="post" th:object="${studentUpdateForm}" class="form-horizontal">
						<fieldset>
							<legend> 受講生ユーザー </legend>
							<div class="form-group">
								<label id="loginId" class="col-lg-2 control-label">ログインID</label>
								<div class="col-lg-10">
									<input type="text" name="loginId" th:value="*{loginId}" readonly="readonly" id="loginId" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label id="userName" class="col-lg-2 control-label">ユーザー名</label>
								<div class="col-lg-10">
									<input type="text" name="userName" th:value="*{userName}" id="userName" class="form-control" th:errorclass="errorInput">
									<span th:errors="*{userName}" class="help-inline error"></span>
								</div>
							</div>
							<div class="form-group">
								<label id="kana" class="col-lg-2 control-label">よみがな</label>
								<div class="col-lg-10">
									<input type="text" name="kana" th:value="*{kana}" id="kana" class="form-control" th:errorclass="errorInput">
									<span th:errors="*{kana}" class="help-inline error"></span>
								</div>
							</div>
							<div class="form-group">
								<label id="courseId" class="col-lg-2 control-label">コース</label>
								<div class="col-lg-10">
									<input type="text" name="courseName" th:value="*{courseName}" readonly="readonly" id="courseId" class="form-control">
									<input type="hidden" name="courseId" th:value="*{courseId}">
								</div>
							</div>
							<div class="form-group">
								<label id="placeId" class="col-lg-2 control-label">会場</label>
								<div class="col-lg-10">
									<input type="text" name="placeName" th:value="*{placeName}" readonly="readonly" id="placeId" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label id="companyId" class="col-lg-2 control-label">企業</label>
								<div class="col-lg-10">
									<input type="text" name="companyName" th:value="*{companyName}" readonly="readonly" id="companyId" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label id="subsidyCategoryName" class="col-lg-2 control-label">使用する助成金</label>
								<div class="col-lg-10">
									<select name="subsidyCategoryId" id="subsidyCategoryId" class="form-control">
										<option value=""></option>
										<option th:each="subsidyCategoryDto : ${subsidyCategoryDtoList}" th:label="${subsidyCategoryDto.subsidyCategoryName}" th:value="${subsidyCategoryDto.subsidyCategoryId}"
											th:selected="${subsidyCategoryDto.subsidyCategoryId} == *{subsidyCategoryId}"></option>

									</select> <strong class="text-role">※助成金を使用しない場合は、未選択で構いません。</strong>
								</div>
							</div>
							<div class="form-group">
								<label id="hopeViaTraning" class="col-lg-2 control-label">研修を通じてどのように<br>なってほしいか
								</label>
								<div class="col-lg-10">
									<textarea name="hopeViaTraning" id="hopeViaTraning" class="form-control" th:value="*{hopeViaTraning}">[[*{hopeViaTraning}]]</textarea>
								</div>
							</div>

							<div class="form-group">
								<label id="programmingExperience" class="col-lg-2 control-label">プログラム経験</label>
								<div class="col-lg-10">
									<select name="programmingExperience" id="programmingExperience" class="form-control" th:value="*{programmingExperience}">
										<option value=""></option>
										<option th:value="0" th:selected="*{programmingExperience}== 0">なし</option>
										<option th:value="1" th:selected="*{programmingExperience}== 1">あり</option>
									</select>
								</div>
							</div>
							<input type="hidden" name="lmsUserId" th:value="*{lmsUserId}" />
							<input type="hidden" name="userId" th:value="*{userId}" />
							<input type="submit" name="complete" th:value="変更" class="btn btn-primary">
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>