<!-- Task.100 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>動画カテゴリー一覧 | LMS</title>
</head>
<body>

	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${message}]]</span>
		</div>
	</th:block>

	<h2>動画一覧</h2>

	<div class="well bs-component">

		<fieldset>
			<legend>動画カテゴリー新規作成</legend>
			<div class="form-group">
				<form th:action="@{/movie/categoryRegist}" method="post">
					<input type="submit" value="新規登録" class="btn btn-default" />
				</form>
			</div>
		</fieldset>

		<form th:action="@{/movie/categoryList}" class="form-horizontal" th:object="${movieCategoryForm}">

			<fieldset>
				<legend>検索</legend>
				<div class="form-group">
					<label for="date" class="col-lg-2 control-label">動画カテゴリー名</label>
					<div class="col-lg-10">
						<input type="text" name="movieCategoryName" th:value="*{movieCategoryName}" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" value="検索" class="btn btn-primary" />
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>表示確認</legend>
				<a th:href="@{/movie}" class="btn btn-default">動画視聴画面を開く</a>
			</fieldset>

		</form>

	</div>

	<p th:errors="${movieCategoryForm.movieCategoryId}" class="help-inline error"></p>

	<div th:each="movieCategoryDto : ${movieCategoryDtoList}" class="panel panel-default" th:object="${movieForm}">
		<div class="panel-heading">[[${movieCategoryDto.movieCategoryName}]]</div>
		<div class="panel-body">
			<h4 style="display: inline">カテゴリ情報　</h4>
			<form th:action="@{/movie/categoryRegist}" method="post" style="display: inline">
				<input type="hidden" name="movieCategoryId" th:value="${movieCategoryDto.movieCategoryId}" />
				<input type="submit" value="変更" class="btn btn-default" />
			</form>
			<form th:action="@{/movie/categoryDelete}" method="post" style="display: inline">
				<input type="hidden" name="movieCategoryId" th:value="${movieCategoryDto.movieCategoryId}" />
				<input type="submit" value="削除" class="btn btn-default" onclick="return delcheck()" />
			</form>
			<form th:action="@{/movie/regist}" method="post" style="display: inline">
				<input type="hidden" name="movieCategoryId" th:value="${movieCategoryDto.movieCategoryId}" />
				<input type="submit" value="動画を追加" class="btn btn-default" />
			</form>
			<hr />
			<div class="form-group row">
				<label class="col-md-2 text-right">動画カテゴリーID</label>
				<div class="col-md-10">[[${movieCategoryDto.movieCategoryId}]]</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 text-right">動画カテゴリー名</label>
				<div class="col-md-10">[[${movieCategoryDto.movieCategoryName}]]</div>
			</div>

			<h4>動画一覧</h4>
			<p th:if="${movieCategoryDto.movieCategoryId} == *{movieCategoryId}" th:errors="*{movieId}" class="help-inline error"></p>
			<table th:if="${not #lists.isEmpty(movieCategoryDto.movieDtoList)}" class="table table-hover">
				<tr>
					<th>動画ID</th>
					<th>動画名</th>
					<th>URL</th>
					<th>表示順変更</th>
					<th>編集</th>
				</tr>
				<tr th:each="movieDto : ${movieCategoryDto.movieDtoList}">
					<td>[[${movieDto.movieId}]]</td>
					<td>[[${movieDto.movieName}]]</td>
					<td>[[${movieDto.url}]]</td>
					<td>
						<form th:action="@{/movie/updateMoveup}" method="post">
							<input type="hidden" name="movieId" th:value="${movieDto.movieId}" />
							<input type="hidden" name="movieCategoryId" th:value="${movieCategoryDto.movieCategoryId}" />
							<input type="submit" value="↑" class="btn btn-default" />
						</form>
						<form th:action="@{/movie/updateMovedown}" method="post">
							<input type="hidden" name="movieId" th:value="${movieDto.movieId}" />
							<input type="hidden" name="movieCategoryId" th:value="${movieCategoryDto.movieCategoryId}" />
							<input type="submit" value="↓" class="btn btn-default" />
						</form>
					</td>
					<td>
						<form th:action="@{/movie/regist}" method="post">
							<input type="hidden" name="movieId" th:value="${movieDto.movieId}" />
							<input type="submit" value="変更" class="btn btn-default" />
						</form>
						<form th:action="@{/movie/delete}" method="post">
							<input type="hidden" name="movieId" th:value="${movieDto.movieId}" />
							<input type="hidden" name="movieCategoryId" th:value="${movieCategoryDto.movieCategoryId}" />
							<input type="submit" value="削除" class="btn btn-default" onclick="return delcheck()" />
						</form>
					</td>
				</tr>
			</table>

			<th:block th:if="${#lists.isEmpty(movieCategoryDto.movieDtoList)}" >
				<hr />
				<div class="form-group">
					<small>※動画を追加してください。</small>
				</div>
			</th:block>

		</div>
	</div>

</body>
</html>