<!-- Task.101 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>動画カテゴリー[[${movieCategoryForm.movieCategoryId == null ? '登録' : '変更'}]] | LMS</title>
</head>
<body>

	<h2>動画カテゴリー[[${movieCategoryForm.movieCategoryId == null ? '登録' : '変更'}]]</h2>
	<div class="well bs-component">
		<form th:action="@{/movie/categoryRegist}" class="form-horizontal" method="post" th:object="${movieCategoryForm}">
			<fieldset>
				<legend>動画カテゴリー情報</legend>

				<p th:errors="*{movieCategoryId}" class="help-inline error"></p>

				<div class="form-group">
					<label for="movieCategoryName" class="col-lg-2 control-label">動画カテゴリー名</label>
					<div class="col-lg-10">
						<input type="text" name="movieCategoryName" th:value="*{movieCategoryName}" class="form-control"
							id="movieCategoryName" th:errorclass="errorInput" />
						<span th:errors="*{movieCategoryName}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" name="complete" th:value="|*{movieCategoryId == null ? '登録' : '変更'}する|" class="btn btn-primary" />
						<input type="hidden" name="movieCategoryId" th:value="*{movieCategoryId}" >
					</div>
				</div>
			</fieldset>
		</form>
	</div>


</body>
</html>