<!--Task.30 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>動画一覧 | LMS</title>
</head>
<body>

	<h2>動画視聴</h2>

	<!-- Task.31 -->
	<script>
		$(function() {
			$('.toggle-btn').click(function() {
					if ($(this).parent().next('.panel-body').attr('class') === 'panel-body dn') {
						$(this).parent().next('.panel-body').attr('class', 'panel-body');
						$(this).attr('class','toggle-btn toggle-btn-up');
					} else {
						$(this).parent().next('.panel-body').attr('class', 'panel-body dn');
						$(this).attr('class','toggle-btn toggle-btn-down');
					}
				});
		});
	</script>

	<div th:if="${#lists.isEmpty(movieCategoryDtoList)}">※現在視聴出来る動画はありません。</div>
	<div th:unless="${#lists.isEmpty(movieCategoryDtoList)}">

		<div th:each="movieCategoryDto: ${movieCategoryDtoList}">

			<div class="panel panel-default">
				<div class="panel-heading">
					<!-- Task.31 -->
					<span class="toggle-btn toggle-btn-up"></span>
					<div th:text="${movieCategoryDto.movieCategoryName}"></div>
				</div>

				<div class="panel-body">
					<div th:if="${#lists.isEmpty(movieCategoryDto.movieDtoList)}">※現在視聴出来る動画はありません。</div>
					<div th:unless="${#lists.isEmpty(movieCategoryDto.movieDtoList)}">

						<table class="table table-hover">
							<thead>
								<tr>
									<th class="wh">動画名</th>
									<th>視聴</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="movieDto: ${movieCategoryDto.movieDtoList}">
									<td th:text="${movieDto.movieName}"></td>
									<td>
										<a th:href="${movieDto.url}" class="btn btn-info" target="_blank">視聴する</a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>
	</div>

</body>
</html>