<!-- Task.102 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>動画[[${movieForm.movieId == null ? '登録' : '変更'}]] | LMS</title>
</head>
<body>

	<h2>動画[[${movieForm.movieId == null ? '登録' : '変更'}]]</h2>
	<div class="well bs-component">
		<form class="form-horizontal" method="post" th:object="${movieForm}">
			<fieldset>
				<legend>動画情報</legend>

				<p th:errors="*{movieId}" class="help-inline error"></p>

				<div class="form-group">
					<label for="movieCategoryName" class="col-lg-2 control-label">動画カテゴリー名</label>
					<div class="col-lg-10">
						<input type="text" name="movieCategoryName" th:value="*{movieCategoryName}"
							class="form-control" id="movieCategoryName" th:errorclass="errorInput" th:readonly="true" />
						<span th:errors="*{movieCategoryName}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="movieName" class="col-lg-2 control-label">動画名</label>
					<div class="col-lg-10">
						<input type="text" name="movieName" th:value="*{movieName}" class="form-control"
							id="movieName" th:errorclass="errorInput" />
						<span th:errors="*{movieName}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="url" class="col-lg-2 control-label">URL</label>
					<div class="col-lg-10">
						<input type="text" name="url" th:value="*{url}" class="form-control" id="url" th:errorclass="errorInput" />
						<span th:errors="*{url}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="hidden" name="movieId" th:value="*{movieId}" />
						<input type="hidden" name="movieCategoryId" th:value="*{movieCategoryId}" />
						<input type="submit" name="complete" th:value="|*{movieId == null ? '登録' : '変更'}する|" class="btn btn-primary" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</body>
</html>