<!-- Task.90 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>質問カテゴリー[[${faqCategoryRegistForm.actionType == 1 ? '登録' : '変更'}]] | LMS</title>
</head>
<body>

	<h2>質問カテゴリー[[${faqCategoryRegistForm.actionType == 1 ? '登録' : '変更'}]]</h2>
	<div class="well bs-component">

		<form class="form-horizontal" method="post" th:object="${faqCategoryRegistForm}">
			<fieldset>
				<legend>質問カテゴリー情報</legend>

				<div class="form-group">
					<label for="faqCategoryName" class="col-lg-2 control-label">質問カテゴリー名</label>
					<div class="col-lg-10">
						<input type="text" name="faqCategoryName" th:value="*{faqCategoryName}"
							class="form-control" id="faqCategoryName" th:errorclass="errorInput" />
						<span th:errors="*{faqCategoryName}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" name="complete" class="btn btn-primary" th:value="|*{actionType == 1 ? '登録' : '変更'}する|" />
						<input type="hidden" name="actionType" th:value="*{actionType}" />
						<input type="hidden" name="faqCategoryId" th:value="*{faqCategoryId}" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</body>
</html>