<!-- Task.89 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>よくある質問一覧 | LMS</title>
</head>
<body>

	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${message}]]</span>
		</div>
	</th:block>

	<h2>よくある質問一覧</h2>
	<div class="well bs-component">

		<fieldset>
			<legend>質問カテゴリ新規作成</legend>
			<div class="form-group">
				<form th:action="@{/faq/categoryRegist}" method="post">
					<input type="submit" class="btn btn-default" value="新規登録"/>
					<input type="hidden" name="actionType" value="1" />
				</form>
			</div>
		</fieldset>

		<form th:action="@{/faq/categoryList}" class="form-horizontal" th:object="${faqCategorySearchForm}">
			<fieldset>
				<legend>検索</legend>
				<div class="form-group">
					<label for="faqCategoryName" class="col-lg-2 control-label">質問カテゴリー名</label>
					<div class="col-lg-10">
						<input type="text" th:field="*{faqCategoryName}" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" value="検索" class="btn btn-primary" />
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	
	<p th:if="${not #strings.isEmpty(error)}" class="help-inline error">[[${error}]]</p>
	
	<div class="form-horizontal">
		<div th:each="faqCategoryDto : ${faqCategoryDtoList}" th:object="${faqCategoryDto}" class="panel panel-default">
			<div class="panel-heading">[[*{frequentlyAskedQuestionCategoryName}]]</div>
			<div class="panel-body">
				<h4 style="display: inline">カテゴリ情報　</h4>
				<form th:action="@{/faq/categoryRegist}" method="post" style="display: inline">
					<input type="submit" class="btn btn-default" value="変更" />
					<input type="hidden" name="faqCategoryId" th:value="*{frequentlyAskedQuestionCategoryId}" />
					<input type="hidden" name="actionType" value="0" />
				</form>
				<form th:action="@{/faq/categoryList}" method="post" style="display: inline">
					<input type="submit" class="btn btn-default" value="削除" name="categoryDelete" onclick="return delcheck()" />
					<input type="hidden" name="faqCategoryId" th:value="*{frequentlyAskedQuestionCategoryId}" />
				</form>
				<form th:action="@{/faq/regist}" method="post" style="display: inline">
					<input type="submit" class="btn btn-default" value="質問追加" />
					<input type="hidden" name="faqCategoryId" th:value="*{frequentlyAskedQuestionCategoryId}" />
					<input type="hidden" name="actionType" value="1" />
				</form>
				<hr />
				<div class="form-group row">
					<label class="col-md-2 text-right">質問カテゴリーID</label>
					<div class="col-md-10">[[*{frequentlyAskedQuestionCategoryId}]]</div>
				</div>
				<div class="form-group row">
					<label class="col-md-2 text-right">質問カテゴリー名</label>
					<div class="col-md-10">[[*{frequentlyAskedQuestionCategoryName}]]</div>
				</div>

				<h4>質問一覧</h4>
				<table th:if="*{not #lists.isEmpty(faqDtoList)}" class="table table-hover">
					<tr>
                      <th class="w150">質問ID</th>
                      <th>質問</th>
                      <th class="w200">編集</th>
					</tr>
					<tr th:each="faqDto : *{faqDtoList}">
						<td>[[${faqDto.frequentlyAskedQuestionId}]]</td>
						<td>[[${faqDto.question}]]</td>
						<td>
							<form th:action="@{/faq/regist}" method="post">
								<input type="hidden" name="faqId" th:value="${faqDto.frequentlyAskedQuestionId}" />
								<input type="submit" value="変更" class="btn btn-default" />
								<input type="hidden" name="actionType" value="0" />
							</form>
							<form th:action="@{/faq/categoryList}" method="post">
								<input type="hidden" name="frequentlyAskedQuestionId" th:value="${faqDto.frequentlyAskedQuestionId}" />
								<input type="submit" value="削除" name="delete" class="btn btn-default" onclick="return delcheck()" />
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</body>
</html>