<!-- Task.84 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>お知らせ履歴一覧 | LMS</title>
</head>
<body>

	<!-- Task.85-->
	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${message}]]</span>
		</div>
	</th:block>

	<h2>お知らせ履歴一覧</h2>

	<table class="table table-hover searchabletable">
		<thead>
			<tr>
				<th>お知らせID</th>
				<th>内容</th>
				<th>作成日時</th>
				<!-- Task.85 -->
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<!-- Task.85 statを追加 -->
			<tr th:each="infoDto, stat : ${infoDtoList}" th:object="${infoDto}">
				<td>[[*{infoId}]]</td>
				<td style="white-space: pre-wrap;">[[*{content}]]</td>
				<td>[[*{#dates.format(lastModifiedDate, "yyyy/M/d HH:mm")}]]</td>
				<!-- Task.85-->
				<td>
					<th:block th:if="${stat.first}">
						<form th:action="@{/info/regist}" method="post">
							<input type="hidden" name="infoId" th:value="*{infoId}" />
							<input type="hidden" name="content" th:value="*{content}" />
							<input type="submit" class="btn btn-default" value="変更" />
						</form>
						<form  th:action="@{/info/list}" method="post" onsubmit="return delcheck()">
							<input type="hidden" name="infoId" th:value="*{infoId}" />
							<input type="submit" name ="delete" class="btn btn-default" value="削除" />
						</form>
					</th:block>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>