<!-- Task.83 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<!-- Task.85-->
<title>お知らせ[[${infoForm.infoId == null ? '登録' : '変更'}]] | LMS</title>
</head>
<body>

	<!-- Task.85-->
	<h2>お知らせ[[${infoForm.infoId == null ? '登録' : '変更'}]]</h2>

	<div class="well bs-component">
		<form th:action="@{/info/regist}" method="post" class="form-horizontal" th:object="${infoForm}">
			<fieldset>
				<div class="form-group">
					<label for="content" class="col-lg-2 control-label">お知らせ内容</label>
					<div class="col-lg-10">
						<textarea name="content" id="content" rows="10"
							th:errorclass="errorInput" class="form-control">[[*{content}]]</textarea>
						<span th:errors="*{content}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" th:if="*{infoId == null}" name="regist" class="btn btn-primary">登録</button>
						<!-- Task.85-->
						<input type="hidden" name="infoId" th:value="*{infoId}" />
						<button type="submit" th:if="*{infoId != null}" name="update" class="btn btn-primary">変更</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</body>
</html>