<!-- Task.54 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>お知らせ | LMS</title>
</head>
<body>

	<!-- Task.81 お知らせ／お知らせ履歴一覧画面　変更・削除機能の追加 -->
	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${message}]]</span>
		</div>
	</th:block>

	<h2>お知らせ</h2>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">お知らせ</h3>
		</div>
		<div class="panel-body">
			<p th:if="${#strings.isEmpty(infoDto.content)}">
				<strong>※設定されていません。</strong>
			</p>
			<p style="white-space: pre-wrap;" th:if="${not #strings.isEmpty(infoDto.content)}">[[${infoDto.content}]]</p>
			<p class="tar">[[${#dates.format(infoDto.lastModifiedDate, "yyyy/M/d HH:mm")}]]</p>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<fieldset>
				<legend>お知らせを編集</legend>
				<div class="form-group">
					<div class="col-lg-12 mb10">
						<form th:action="@{/info/input}" method="post">
							<input type="submit" class="btn btn-primary" value="編集" />
						</form>
					</div>
				</div>
				<legend>履歴一覧</legend>
				<div class="form-group">
					<div class="col-lg-12 mb10">
						<form th:action="@{/info/list}" method="post">
							<input type="submit" class="btn btn-primary" value="一覧を開く" />
						</form>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

</body>
</html>