<!-- Task.81 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>お知らせ変更 | LMS</title>
</head>
<body>

	<h2>お知らせ変更</h2>

	<div class="well bs-component">
		<form th:action="@{/info/updateComplete}" method="post" class="form-horizontal" th:object="${infoForm}">
			<fieldset>
				<div class="form-group">
					<label for="content" class="col-lg-2 control-label">お知らせ内容</label>
					<div class="col-lg-10">
						<textarea name="content" class="form-control"
							id="content" rows="10" th:errorclass="errorInput">[[*{content}]]</textarea>
						<span th:errors="*{content}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary">変更</button>
						<input type="hidden" name="infoId" th:value="*{infoId}" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</body>
</html>