<!-- Task.86 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>休暇日一覧 | LMS</title>
</head>
<body>

	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${message}]]</span>
		</div>
	</th:block>

	<h2>休暇日一覧</h2>
	<th:block th:object="${holidayForm}">

		<form th:action="@{/holiday/list}" class="form-horizontal" method="post">
			<div class="well bs-component">
				<fieldset>
					<legend>休暇設定月検索</legend>
					<div class="form-group">
						<label for="startDate" class="col-lg-2 control-label">開始月</label>
						<div class="col-lg-10">
							<input type="text" name="startDate" id="startDate" th:value="*{startDate}"
								th:errorclass="errorInput" class="form-control datepickermonth" placeholder="例）2010-01" />
							<span th:errors="*{startDate}" class="help-inline error"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<input type="submit" value="検索" name="search" class="btn btn-primary" />
						</div>
					</div>
				</fieldset>
			</div>
		</form>
	
		<form class="form-horizontal" th:action="@{/holiday/list}" method="post">
			<input type="hidden" name="startDate" th:value="*{startDate}" />
	
			<table class="table table-hover">
				<thead>
					<tr>
						<th>日付</th>
						<th>休日名</th>
						<th>取消</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="id, stat : *{holidayId}">
						<td>
							[[*{day[__${stat.index}__]}]]
							<input type="hidden" th:name="|holidayId[${stat.index}]|" th:value="${id}"/>
							<input type="hidden" th:name="|day[${stat.index}]|" th:value="*{day[__${stat.index}__]}" />
							<input type="hidden" th:name="|holidayFlg[${stat.index}]|" th:value="*{holidayFlg[__${stat.index}__]}" />
						</td>
						<th:block th:if="*{holidayFlg[__${stat.index}__] == 1}">
							<td>
								[[*{holidayName[__${stat.index}__]}]]
								<input type="hidden" th:name="|holidayName[${stat.index}]|" th:value="*{holidayName[__${stat.index}__]}" />
							</td>
							<td>
								<input type="checkbox" th:name="|cancelFlg[${stat.index}]|" value="1" th:checked="*{cancelFlg[__${stat.index}__] == 1}" />取消
								<input type="hidden" th:name="|cancelFlg[${stat.index}]|" th:value="*{cancelFlg[__${stat.index}__]}" />
							</td>
						</th:block>
						<th:block th:if="*{holidayFlg[__${stat.index}__] != 1}">
							<td>
								<input type="text" th:name="|holidayName[${stat.index}]|" th:value="*{holidayName[__${stat.index}__]}" 
									class="form-control" th:errorclass="errorInput"/>
								<span th:errors="*{holidayName[__${stat.index}__]}" class="help-inline error"></span>
								<input type="hidden" th:name="|cancelFlg[${stat.index}]|" value="0"/>
							</td>
							<td></td>
						</th:block>
					</tr>
				</tbody>
			</table>
	
			<fieldset th:if="*{holidayId != null}">
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" name="regist" value="決定" class="btn btn-primary" />
					</div>
				</div>
			</fieldset>
		</form>

	</th:block>

</body>
</html>