<!-- Task.91 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>質問[[${faqRegistForm.actionType == 1 ? '登録' : '変更'}]] | LMS</title>
</head>
<body>

	<h2>質問[[${faqRegistForm.actionType == 1 ? '登録' : '変更'}]]</h2>
	<div class="well bs-component">

		<form th:action="@{/faq/regist}" method="post" class="form-horizontal" th:object="${faqRegistForm}">
			<fieldset>
				<legend>質問情報</legend>

				<div class="form-group">
					<label for="frequentlyAskedQuestionCategoryId"
						class="col-lg-2 control-label">質問カテゴリー名</label>
					<div class="col-lg-10">
						<select name="faqCategoryId"
							class="form-control">
							<option th:each="faqCategoryDto : ${faqCategoryDtoList}"
								th:label="${faqCategoryDto.frequentlyAskedQuestionCategoryName}"
								th:value="${faqCategoryDto.frequentlyAskedQuestionCategoryId}"
								th:selected="${faqCategoryDto.frequentlyAskedQuestionCategoryId} == *{faqCategoryId}" />
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="question" class="col-lg-2 control-label">質問内容</label>
					<div class="col-lg-10">
						<input type="text" name="question" th:value="*{question}" class="form-control"
							id="question" th:errorclass="errorInput" />
						<span th:errors="*{question}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="answer" class="col-lg-2 control-label">回答内容</label>
					<div class="col-lg-10">
						<textarea name="answer" class="form-control"
							id="answer" rows="5" th:errorclass="errorInput">[[*{answer}]]</textarea>
						<span th:errors="*{answer}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" th:value="|*{actionType == 1 ? '登録' : '変更'}する|" name="complete" class="btn btn-primary" />
						<input type="hidden" name="faqId" th:value="*{faqId}" />
						<input type="hidden" name="actionType" th:value="*{actionType}" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</body>
</html>