<!-- Task.68 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>ユーザー一覧(受講生一覧) | LMS</title>
</head>
<body>

	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span th:text=${message}></span>
		</div>
	</th:block>

	<h2>ユーザー一覧<small>（受講生一覧) </small></h2>

	<div class="well bs-component">
		<form th:action="@{/user/list/student}" method="post" class="form-horizontal" th:object="${userListForm}">
			<fieldset>
				<legend>検索</legend>
				<div class="form-group">
					<label for="userName" class="col-lg-2 control-label">ユーザー名</label>
					<div class="col-lg-10">
						<input type="text" name="userName" value="" id="userName" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-2 "></div>
					<div class="col-lg-10">
						<input type="checkbox" name="pastFlg" id="pastFlg" value="1" class="icon-checkbox" th:checked="*{pastFlg == 1}">
						<label for="pastFlg" class="text-info"> <span class='glyphicon glyphicon-unchecked unchecked'></span> <span class='glyphicon glyphicon-check checked'></span></label> <label for="pastFlg"
							class="control-label">コース終了後 [[*{pastTimeLabel}]] を経過した受講生</label><label class="text-danger"> ※コース終了後 [[*{pastTimeLabel}]] を経過した受講生を含めて検索します</label>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" name="search" value="検索" class="btn btn-primary" />
					</div>
				</div>
			</fieldset>
		</form>

	</div>

	<div id="user-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
		<div class="row">
			<div class="col-sm-6">
				<div class="dataTables_length" id="user-table_length"></div>
			</div>
			<div class="col-sm-6"></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-hover sortabletable dataTable no-footer" id="user-table" role="grid" aria-describedby="user-table_info">
					<thead>
						<tr role="row">
							<th class="sorting_asc" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending">ID</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-label="ユーザー名: activate to sort column ascending">ユーザー名</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-label="種別: activate to sort column ascending">種別</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-label="途中退校日: activate to sort column ascending">途中退校日</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-label="コース名: activate to sort column ascending">コース名</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-label="企業名: activate to sort column ascending">企業名</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-label="会場: activate to sort column ascending">会場</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1" aria-label="詳細: activate to sort column ascending">詳細</th>
							<th>編集</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="userDetailDto, stat : ${userDetailDtoList}" class="odd" role="row">

							<td class="sorting_1">[[${userDetailDto.userId}]]</td>
							<td>[[${userDetailDto.userName}]]</td>
							<td th:if="${userDetailDto.role == '0001'}">受講生</td>
							<td th:if="${userDetailDto.role == '0002'}" align="center">講師</td>
							<td th:if="${userDetailDto.role == '0003'}" align="center">企業担当者</td>
							<td th:if="${userDetailDto.role == '0004'}" align="center">管理者</td>
							<td th:if="${userDetailDto.role == '0005'}" align="center">育成担当者</td>
							<td th:if="${userDetailDto.leaveFlg == 1}" align="center">[[${#dates.format(userDetailDto.leaveDate, "yyyy年M月d日")}]]</td>
							<td th:if="${userDetailDto.leaveFlg != 1}" align="center">-</td>
							<td>[[${userDetailDto.courseName}]]</td>
							<td>[[${userDetailDto.companyName}]]</td>
							<td>
								[[${userDetailDto.placeName}]]
								<th:block th:if="${!#strings.isEmpty(userDetailDto.placeNote)}">([[${userDetailDto.placeNote}]])</th:block>
								<br />[[${userDetailDto.placeDescription}]]
							</td>
							<td>
								<form method="post" th:action="@{/user/detail}">
									<input type="hidden" name="lmsUserId" th:value="${userDetailDto.lmsUserId}" />
									<input type="submit" value="詳細" class="btn btn-default" />
								</form>
							</td>
							<td>
								<form th:action="@{/student/update}" method="post" th:object="${studentRegistForm}">
									<input type="hidden" name="lmsUserId" th:value="${userDetailDto.lmsUserId}" />
									<input type="hidden" name="userId" th:value=" ${userDetailDto.userId}" />
									<input type="submit" value="変更" class="btn btn-default" />
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>