<!-- Task.66 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="utf-8">
<title>企業情報編集 | LMS</title>
</head>

<body>
	<script>
	    $(function () {
	        $('#postNumber1').keyup(function () { AjaxZip3.zip2addr('postNumber1', 'postNumber2', 'address', 'address'); });
	        $('#postNumber2').keyup(function () { AjaxZip3.zip2addr('postNumber1', 'postNumber2', 'address', 'address'); });
	    });
	    $(function () {
	        $('#subsidyUse').on('load change', function () {
	            var sel = $(this).val();
	            if (sel == "0") {
	                $('#subsidyInfo').css("display","none");
	            } else {
	                $('#subsidyInfo').css("display","block");
	            }
	        }).change();
	    });
	    $(function () {
	        var btn = false;
	        $('#upd-form').submit(function () {
	            if (btn) {
	                return btn;
	            } else {
	                $('.modal').modal('show');
	                return btn;
	            }
	        });
	        $('#upd-btn').click(function () {
	            btn = true;
	            $('#upd-form').submit();
	        });
	    });
	</script>

	<h2>企業情報編集</h2>
	<div class="well bs-component">

         <form id="upd-form" th:action="@{/subsidy/company/update}" method="post" th:object="${companySubsidyForm}" class="form-horizontal">
             <fieldset>
                 <legend>基本情報</legend>
                 <div class="form-group required">
                 	<label for="companyName" class="col-lg-2 control-label">企業名</label>
                     <div class="col-lg-10">
                     	<input type="text" th:field="*{companyName}" class="form-control" th:errorclass="errorInput" placeholder="例）株式会社システムシェアード" />
                     	<span th:errors="*{companyName}" class="help-inline error"></span>
                     </div>
                 </div>
                 <div class="form-group required">
                 	<label for="companyNameKana" class="col-lg-2 control-label">企業名（カナ）</label>
                     <div class="col-lg-10">
                     	<input type="text" th:field="*{companyNameKana}" class="form-control" th:errorclass="errorInput" placeholder="例）カブシキガイシャシステムシェアード" />
                     	<span th:errors="*{companyNameKana}" class="help-inline error"></span>
                     </div>
                 </div>
                 <div class="form-group required"> 
                 	<label for="postNumber1" class="col-lg-2 control-label">郵便番号</label>
                     <div class="col-lg-10 form-inline">
                     	 <input type="text" th:field="*{postNumber1}" style="width:4em;" class="form-control" th:errorclass="errorInput" placeholder="000" /> ‐
                         <input type="text" th:field="*{postNumber2}" style="width:5em;" class="form-control" th:errorclass="errorInput" placeholder="0000" />
                         <span th:errors="*{postNumber1}" class="help-inline error"></span>
                     </div>
                 </div>
                 <div class="form-group required">
                 	<label for="address" class="col-lg-2 control-label">企業所在地</label>
                     <div class="col-lg-10">
                     	<input type="text" th:field="*{address}" class="form-control" th:errorclass="errorInput" placeholder="例）東京都台東区台東１－６－４ タカラビル６Ｆ" />
                     	<span th:errors="*{address}" class="help-inline error"></span>
                     </div>
                 </div>
                 <div class="form-group required"> 
                 	<label for="phoneNumber1" class="col-lg-2 control-label">電話番号</label>
                     <div class="col-lg-10 form-inline">
                     	<input type="text" th:field="*{phoneNumber1}" style="width:5em;" class="form-control" th:errorclass="errorInput" placeholder="000" /> ‐
                        <input type="text" th:field="*{phoneNumber2}" style="width:5em;" class="form-control" th:errorclass="errorInput" placeholder="0000" /> ‐ 
                        <input type="text" th:field="*{phoneNumber3}" style="width:5em;" class="form-control" th:errorclass="errorInput" placeholder="0000" />
                        <span th:errors="*{phoneNumber1}" class="help-inline error"></span>
                     </div>
                 </div>
                 <div class="form-group required">
                 	<label for="representativePost" class="col-lg-2 control-label">代表者役職名</label>
                     <div class="col-lg-10 form-inline">
                     	<input type="text" th:field="*{representativePost}" style="width:20em;" class="form-control" th:errorclass="errorInput" placeholder="例）代表取締役" />
                     	<span th:errors="*{representativePost}" class="help-inline error"></span>
                     </div>
                 </div>
                 <div class="form-group required">
                 	<label for="representativeName" class="col-lg-2 control-label">代表者氏名</label>
                     <div class="col-lg-10 form-inline">
                     	<input type="text" th:field="*{representativeName}" style="width:20em;" class="form-control" th:errorclass="errorInput" placeholder="例）山田　太郎" />
                     	<span th:errors="*{representativeName}" class="help-inline error"></span>
                     </div>
                 </div>
                 <div class="form-group required">
                 	 <label for="subsidyUse" class="col-lg-2 control-label">助成金の活用</label>
                     <div class="col-lg-10">
                     	<select name="subsidyUse" id="subsidyUse" style="width:10em;" class="form-control" th:errorclass="errorInput">
                             <option value="1" th:selected="*{subsidyUse} == 1">活用します</option>
                             <option value="0" th:selected="*{subsidyUse} == 0">活用しません</option>
                         </select>
                     </div>
                 </div>
             </fieldset>

             <fieldset id="subsidyInfo">
                 <legend>助成金情報</legend>
                 <div>
                     <div class="form-group required">
                     	<label for="capital" class="col-lg-2 control-label">資本額</label>
                         <div class="col-lg-10 form-inline">
                         	<input type="text" th:field="*{capital}" style="width:10em" class="form-control" th:errorclass="errorInput" placeholder="例）1000" />
                         	<span class="ml10">万円</span>
                         	<span th:errors="*{capital}" class="help-inline error"></span>
                         </div>
                     </div>
                     <div class="form-group required">
                     	<label for="workerAmount" class="col-lg-2 control-label">社員数</label>
                         <div class="col-lg-10 form-inline">
                         	<input type="text" th:field="*{workerAmount}" style="width:10em" class="form-control" th:errorclass="errorInput" placeholder="例）100" />
                         	<span class="ml10">人</span>
                         	<span th:errors="*{workerAmount}" class="help-inline error"></span>
                         </div>
                     </div>
                     <div class="form-group required">
                     	<label for="workStartTime" class="col-lg-2 control-label">始業時間</label>
                         <div class="col-lg-10 form-inline">
                         	<input type="text" th:field="*{workStartTime}" style="width:8em;" class="form-control" th:errorclass="errorInput" placeholder="例）9:00" />
                         	<span th:errors="*{workStartTime}" class="help-inline error"></span>
                         </div>
                     </div>
                     <div class="form-group required">
                     	<label for="workEndTime" class="col-lg-2 control-label">終業時間</label>
                         <div class="col-lg-10 form-inline">
                         	<input type="text" th:field="*{workEndTime}" style="width:8em;" class="form-control" th:errorclass="errorInput" placeholder="例）18:00" />
                         	<span th:errors="*{workEndTime}" class="help-inline error"></span>
                         </div>
                     </div>
                     <div class="form-group required">
                     	<label for="restStartTime" class="col-lg-2 control-label">休憩開始時間</label>
                         <div class="col-lg-10 form-inline">
                         	<input type="text" th:field="*{restStartTime}" style="width:8em;" class="form-control" th:errorclass="errorInput" placeholder="例）12:00" />
                         	<span th:errors="*{restStartTime}" class="help-inline error"></span>
                         </div>
                     </div>
                     <div class="form-group required">
                     	<label for="restEndTime" class="col-lg-2 control-label">休憩終了時間</label>
                         <div class="col-lg-10 form-inline">
                         	<input type="text" th:field="*{restEndTime}" style="width:8em;" class="form-control" th:errorclass="errorInput" placeholder="例）13:00" />
                         	<span th:errors="*{restEndTime}" class="help-inline error"></span>
                         </div>
                     </div>
                     <div class="form-group required">
                     	<label for="holiday" class="col-lg-2 control-label">休日</label>
                         <div class="col-lg-10">
                         	<textarea th:field="*{holiday}" class="form-control" th:errorclass="errorInput" placeholder="例）週休2日（毎週土、日曜日）">週休2日</textarea>
                         	<span th:errors="*{holiday}" class="help-inline error"></span>
                        	</div>
                     </div>
                     <div class="form-group required">
                     	<label for="subsidyPhoneNumber1" class="col-lg-2 control-label">担当電話番号</label>
                         <div class="col-lg-10 form-inline">
                         	<input type="text" th:field="*{subsidyPhoneNumber1}" style="width:5em;" class="form-control" th:errorclass="errorInput" placeholder="000" /> ‐ 
                            <input type="text" th:field="*{subsidyPhoneNumber2}" style="width:5em;" class="form-control" th:errorclass="errorInput" placeholder="0000" /> ‐ 
                            <input type="text" th:field="*{subsidyPhoneNumber3}" style="width:5em;" class="form-control" th:errorclass="errorInput" placeholder="0000" />
                            <span th:errors="*{subsidyPhoneNumber1}" class="help-inline error"></span>
                         </div>
                     </div>
                     <div class="form-group required">
                     	<label for="prefecture" class="col-lg-2 control-label">労働局都道府県</label>
                         <div class="col-lg-10 form-inline">
                         	<select name="prefecture" id="prefecture" style="width:10em;" class="form-control" th:errorclass="errorInput">
                                 <option value=""></option>
                                 <option value="北海道" th:selected="*{prefecture} == '北海道'">北海道</option>
                                 <option value="岩手" th:selected="*{prefecture} == '岩手'">岩手</option>
                                 <option value="青森" th:selected="*{prefecture} == '青森'">青森</option>
                                 <option value="宮城" th:selected="*{prefecture} == '宮城'">宮城</option>
                                 <option value="秋田" th:selected="*{prefecture} == '秋田'">秋田</option>
                                 <option value="山形" th:selected="*{prefecture} == '山形'">山形</option>
                                 <option value="福島" th:selected="*{prefecture} == '福島'">福島</option>
                                 <option value="茨城" th:selected="*{prefecture} == '茨城'">茨城</option>
                                 <option value="栃木" th:selected="*{prefecture} == '栃木'">栃木</option>
                                 <option value="群馬" th:selected="*{prefecture} == '群馬'">群馬</option>
                                 <option value="埼玉" th:selected="*{prefecture} == '埼玉'">埼玉</option>
                                 <option value="千葉" th:selected="*{prefecture} == '千葉'">千葉</option>
                                 <option value="東京" th:selected="*{prefecture} == '東京'">東京</option>
                                 <option value="神奈川" th:selected="*{prefecture} == '神奈川'">神奈川</option>
                                 <option value="新潟" th:selected="*{prefecture} == '新潟'">新潟</option>
                                 <option value="富山" th:selected="*{prefecture} == '富山'">富山</option>
                                 <option value="石川" th:selected="*{prefecture} == '石川'">石川</option>
                                 <option value="福井" th:selected="*{prefecture} == '福井'">福井</option>
                                 <option value="山梨" th:selected="*{prefecture} == '山梨'">山梨</option>
                                 <option value="長野" th:selected="*{prefecture} == '長野'">長野</option>
                                 <option value="岐阜" th:selected="*{prefecture} == '岐阜'">岐阜</option>
                                 <option value="静岡" th:selected="*{prefecture} == '静岡'">静岡</option>
                                 <option value="愛知" th:selected="*{prefecture} == '愛知'">愛知</option>
                                 <option value="三重" th:selected="*{prefecture} == '三重'">三重</option>
                                 <option value="滋賀" th:selected="*{prefecture} == '滋賀'">滋賀</option>
                                 <option value="京都" th:selected="*{prefecture} == '京都'">京都</option>
                                 <option value="大阪" th:selected="*{prefecture} == '大阪'">大阪</option>
                                 <option value="兵庫" th:selected="*{prefecture} == '兵庫'">兵庫</option>
                                 <option value="奈良" th:selected="*{prefecture} == '奈良'">奈良</option>
                                 <option value="和歌山" th:selected="*{prefecture} == '和歌山'">和歌山</option>
                                 <option value="鳥取" th:selected="*{prefecture} == '鳥取'">鳥取</option>
                                 <option value="島根" th:selected="*{prefecture} == '島根'">島根</option>
                                 <option value="岡山" th:selected="*{prefecture} == '岡山'">岡山</option>
                                 <option value="広島" th:selected="*{prefecture} == '広島'">広島</option>
                                 <option value="山口" th:selected="*{prefecture} == '山口'">山口</option>
                                 <option value="徳島" th:selected="*{prefecture} == '徳島'">徳島</option>
                                 <option value="香川" th:selected="*{prefecture} == '香川'">香川</option>
                                 <option value="愛媛" th:selected="*{prefecture} == '愛媛'">愛媛</option>
                                 <option value="高知" th:selected="*{prefecture} == '高知'">高知</option>
                                 <option value="福岡" th:selected="*{prefecture} == '福岡'">福岡</option>
                                 <option value="佐賀" th:selected="*{prefecture} == '佐賀'">佐賀</option>
                                 <option value="長崎" th:selected="*{prefecture} == '長崎'">長崎</option>
                                 <option value="熊本" th:selected="*{prefecture} == '熊本'">熊本</option>
                                 <option value="大分" th:selected="*{prefecture} == '大分'">大分</option>
                                 <option value="宮崎" th:selected="*{prefecture} == '宮崎'">宮崎</option>
                                 <option value="鹿児島" th:selected="*{prefecture} == '鹿児島'">鹿児島</option>
                                 <option value="沖縄" th:selected="*{prefecture} == '沖縄'">沖縄</option>
                             </select>
                             <span th:errors="*{prefecture}" class="help-inline error"></span>
                         </div>
                     </div>
                 </div>
             </fieldset>

             <fieldset>
                 <div class="form-group">
                     <div class="col-lg-10 col-lg-offset-2">
			         	 <input type="hidden" th:field="*{companyId}"/>
						 <input type="submit" name="complete" value="登録する" class="btn btn-primary" />
                     </div>
                 </div>
             </fieldset>
             <div class="modal fade" id="div-modal">
                 <div class="modal-dialog modal-dialog-center">
                     <div class="modal-content">
                         <div class="modal-header">
                         	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                             <h4 class="modal-title" id="modal-label">登録の確認</h4>
                         </div>
                         <div class="modal-body"> 貴社情報の登録を完了しますか？<br>
                         	<strong> ※書類の郵送等に関わる情報となっております。<br>十分ご確認の上で登録してください。 </strong>
                         </div>
                         <div class="modal-footer">
                         	<button type="button" class="btn btn-primary" id="upd-btn">登録</button>
                         </div>
                     </div>
                 </div>
             </div>
         </form>

	</div>

</body>
</html>