<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>コース詳細 | LMS</title>
</head>
<body>
	<div class="container">
		<ol class="breadcrumb">
			<li class="active">コース詳細</li>
		</ol>

		<!-- Task.115 -->
		<th:block th:if="${not #strings.isEmpty(message)}" id="message">
			<div class="alert alert-info alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<span th:text=${message}></span>
			</div>
		</th:block>

		<div>
			<h2 class="di">
				[[${courseServiceCourseDto.courseName}]] <small
					th:text="|${#dates.format(courseServiceCourseDto.openTime,'yyyy年M月d日(E)')}～${#dates.format(courseServiceCourseDto.closeTime,'yyyy年M月d日(E)')}|"></small>
			</h2>
			<!-- Task.17 -->
			<div class="fr pt10">
				<button id="open-all-panel" class="mr4">すべて開く</button>
				<button id="close-all-panel">すべて折りたたむ</button>
			</div>
		</div>
		<br class="cb" />
		<!-- Task.17 -->
		<script>
			$(function() {
				$('.toggle-btn').click(function() {
						if ($(this).parent().next('.panel-body').attr('class') === 'panel-body dn') {
							$(this).parent().next('.panel-body').attr('class', 'panel-body');
							$(this).attr('class', 'toggle-btn toggle-btn-up');
						} else {
							$(this).parent().next('.panel-body').attr('class', 'panel-body dn');
							$(this).attr('class', 'toggle-btn toggle-btn-down');
						}
				});
			});
			$(function() {
				$('#open-all-panel').click(function() {
					$('.panel-body').attr('class', 'panel-body');
					$('.toggle-btn').attr('class', 'toggle-btn toggle-btn-up');
				});
			});
			$(function() {
				$('#close-all-panel').click(function() {
					$('.panel-body').attr('class', 'panel-body dn');
					$('.toggle-btn').attr('class', 'toggle-btn toggle-btn-down');
				});
			});
		</script>

		<div class="panel panel-primary" th:each="categoryDto:${courseServiceCourseDto.courseServiceCategoryDtoList}">
			<div class="panel-heading">
				<!-- Task.18 -->
				<h3 class="panel-title ib" data-toggle="popover" data-placement="right" th:data-content="${categoryDto.categoryDescription}">
					<span>[[${categoryDto.categoryName}]]</span>
				</h3>
				<!-- Task.17 -->
				<span class="toggle-btn toggle-btn-up"></span>
			</div>
			<div class="panel-body">
				<table class="table table-hover sctionList">
					<!-- Task.14 -->
					<tr th:each="sectionDto:${categoryDto.courseServiceSectionDtoList}" th:classappend="${sectionDto.todayFlg} ? info : ''">
						<!-- Task.14 -->
						<td class="w20per" th:text="${#dates.format(sectionDto.date,'yyyy年M月d日(E)')}"></td>
						<td class="wh" th:text="${sectionDto.sectionName}"></td>
						<!-- Task.15 -->
						<td class="w10per" th:if="${session.loginUserDto.role == '0001'}">
							<span th:if="${sectionDto.reportFlg}">提出済み</span>
							<span th:if="${!sectionDto.reportFlg}">未提出</span>
						</td>
						<!-- Task.16 -->
						<td class="w10per">
							<span th:if="${sectionDto.examFlg}">試験有</span>
							<span th:if="${!sectionDto.examFlg}">試験無</span>
						</td>
						<td class="w20per">
							<form th:method="post" th:action="@{/section/detail}" th:object="${sectionForm}">
								<input type="hidden" name="courseId" th:value="${courseServiceCourseDto.courseId}" />
								<input type="hidden" name="sectionId" th:value="${sectionDto.sectionId}" />
								<input type="submit" class="btn btn-default" value="詳細" />
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>

	</div>
</body>
</html>