<!-- Task.42 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>コース一覧 | LMS</title>
</head>
<body>

	<h2>コース一覧</h2>

	<table class="table table-hover sortandsearchabletable dataTable no-footer" id="course-table" role="grid" aria-describedby="course-table_info">
		<thead>
			<tr role="row">
				<th class="sorting" tabindex="0" aria-controls="course-table" rowspan="1" colspan="1"
				  aria-label="開講中: activate to sort column ascending">開講中</th>
				<th class="w140 sorting" tabindex="0" aria-controls="course-table" rowspan="1" colspan="1"
				  aria-label="コース名: activate to sort column ascending">コース名</th>
				<th class="sorting" tabindex="0" aria-controls="course-table" rowspan="1" colspan="1"
				  aria-label="開講日: activate to sort column ascending">開講日</th>
				<th class="sorting" tabindex="0" aria-controls="course-table" rowspan="1" colspan="1"
				  aria-label="閉講日: activate to sort column ascending">閉講日</th>
				<th class="sorting" tabindex="0" aria-controls="course-table" rowspan="1" colspan="1"
				  aria-label="詳細: activate to sort column ascending">詳細</th>
				<th class="w1em sorting" tabindex="0" aria-controls="course-table" rowspan="1" colspan="1"
				  aria-label="ユーザー: activate to sort column ascending">ユーザー</th>
				 <!-- Task.78 -->
				<th  th:if="${session.loginUserDto.role == '0004'}" class="w100 sorting" tabindex="0" aria-controls="course-table" rowspan="1" colspan="1"
				  aria-label="編集: activate to sort column ascending">編集</th>
				<th  th:if="${session.loginUserDto.role == '0002' || session.loginUserDto.role == '0004'}" class="sorting" tabindex="0" aria-controls="course-table" rowspan="1" colspan="1"
				  aria-label="教材: activate to sort column ascending">教材</th>
<!--                  <th  th:if="${session.loginUserDto.role == '0004'}" class="sorting" tabindex="0" aria-controls="course-table" rowspan="1" colspan="1"
                  aria-label="教材紐づけ: activate to sort column ascending">教材紐づけ<br />
					<input id="checkbox-all" class="icon-checkbox" type="checkbox" />
					<label for="checkbox-all" class="text-info">
						<span class="glyphicon glyphicon-unchecked unchecked"></span> <span class="glyphicon glyphicon-check checked"></span>
					</label>
                  </th> -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="courseDto : ${courseDtoList}">
				<td class="text-center">
					<th:block th:if="${courseDto.openCourseFlg}">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						<span style="display: none;">0</span>
					</th:block>
					<th:block th:if="${!courseDto.openCourseFlg}">
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						<span style="display: none;">1</span>
					</th:block>
				</td>
				<td>[[${courseDto.courseName}]]</td>
				<td>[[${#dates.format(courseDto.openTime,'yyyy年MM月dd日')}]]</td>
				<td>[[${#dates.format(courseDto.closeTime,'yyyy年MM月dd日')}]]</td>
				<td>
					<a th:href="@{/course/detail(courseId=${courseDto.courseId})}" class="btn btn-default">詳細</a>
				</td>
				<td>
					<!-- Task.78 -->
					<form th:if="${session.loginUserDto.role == '0004'}" th:action="@{/user/registMenu}">
						<input type="hidden" name="courseId" th:value="${courseDto.courseId}" />
						<input type="submit" value="ユーザー登録" class="btn btn-default" />
					</form>
					<form th:action="@{/user/list}">
						<input type="hidden" th:name="courseId" th:value="${courseDto.courseId}" />
						<input type="hidden" th:name="courseName" th:value="${courseDto.courseName}" />
						<input type="submit" value="ユーザー一覧" class="btn btn-default" th:property="search" />
					</form>
				</td>
				<td th:if="${session.loginUserDto.role == '0004'}">
					<div>
<!-- 						<form th:action="@{/course/copy}">
							<input type="hidden" name="courseId" th:value="${courseDto.courseId}" />
							<input type="submit" value="コピー" class="btn btn-default" />
						</form> -->
						<!-- Task.78 -->
						<form th:action="@{/course/regist}">
							<input type="hidden" name="courseId" th:value="${courseDto.courseId}" />
							<input type="submit" value="変更" class="btn btn-default" />
						</form>
<!-- 						<form action="/course/delete/complete" onsubmit="return delcheck()">
							<input type="hidden" name="courseId" th:value="${courseDto.courseId}" />
							<input type="submit" value="削除" class="btn btn-default" />
						</form> -->
					</div>
				</td>
				<td>
					<div>
						<form th:if="${courseDto.teachingMaterialCount > 0}" th:action="@{/download/teachingMaterialList}">
							<input type="hidden" th:name="courseId" th:value="${courseDto.courseId}" />
							<input type="submit" value="教材ダウンロード" class="btn btn-default" />
						</form>
					</div>
				</td>
<!-- 				<td th:if="${session.loginUserDto.role == '0004'}">
					<div>
						<input type="checkbox" th:id="|checkbox-[${courseDto.courseId}]|" name="checkCourse[]" 
							th:value="${courseDto.courseId}" class="icon-checkbox course-checkbox" />
						<label th:for="|checkbox-[${courseDto.courseId}]|" class="text-info"> 
							<span class='glyphicon glyphicon-unchecked unchecked'></span> <span class='glyphicon glyphicon-check checked'></span>
						</label>
					</div>
				</td> -->
		</tbody>
	</table>

	<!-- Task.78 -->
	<div th:if="${session.loginUserDto.role == '0004'}" class="panel panel-default">
		<div class="panel-heading">管理者機能</div>
		<div class="panel-body">
			<form th:action="@{/course/regist}" class="form-horizontal">
				<fieldset>
					<legend>コースを追加する</legend>
					<div class="form-group">
						<div class="col-lg-12">
							<input type="submit" value="新規登録" class="btn btn-primary" />
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<script>
		$(function() {
			//全選択
			$('#checkbox-all').click(function() {
				allCheck('#course-table', this);
			});
		});
	</script>

</body>
</html>