<!--Task.115-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>コース詳細[[${courseDetailRegistForm.updateFlg} ? '変更' : '登録']] | LMS</title>
</head>
<body>
	<script th:src="@{/js/courseDetailRegist.js}"></script>
	<script th:inline="javascript">
		$(document).ready(function () {
			init(/*[[${courseDetailRegistForm}]]*/);
		});
	</script>

	<h2>コース詳細[[${courseDetailRegistForm.updateFlg} ? '変更' : '登録']]  </h2>
	<h3>[[${courseDetailRegistForm.courseName}]] &nbsp; 
		<span style="color: #999; font-size: 80%">[[${#dates.format(courseDetailRegistForm.openTime,'yyyy年M月d日(E)')}]]
		～[[${#dates.format(courseDetailRegistForm.closeTime,'yyyy年MM月dd日(E)')}]]</span>
	</h3>

		<form id="courseDetailForm" th:action="@{/course/registDetail}" method="post" class="form-horizontal">
			<input type="hidden" name="courseId" th:value="${courseDetailRegistForm.courseId}" />

			<div id="courseDetailArea">
			</div>
			
			<div class="well bs-component">
				<fieldset>
					<input type="button" class="btn btn-primary" onclick="history.back();" value="戻る" />
					<input type="button" class="btn btn-primary" value="決定" onclick="submitForm();" />
				</fieldset>
			</div>
		</form>

</body>
</html>