<!-- Task.60 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>予約対象成果報告会一覧 | LMS</title>
</head>
<body>

	<h2>成果報告会一覧</h2>
	<table class="table table-hover sortabletable dataTable no-footer" id="presentation-table">
		<thead>
			<tr>
				<th th:if="${session.loginUserDto.role == '0003'}">予約状況</th>
				<th>用途</th>
				<th>開催日</th>
				<th>予約編集期限</th>
				<th>会場名</th>
				<th class="w180">会場備考</th>
				<th th:if="${session.loginUserDto.role == '0003'}">参加可否を予約</th>
				<th>予約状況を確認</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="presentationDto,stat : ${presentationDtoList}">
				<td th:if="${session.loginUserDto.role == '0003'}" class="text-center">
					<th:block th:if="${presentationDto.reservationStatusFlg}">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						<span style="display: none;">0</span>
					</th:block>
					<th:block th:if="${!presentationDto.reservationStatusFlg}">
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						<span style="display: none;">1</span>
					</th:block>
				</td>
				<td>[[${presentationDto.purpose}]]</td>
				<td>[[${#dates.format(presentationDto.presentationDate,'yyyy年MM月dd日')}]]</td>
				<td>[[${#dates.format(presentationDto.editLimit,'yyyy年MM月dd日')}]]</td>
				<td>[[${presentationDto.placeName}]]</td>
				<td>[[${presentationDto.placeNote}]]</td>
				<td th:if="${session.loginUserDto.role == '0003'}">
					<th:block th:if="${!presentationDto.reservationStatusFlg}">
						<form th:action="@{/presentation/reserveRegist}" th:method="post">
							<input type="hidden" name="presentationScheduleId" th:value="${presentationDto.presentationScheduleId}" />
							<input type="submit" value="予約する" class="btn btn-default" />
						</form>
					</th:block>
					<th:block th:if="${presentationDto.reservationStatusFlg}">
						<form th:action="@{/presentation/reserveUpdate}" th:method="post">
							<input type="hidden" name="presentationScheduleId" th:value="${presentationDto.presentationScheduleId}" />
							<input type="submit" value="予約を変更する" class="btn btn-default" />
						</form>
					</th:block>
				</td>

				<td th:if="${session.loginUserDto.role == '0002'}">
					<form th:action="@{/presentation/reserveStatusDetail}" th:method="post">
						<input type="hidden" name="presentationScheduleId" th:value="${presentationDto.presentationScheduleId}" />
						<input type="submit" value="確認する" class="btn btn-default" />
					</form>
				</td>
				<td th:if="${session.loginUserDto.role == '0003'}">
					<form th:action="@{/presentation/reserveStatusDetail}" th:method="post">
						<th:block th:if="${presentationDto.reservationStatusFlg}">
							<input type="hidden" name="presentationScheduleId" th:value="${presentationDto.presentationScheduleId}" />
							<input type="submit" value="確認する" class="btn btn-default" />
						</th:block>
						<th:block th:if="${!presentationDto.reservationStatusFlg}">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</th:block>
					</form>
				</td>

		</tbody>
	</table>

	<script type="text/javascript" th:inline="javascript">
		/* Task.75　予約期限前日確認ダイアログ */
		window.onload = function() {
			if (/*[[${notEnterFlg}]]*/notEnterFlg) {
				alert('成果報告会予約期限が迫っています。');
			}
		};
	</script>

</body>
</html>