<!-- Task.61 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>予約状況詳細 | LMS</title>
</head>
<body>

	<h2>予約状況詳細</h2>

	<table class="table wh" th:object="${presentationDto}">
		<tbody>
			<tr>
				<th class="w33per">会場名</th>
				<td>[[*{placeName}]]</td>
			</tr>
			<tr>
				<th>会場備考</th>
				<td>[[*{placeNote}]]</td>
			</tr>
			<tr>
				<th>開催日</th>
				<td>[[*{#dates.format(presentationDate,'yyyy年MM月dd日')}]]</td>
			</tr>
			<tr>
				<th>予約編集期限</th>
				<td>[[*{#dates.format(editLimit,'yyyy年MM月dd日')}]]</td>
			</tr>
			<tr>
				<th>用途</th>
				<td>[[*{purpose}]]</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-hover" id="place-table">
		<thead>
			<tr>
				<th>日時</th>
				<th>企業名</th>
				<th>住所</th>
				<th>チーム参照</th>
				<th>参加予約</th>
				<th>参加人数</th>
				<th>参加者名</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="presentationDetailDto : ${presentationDto.presentationDetailDtoList}" th:object="${presentationDetailDto}">
				<tr th:classappend="${session.loginUserDto.role == '0002'} and *{!reservationStatusFlg} ? danger : '' ">
					<td>[[*{presentationTime}]]</td>
					<td>[[*{companyName}]]</td>
					<td>[[*{address}]]</td>
					<td>
						<a th:href="@{/presentation/teamDetail(presentationScheduleId=${presentationDto.presentationScheduleId}
						,presentationTeamId=*{presentationTeamId})}" class=" btn btn-default">チーム詳細</a>
					</td>
					<td>
						<th:block th:text="*{reservationStatusFlg} ? 可 : 予約なし"></th:block>
					</td>
					<td>
						<th:block th:if="*{reservationStatusFlg}">[[*{joinAmount}]]人</th:block>
						<th:block th:if="*{!reservationStatusFlg}">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							<span style="display: none;">1</span>
						</th:block>
					</td>
					<td>
						<th:block th:if="*{reservationStatusFlg}">[[*{joinName}]]</th:block>
						<th:block th:if="*{!reservationStatusFlg}">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							<span style="display: none;">1</span>
						</th:block>
					</td>
				</tr>
			</th:block>
		</tbody>
	</table>

</body>
</html>