<!-- Task.77 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>予約登録 | LMS</title>
</head>
<body>

	<div class="container">
		<div id="contents" class="clearfix">
			<div id="main" class="main2clm">

				<h2>成果報告参加予約</h2>

				<table class="table wh">
					<tbody>
						<tr>
							<th class="w33per">会場名</th>
							<td>[[${presentationDto.placeName}]]</td>
						</tr>
						<tr>
							<th>会場備考</th>
							<td>[[${presentationDto.placeNote}]]</td>
						</tr>
						<tr>
							<th>開催日</th>
							<td>[[${#dates.format(presentationDto.presentationDate,'yyyy年MM月dd日')}]]</td>
						</tr>
						<tr>
							<th>予約編集期限</th>
							<td>[[${#dates.format(presentationDto.editLimit,'yyyy年MM月dd日')}]]</td>
						</tr>
						<tr>
							<th>用途</th>
							<td>[[${presentationDto.purpose}]]</td>
						</tr>
					</tbody>
				</table>

				<form name="presentationForm" th:method="post" th:action="@{/presentation/reserveUpdate}">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>日時</th>
								<th>チーム参照</th>
								<th>参加予約</th>
								<th>参加人数</th>
								<th>参加者名</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="presentationDetailDto : ${presentationDto.presentationDetailDtoList}">
								<input type="hidden" name="presentationCompanyId" th:value="${presentationDetailDto.presentationCompanyId}">
							  <tr>
								<td>[[${presentationDetailDto.presentationTime}]]</td>
								<td>
									<a th:href="@{/presentation/teamDetail(presentationScheduleId=${presentationDto.presentationScheduleId}, presentationTeamId=${presentationDetailDto.presentationTeamId})}" 
										class=" btn btn-default">チーム詳細</a>
								</td>
								<td>
									<select name="joinAbleFlg" id="joinAbleFlg" class="col-xs-2  form-control">
										<option th:selected="${presentationDetailDto.joinAbleFlg == null}" value="">予約なし</option>
										<option th:selected="${presentationDetailDto.joinAbleFlg == 1}" value="1">参加</option>
										<option th:selected="${presentationDetailDto.joinAbleFlg == 0}" value="0">不参加</option>
									</select>

								</td>
								<td class="form-inline " id="td_available">
									<input type="number" name="joinAmount" id="joinAmount" th:value="${presentationDetailDto.joinAmount}" min="0" class="form-control ">
									<span class="control-label ">人</span>
								</td>
								<td>
									<input type="text" name="joinName" id="joinName" th:value="${presentationDetailDto.joinName}" 
										class=" col-xs-12 form-inline form-control " placeholder="未定の場合は『未定』と入力してください">
								</td>
							  </tr>
							</th:block>
						</tbody>
					</table>
					<div class="form-group">
						<input type="submit" name="regist" value="予約を変更する" class="btn btn-default">
					</div>
				</form>

			</div>
		</div>
	</div>

</body>
</html>