<!-- Task.67 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>会場[[${placeForm.placeId == null ? '登録' : '変更'}]] | LMS</title>
</head>
<body>

	<h2>会場[[${placeForm.placeId == null ? '登録' : '変更'}]]</h2>

	<div class="well bs-component">

		<form th:action="@{/place/regist}" class="form-horizontal" method="post" th:object="${placeForm}">
			<fieldset>
				<legend>会場情報</legend>

				<div class="form-group">
					<label for="placeName" class="col-lg-2 control-label">会場名</label>
					<div class="col-lg-10">
						<input type="text" name="placeName" th:value="*{placeName}"
							class="form-control" id="placeName" th:errorclass="errorInput" />
						<span th:errors="*{placeName}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="placeDescription" class="col-lg-2 control-label">住所</label>
					<div class="col-lg-10">
						<input type="text" name="placeDescription" th:value="*{placeDescription}" 
							class="form-control" id="placeDescription" th:errorclass="errorInput" />
						<span th:errors="*{placeDescription}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="seatingCapacity" class="col-lg-2 control-label">収容人数</label>
					<div class="col-lg-10 form-inline">
						<input type="text" name="seatingCapacity" th:value="*{seatingCapacity}"
							class="form-control" id="seatingCapacity" th:errorclass="errorInput" style="width:100px;" />
						<span class="ml10">人</span><br>
						<span th:errors="*{seatingCapacity}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="placeNote" class="col-lg-2 control-label">備考</label>
					<div class="col-lg-10">
						<input type="text" name="placeNote" th:value="*{placeNote}"
							class="form-control" id="placeNote"  th:errorclass="errorInput" />
						<span th:errors="*{placeNote}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<strong class="text-caution"><font size="2">
							※ 備考は「タイトル$教室名$備考」のフォーマットで入力して下さい。
						</font></strong><br />
						<strong class="text-caution"><font size="2">
							設定不要な場合は、「$$」と入力してください。
						</font></strong><br />
						<strong class="text-caution"><font size="2">
							タイトルと教室名の情報は、メール一斉送信機能でお客様にメール送信される内容になりますので、設定内容には十分に注意してください。
						</font></strong>
					</div>
				</div>

				<div class="form-group">
					<label for="supportAvailable" class="col-lg-2 control-label">サポートセンター表示</label>
					<div class="col-lg-10 fs20">
						<input type="checkbox" name="supportAvailable" id="supportAvailable" value="1"
							 class="icon-checkbox"  th:checked="*{supportAvailable} == '1'"/>
						<label for="supportAvailable" class="text-info">
							<span class='glyphicon glyphicon-unchecked unchecked'></span>
							<span class='glyphicon glyphicon-check checked'></span>
						</label>
						<span th:errors="*{supportAvailable}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" th:value="|*{placeId == null ? '登録' : '変更'}する|" name="complete" class="btn btn-primary" />
						<input type="hidden" name="placeId" th:value="*{placeId}" />
					</div>
				</div>
			</fieldset>
		</form>

	</div>

</body>
</html>