<!-- Task.64 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="utf-8">
<title>契約確認 | LMS</title>
</head>

<body>

	<h2>契約確認</h2>

	<div class="well bs-component" th:object="${agreementDto}">

		<h3>[[*{companyName}]]　[[*{courseName}]]</h3>
		<fieldset>
			<legend>契約内容</legend>
			<div class="form-group">
				<div class="panel panel-default">
					<div class="panel-body contract">[[*{agreementContent}]]</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>個人情報利用目的</legend>
			<div class="form-group">
				<div class="panel panel-default">
					<div class="panel-body contract">[[*{personalInformationPurpose}]]</div>
				</div>
			</div>
		</fieldset>
	</div>

</body>
</html>