<!-- Task.92 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>メールテンプレート選択 | LMS</title>
</head>
<body>

	<h2>メール一斉送信</h2>
	<h3>送信するメールのテンプレートを選んでください</h3>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">メールテンプレート</h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="w33per">タイトル</th>
						<th class="wh">備考</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mailTemplateDto : ${mailTemplateDtoList}" th:object="${mailTemplateDto}">
						<td>[[*{subject}]]</td>
						<td>[[*{mailTempleteNote}]]</td>
						<td>
							<form th:action="@{/mail/sendTemplateConfirm}" method="post">
								<input type="submit" value="選択" class="btn btn-default" />
								<input type="hidden" name="mailTemplateId" th:value="*{mailTemplateId}" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<div class="form-group">
		<form th:action="@{/mail/queList}" method="post">
			<input type="submit" value="メール送信キュー一覧" class="btn btn-default btn-lg" />
		</form>
	</div>

</body>
</html>