<!-- Task.56 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>[[${examDto.examName}]]プレビュー | LMS"</title>
</head>
<body>

	<div id="examBeing">

		<h2>[[${examDto.examName}]]<small> 制限時間：[[${examDto.limitTime}]]分</small></h2>

		<div th:each="questionDto, st1 : ${questionDtoList}" class="panel panel-default">
			<div class="panel-heading">第[[${st1.count}]]問&nbsp;【[[${questionDto.genreDetailName}]]】</div>
			<div class="panel-body">
				<p class="question">[[${questionDto.question}]]</p>
				<h6>選択肢</h6>
				<ul class="list-group">
					<li class="list-group-item">1. <span class="ib question">[[${questionDto.choice1}]] </span></li>
					<li class="list-group-item">2. <span class="ib question">[[${questionDto.choice2}]] </span></li>
					<li class="list-group-item">3. <span class="ib question">[[${questionDto.choice3}]] </span></li>
					<li class="list-group-item">4. <span class="ib question">[[${questionDto.choice4}]] </span></li>
				</ul>
				<h4 th:if="${session.loginUserDto.role != '0001'}">正解は[[${questionDto.answerNum}]]です</h4>
				<ul class="list-group">
					<li class="list-group-item">[[${questionDto.explain}]]</li>
				</ul>
			</div>
		</div>

		<div class="well bs-component">
			<button type="button" class="btn btn-primary" onclick="history.back();">戻る</button>
		</div>

	</div>

</body>
</html>