<!-- Task.113 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="utf-8">
<title>試験[[${examRegistForm.examId == null ? '登録' : '内容変更'}]] | LMS</title></head>
<body>

	<h2>試験[[${examRegistForm.examId == null ? '登録' : '内容変更'}]]</h2>

	<form th:action="@{/exam/registDetail}" class="form-horizontal" method="post" th:object="${examRegistForm}">
		<input type="hidden" th:name="examId" th:value="*{examId}" />
		<input type="hidden" th:name="examName" th:value="*{examName}" />
		<input type="hidden" th:name="limitTime" th:value="*{limitTime}" />
		<input type="hidden" th:name="genreId" th:value="*{genreId}" />
		<input type="hidden" th:name="numOfQuestion" th:value="*{numOfQuestion}" />

		<h3>問題内容変更</h3>
		<div th:each="index : *{#numbers.sequence(0, numOfQuestion - 1)}" class="well bs-component">
			<input type="hidden" th:name="|questionId[${index}]|" th:value="*{questionId[__${index}__]}" />
			<fieldset>
				<legend>第[[${index + 1}]]問</legend>

				<div class="form-group">
					<label th:for="|question_${index}|" class="col-lg-2 control-label">問題</label>
					<div class="col-lg-10">
						<textarea th:name="question[__${index}__]" class="form-control" th:id="|question_${index}|"
							th:errorclass="errorInput">[[*{question[__${index}__]}]]</textarea>
						<span th:errors="*{question[__${index}__]}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label th:for="|answerNum_${index}|" class="col-lg-2 control-label">正答</label>
					<div class="col-lg-10">
						<select th:name="answerNum[__${index}__]" class="form-control" th:id="|answerNum_${index}|" th:errorclass="errorInput">
							<option value="" label="" />
							<option value="1" label="1" th:selected="*{answerNum[__${index}__]} == '1'" />
							<option value="2" label="2" th:selected="*{answerNum[__${index}__]} == '2'"/>
							<option value="3" label="3" th:selected="*{answerNum[__${index}__]} == '3'"/>
							<option value="4" label="4" th:selected="*{answerNum[__${index}__]} == '4'"/>
						</select>
						<span th:errors="*{answerNum[__${index}__]}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label th:for="|choice1_${index}|" class="col-lg-2 control-label">選択肢１</label>
					<div class="col-lg-10">
						<textarea th:name="|choice1[${index}]|" class="form-control" th:id="|choice1_${index}|"
							th:errorclass="errorInput">[[*{choice1[__${index}__]}]]</textarea>
						<span th:errors="*{choice1[__${index}__]}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label th:for="|choice2_${index}|" class="col-lg-2 control-label">選択肢２</label>
					<div class="col-lg-10">
						<textarea th:name="|choice2[${index}]|" class="form-control" th:id="|choice2_${index}|"
							th:errorclass="errorInput">[[*{choice2[__${index}__]}]]</textarea>
						<span th:errors="*{choice2[__${index}__]}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label th:for="|choice3_${index}|" class="col-lg-2 control-label">選択肢３</label>
					<div class="col-lg-10">
						<textarea th:name="|choice3[${index}]|" class="form-control" th:id="|choice3_${index}|"
							th:errorclass="errorInput">[[*{choice3[__${index}__]}]]</textarea>
						<span th:errors="*{choice3[__${index}__]}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label th:for="|choice4_${index}|" class="col-lg-2 control-label">選択肢４</label>
					<div class="col-lg-10">
						<textarea th:name="|choice4[${index}]|" class="form-control" th:id="|choice4_${index}|"
							th:errorclass="errorInput">[[*{choice4[__${index}__]}]]</textarea>
						<span th:errors="*{choice4[__${index}__]}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label th:for="|explain_${index}|" class="col-lg-2 control-label">解説</label>
					<div class="col-lg-10">
						<textarea th:name="|explain[${index}]|" class="form-control" th:id="|explain_${index}|"
							th:errorclass="errorInput">[[*{explain[__${index}__]}]]</textarea>
						<span th:errors="*{explain[__${index}__]}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="genreDetailId_${s.index}"
						class="col-lg-2 control-label">詳細試験カテゴリー</label>
					<div class="col-lg-10">
						<select th:name="|genreDetailId[${index}]|" class="form-control" th:id="|genreDetailId_${index}|" th:errorclass="errorInput">
							<option value="" />
							<option th:each="genreDetailDto : ${genreDetailDtoList}" th:label="${genreDetailDto.genreDetailName}" 
								th:value="${genreDetailDto.genreDetailId}" th:selected="${genreDetailDto.genreDetailId} == *{genreDetailId[__${index}__]}" />
						</select>
						<span th:errors="*{genreDetailId[__${index}__]}" class="help-inline error"></span>
					</div>
				</div>
			</fieldset>
		</div>

		<span th:unless="${#strings.isEmpty(remDetailError)}">[[${remDetailError}]]</span>
		
		<th:block th:if="*{examId == null}">
			<div class="well bs-component">
				<fieldset>
					<legend>項目を追加／削除</legend>
					<input type="submit" name="addDetail" value="＋" id="addBtn" class="btn btn-default" />
					<input type="submit" name="remDetail" value="－" id="addBtn" class="btn btn-default" />
				</fieldset>
			</div>
			<div class="well bs-component">
				<fieldset>
					<input type="submit" name="regist" value="登録する" id="updBtn" class="btn btn-primary" />
				</fieldset>
			</div>
		</th:block>
		<th:block th:if="*{examId != null}">
			<div class="well bs-component">
				<fieldset>
					<input type="submit" name="update" value="変更する" id="updBtn" class="btn btn-primary" onclick="return changecheck()" />
					<strong class="text-caution">※試験の問題数を変更する場合は、再度試験を作り直してください！！</strong><br/>
					<strong class="text-caution">　　　　　　 既に試験が受験されている場合、試験の問題を追加または削除すると試験結果が参照できなくなります。</strong>
				</fieldset>
			</div>
		</th:block>

	</form>

</body>
</html>