<!-- Task.112 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="utf-8">
<title>試験[[${examRegistForm.examId == null ? '登録' : '内容変更'}]] | LMS</title>
</head>
<body>

	<h2>試験[[${examRegistForm.examId == null ? '登録' : '内容変更'}]]</h2>

	<div class="well bs-component">
		<form th:action="@{/exam/registDetail}" class="form-horizontal" method="post" th:object="${examRegistForm}">
			<fieldset>
				<legend>基本情報</legend>

				<div class="form-group">
					<label for="examName" class="col-lg-2 control-label">試験名</label>
					<div class="col-lg-10">
						<input type="text" name="examName" th:value="*{examName}" class="form-control"
							id="examName" th:errorclass="errorInput" />
						<span th:errors="*{examName}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="limitTime" class="col-lg-2 control-label">制限時間（分）</label>
					<div class="col-lg-10">
						<input type="text" name="limitTime" th:value="*{limitTime}" class="form-control"
							id="limitTime" th:errorclass="errorInput" />
						<span th:errors="*{limitTime}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="genreId" class="col-lg-2 control-label">試験カテゴリー</label>
					<div class="col-lg-10">
						<select name="genreId" class="form-control" id="genreId" th:errorclass="errorInput">
							<option value="" />
							<option th:each="genreDto : ${genreDtoList}" th:label="${genreDto.genreName}" 
								th:value="${genreDto.genreId}" th:selected="${genreDto.genreId} == *{genreId}"/>
						</select>
						<span th:errors="*{genreId}" class="help-inline error"></span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary">次へ</button>
						<strong th:if="*{examId != null}" class="text-caution">※試験の問題数を変更する場合は、再度試験を作り直してください！！</strong><br/>
						<input type="hidden" name="examId" th:value="*{examId}" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</body>
</html>