<!-- Task.52 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="utf-8">
<title>試験結果一覧 | LMS</title>
</head>
<body>

	<!-- Task.53 -->
	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span th:text=${message}></span>
		</div>
	</th:block>

	<div class="container">
		<div id="contents" class="clearfix">
			<div id="main" class="main2clm">

					<h2>[[${examDetailDto.examName}]]</h2>

					<h4>試験情報</h4>
					<table class="table table-hover">
						<tbody>
							<tr>
								<th class="wq">問題数</th>
								<td>[[${examDetailDto.numOfQuestion}]]問</td>
							</tr>
							<tr>
								<th>制限時間</th>
								<td>[[${examDetailDto.limitTime}]]分</td>
							</tr>
							<tr>
								<th>平均点</th>
								<td>[[${examDetailDto.avgScore}]]点</td>
							</tr>
						</tbody>
					</table>

					<div class="well bs-component">
						<form th:action="@{/exam/resultList}" method="post" class="form-horizontal" th:object="${examResultListForm}">
							<input type="hidden" name="examId" th:value="${examDetailDto.examId}">
							<fieldset>
								<legend>検索</legend>
								<div class="form-group">
									<label for="courseId" class="col-lg-2 control-label">コース</label>
									<div class="col-lg-10">
										<select name="courseId" id="courseId" class="form-control">
											<option value=""></option>
											<option th:each="courseDto : ${courseDtoList}" th:value="${courseDto.courseId}"
												th:selected="${courseDto.courseId} == *{courseId}">[[${courseDto.courseName}]]</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="placeId" class="col-lg-2 control-label">会場</label>
									<input type="hidden" name="placeId" th:value="${placeDto.placeId}">
									<div class="col-lg-10">
										<th:block th:if="${#strings.isEmpty(placeDto.placeNote)}">
											<input type="text" name="" th:value="${placeDto.placeName}" readonly="readonly" id="placeId" class="form-control">
										</th:block>
										<th:block th:if="${not #strings.isEmpty(placeDto.placeNote)}">
											<input type="text" name="" th:value="|${placeDto.placeName}(${placeDto.placeNote})|" readonly="readonly" 
												id="placeId" class="form-control">
										</th:block>
									</div>
								</div>
								<div class="form-group">
									<label for="companyId" class="col-lg-2 control-label">企業</label>
									<div class="col-lg-10">
										<select name="companyId" id="companyId" class="form-control">
											<option value=""></option>
											<option th:each="companyDto : ${companyDtoList}" th:value="${companyDto.companyId}"
												th:selected="${companyDto.companyId} == *{companyId}">[[${companyDto.companyName}]]</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-10 col-lg-offset-2">
										<input type="submit" value="検索" class="btn btn-primary">
									</div>
								</div>
							</fieldset>
						</form>
					</div>

					<h4>試験結果一覧</h4>
					<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-hover currencysortabletable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
									<thead>
										<tr role="row">
											<th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ユーザー名: activate to sort column descending">ユーザー名</th>
											<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="コース名: activate to sort column ascending">コース名</th>
											<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="企業名: activate to sort column ascending">企業名</th>
											<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="会場: activate to sort column ascending">会場</th>
											<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="評点: activate to sort column ascending">評点</th>
											<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="詳細: activate to sort column ascending">詳細</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="lmsUserDto : ${lmsUserDtoList}" role="row" class="odd">
											<td class="sorting_1">[[${lmsUserDto.userDetailDto.userName}]]</td>
											<td>[[${lmsUserDto.userDetailDto.courseName}]]</td>
											<td>[[${lmsUserDto.userDetailDto.companyName}]]</td>
											<td>[[${lmsUserDto.userDetailDto.placeName}]]
												<small th:if="${not #strings.isEmpty(lmsUserDto.userDetailDto.placeNote)}">（[[${lmsUserDto.userDetailDto.placeNote}]]）</small>
											</td>
											<th:block th:if="${not #lists.isEmpty(lmsUserDto.examResultDtoList)}">
												<td>[[${lmsUserDto.examResultDtoList[0].point}]]点</td>
												<td>
													<form method="post" th:action="@{/exam/detail}">
														<input type="submit" value="詳細" class="btn btn-default">
														<input type="hidden" name="examSectionId" th:value="${lmsUserDto.examResultDtoList[0].examSectionId}">
														<input type="hidden" name="lmsUserId" th:value="${lmsUserDto.userDetailDto.lmsUserId}">
													</form>
													<!-- Task.53 -->
													<form method="post" th:action="@{/exam/resultList}" onsubmit="return delcheck()">
														<input type="submit" value="削除" name="delete" class="btn btn-default">
														<input type="hidden" name="examId" th:value="${examDetailDto.examId}">
														<input type="hidden" name="examSectionId" th:value="${lmsUserDto.examResultDtoList[0].examSectionId}">
														<input type="hidden" name="lmsUserId" th:value="${lmsUserDto.userDetailDto.lmsUserId}">
													</form>
												</td>
											</th:block>
											<th:block th:if="${#lists.isEmpty(lmsUserDto.examResultDtoList)}">
												<td>未実施</td>
												<td></td>
											</th:block>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-5">
								<div class="col-sm-7">
									<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"></div>
								</div>
							</div>
						</div>

					</div>

			</div>
		</div>
	</div>

</body>
</html>