<!-- Task.107 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>面談テンプレートファイル[[${meetingFileRegistForm.meetingFileId == null ? '登録' : '変更'}]] | LMS</title>
</head>
<body>
<th:block th:object="${meetingFileRegistForm}">

	<h2>面談テンプレートファイル[[*{meetingFileId == null ? '登録' : '変更'}]]</h2>

	<form th:action="@{/meeting/fileRegist}" method="post" enctype="multipart/form-data" class="form-horizontal">
		<div class="well bs-component">
			<fieldset>
				<legend>面談ファイル情報</legend>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<strong class="text-info">※アップロードファイルのサイズ上限は 1.0GBです。</strong>
					</div>
					<label for="file-input" class="col-lg-2 control-label">テンプレートファイル</label>
					<div class="col-lg-10">
						<input type="file" name="file" id="file-input" style="display: none;" />
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" onclick="$('#file-input').click();" disabled>
									<i class="glyphicon glyphicon-folder-open"></i>
								</button>
							</span>
							<input type="text" id="file-input-dummy" th:value="*{fileName}" class="form-control" placeholder="ファイルを選択してください" disabled />
							<input type="hidden" name="fileName" th:value="*{fileName}"/>
						</div>
						<span th:errors="*{fileName}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="sheetName" class="col-lg-2 control-label">シート名</label>
					<div class="col-lg-10">
						<input type="text" name="sheetName" th:value="*{sheetName}" id="sheetName"
							 th:errorclass="errorInput" class="form-control" />
						<span th:errors="*{sheetName}" class="help-inline error"></span>
					</div>
				</div>

				<hr />
				<div>
					<strong>企業名出力</strong>
				</div>
				<div class="form-group">
					<label for="clmCompany" class="col-lg-2 control-label">列番号</label>
					<div class="col-lg-10">
						<input type="text" name="clmCompany" th:value="*{clmCompany}" class="form-control"
							id="clmCompany" th:errorclass="errorInput" placeholder="例）A" />
						<span th:errors="*{clmCompany}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="rowCompany" class="col-lg-2 control-label">行番号</label>
					<div class="col-lg-10">
						<input type="text" name="rowCompany" th:value="*{rowCompany}" class="form-control"
							id="rowCompany" th:errorclass="errorInput" />
						<span th:errors="*{rowCompany}" class="help-inline error"></span>
					</div>
				</div>

				<hr />
				<div>
					<strong>ユーザー名出力</strong>
				</div>
				<div class="form-group">
					<label for="clmUser" class="col-lg-2 control-label">列番号</label>
					<div class="col-lg-10">
						<input type="text" name="clmUser" th:value="*{clmUser}" class="form-control"
							id="clmUser" th:errorclass="errorInput" placeholder="例）A" />
						<span th:errors="*{clmUser}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="rowUser" class="col-lg-2 control-label">行番号</label>
					<div class="col-lg-10">
						<input type="text" name="rowUser" th:value="*{rowUser}" class="form-control"
							id="rowUser" th:errorclass="errorInput" />
						<span th:errors="*{rowUser}" class="help-inline error"></span>
					</div>
				</div>

				<hr />
				<div>
					<strong>日付出力</strong>
				</div>
				<div class="form-group">
					<label for="clmDate" class="col-lg-2 control-label">列番号</label>
					<div class="col-lg-10">
						<input type="text" name="clmDate" th:value="*{clmDate}" class="form-control"
							id="clmDate" th:errorclass="errorInput" placeholder="例）A" />
						<span th:errors="*{clmDate}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="rowDate" class="col-lg-2 control-label">行番号</label>
					<div class="col-lg-10">
						<input type="text" name="rowDate" th:value="*{rowDate}" class="form-control"
							id="rowDate" th:errorclass="errorInput" />
						<span th:errors="*{rowDate}" class="help-inline error"></span>
					</div>
				</div>

				<hr />
				<div>
					<strong>面談内容出力開始</strong>
				</div>
				<div class="form-group">
					<label for="clmMeeting" class="col-lg-2 control-label">列番号</label>
					<div class="col-lg-10">
						<input type="text" name="clmMeeting" th:value="*{clmMeeting}" class="form-control"
							id="clmMeeting" th:errorclass="errorInput" placeholder="例）A" />
						<span th:errors="*{clmMeeting}" class="help-inline error"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="rowMeeting" class="col-lg-2 control-label">行番号</label>
					<div class="col-lg-10">
						<input type="text" name="rowMeeting" th:value="*{rowMeeting}" class="form-control"
							id="rowMeeting" th:errorclass="errorInput" />
							<span th:errors="*{rowMeeting}" class="help-inline error"></span>
					</div>
				</div>

				<hr />
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" name="complete" class="btn btn-primary">[[*{meetingFileId == null ? '登録' : '変更'}]]する</button>
						<input type="hidden" name="meetingFileId" th:value="*{meetingFileId}" />
					</div>
				</div>
			</fieldset>

		</div>
	</form>

</th:block>
</body>
</html>