<!-- Task.106 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>面談テンプレートファイル一覧 | LMS</title>
</head>
<body>

	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${message}]]</span>
		</div>
	</th:block>

	<h2>面談テンプレートファイル一覧</h2>

	<th:block th:object="${meetingFileListForm}">

		<div class="well bs-component">
			<fieldset>
				<legend>新規作成</legend>
				<div class="form-group">
					<form th:action="@{/meeting/fileRegist}" class="ib" method="post">
						<input type="submit" value="新規登録" class="btn btn-default" />
					</form>
				</div>
			</fieldset>
			<form th:action="@{/meeting/fileList}" class="form-horizontal">
				<fieldset>
					<legend>検索</legend>
					<div class="form-group">
						<label for="fileName" class="col-lg-2 control-label">面談ファイル名</label>
						<div class="col-lg-10">
							<input type="text" th:field="*{fileName}" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<input type="submit" value="検索" class="btn btn-primary" />
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		
		<p th:errors="*{meetingFileId}" class="help-inline error"></p>
		
		<table class="table table-hover sortabletable">
			<thead>
				<tr>
					<th>面談ファイルID</th>
					<th>ファイル名</th>
					<th>編集</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="meetingFileDto, stat : *{meetingFileDtoList}">
					<td>[[${meetingFileDto.meetingFileId}]]</td>
					<td>[[${meetingFileDto.fileName}]]</td>
					<td>
						<form th:action="@{/meeting/fileRegist}" class="ib" method="post">
							<input type="hidden" name="meetingFileId" th:value="${meetingFileDto.meetingFileId}" />
							<input type="submit" value="変更" class="btn btn-default" />
						</form>
						<form th:action="@{/meeting/fileList}" class="ib" onsubmit="return delcheck()" method="post">
							<input type="hidden" name="meetingFileId" th:value="${meetingFileDto.meetingFileId}" />
							<input type="hidden" name="selectedIndex" th:value="${stat.index}" />
							<input type="submit" value="削除" name="delete" class="btn btn-default" />
						</form><br />
						<span th:errors="*{meetingFileDtoList[__${stat.index}__].meetingFileId}" class="help-inline error"></span>
					</td>
				</tr>
			</tbody>
		</table>

	</th:block>

</body>
</html>