<!-- Task.108 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>引継面談／会場見学 実施日一覧 | LMS</title>
</head>
<body>

	<th:block th:if="${not #strings.isEmpty(takeOverCandidateListForm.successMessage)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${takeOverCandidateListForm.successMessage}]]</span>
		</div>
	</th:block>

	<h2>引継面談／会場見学 実施日一覧</h2>

	<div class="well bs-component">
		<fieldset>
			<legend>引継面談／会場見学 実施日登録</legend>
			<div class="form-group">
				<form th:action="@{/takeOver/registDate}" class="ib">
					<input type="submit" value="新規登録" class="btn btn-default" />
				</form>
			</div>
		</fieldset>
	</div>

	<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer" th:object="${takeOverCandidateListForm}">
		<div class="row">
			<div class="col-sm-6">
				<div class="dataTables_length" id="DataTables_Table_0_length"></div>
			</div>
			<div class="col-sm-6"></div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				
				<span th:if="*{!#strings.isEmpty(errorMessage)}" class="help-inline error">*&nbsp;[[*{errorMessage}]]</span>
				
				<table class="table table-hover sortabletable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr role="row">
							<th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="用途: activate to sort column descending">用途</th>
							<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="開始日: activate to sort column ascending">開始日</th>
							<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="終了日: activate to sort column ascending">終了日</th>
							<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="予約編集期限: activate to sort column ascending">予約編集期限</th>
							<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="編集: activate to sort column ascending">編集</th>
							<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="削除: activate to sort column ascending">削除</th>
							<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="スケジュール公開: activate to sort column ascending">スケジュール公開</th>
						</tr>
					</thead>
					<tbody>
						<tr role="row"  th:each="takeOverScheduleDto : *{takeOverScheduleDtoList}">
							<td class="sorting_1">[[${takeOverScheduleDto.purpose}]]</td>
							<td>[[${#dates.format(takeOverScheduleDto.meetingOpenDate, "yyyy年M月d日")}]]</td>
							<td>[[${#dates.format(takeOverScheduleDto.meetingCloseDate, "yyyy年M月d日")}]]</td>
							<td>[[${#dates.format(takeOverScheduleDto.editLimit, "yyyy年M月d日")}]]</td>
							<td>
								<form th:action="@{/takeOver/selectCompany}" class="ib">
									<input type="submit" value="編集" class="btn btn-default" />
									<input type="hidden" name="meetingScheduleId" th:value="${takeOverScheduleDto.meetingScheduleId}" />
									<input type="hidden" name="publishedFlg" th:value="${takeOverScheduleDto.publishedFlg}" />
								</form>
							</td>
							<td>
								<form th:action="@{/takeOver/candidateList}" method="post" class="ib" onsubmit="return delcheck()">
									<input type="submit" name="delete" value="削除" class="btn btn-default" />
									<input type="hidden" name="meetingScheduleId" th:value="${takeOverScheduleDto.meetingScheduleId}" />
									<input type="hidden" name="meetingPlaceId" th:value="${takeOverScheduleDto.meetingPlaceId}" />
									<input type="hidden" name="publishedFlg" th:value="${takeOverScheduleDto.publishedFlg}" />
								</form>
							</td>
							<td>
								<th:block th:if="${takeOverScheduleDto.publishedFlg == 0}">
									<form th:action="@{/takeOver/candidateList}" method="post" class="ib">
										<input type="submit" name="publish" value="公開" class="btn btn-default" />
										<input type="hidden" name="meetingScheduleId" th:value="${takeOverScheduleDto.meetingScheduleId}" />
										<input type="hidden" name="meetingPlaceId" th:value="${takeOverScheduleDto.meetingPlaceId}" />
										<input type="hidden" name="editLimit" th:value="${#dates.format(takeOverScheduleDto.editLimit, 'yyyy/MM/dd')}" />
									</form>
								</th:block>
								<th:block th:if="${takeOverScheduleDto.publishedFlg == 1}">
									<form th:action="@{/takeOver/candidateList}" method="post" class="ib">
										<input type="submit" name="cancel" value="取消" class="btn btn-danger" />
										<input type="hidden" name="meetingScheduleId" th:value="${takeOverScheduleDto.meetingScheduleId}" />
										<input type="hidden" name="meetingPlaceId" th:value="${takeOverScheduleDto.meetingPlaceId}" />
										<input type="hidden" name="reservedFlg" th:value="${takeOverScheduleDto.reservedFlg}" />
									</form>
								</th:block>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-7">
				<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"></div>
			</div>
		</div>
	
	</div>

</body>
</html>