<!-- Task.73 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>引継面談／会場見学 時間予約 | LMS</title>
</head>
<body>

	<h2>引継面談／会場見学 時間予約</h2>
	<table class="table table-hover" th:object="${takeOverScheduleReserveForm}">
		<tbody>
			<tr>
				<th class="wq">用途</th>
				<td>[[*{purpose}]]</td>
			</tr>
			<tr>
				<th>会場名</th>
				<td>[[*{placeName}]]</td>
			</tr>
			<tr>
				<th>会場備考</th>
				<td>[[*{placeNote}]]</td>
			</tr>
			<tr>
				<th>会場住所</th>
				<td>[[*{placeDescription}]]</td>
			</tr>
			<tr>
				<th>予約編集期限</th>
				<td>[[*{#dates.format(editLimit, "yyyy年M月d日")}]]</td>
			</tr>
		</tbody>
	</table>

	<h3>日時</h3>
	<div class="form-group">
		<form th:action="@{/takeOver/regist}" method="post" th:object="${takeOverScheduleReserveForm}">
			<input type="hidden" name="meetingScheduleId" th:value="*{meetingScheduleId}" />
			<input type="hidden" name="purpose" th:value="*{purpose}" />
			<input type="hidden" name="editLimit" th:value="*{#dates.format(editLimit, 'yyyy/MM/dd')}" />
			<input type="hidden" name="meetingPlaceId" th:value="*{meetingPlaceId}" />
			<input type="hidden" name="placeName" th:value="*{placeName}" />
			<input type="hidden" name="placeDescription" th:value="*{placeDescription}" />
			<input type="hidden" name="placeNote" th:value="*{placeNote}" />
			<input type="hidden" name="registerableFlg" th:value="*{registerableFlg}" />
			<input type="hidden" name="updatableFlg" th:value="*{updatableFlg}" />
			<!-- Task.74 -->
			<input type="hidden" name="reservedIndex" th:value="*{reservedIndex}" />

			<table class="table table-hover">
				<tbody>
					<tr>
						<th class="wq">日時</th>
						<th>予約状況</th>
						<th>お客様ご要望欄</th>
					</tr>
					<tr th:each="takeOverScheduleDetailDto, stat : *{takeOverScheduleDetailDtoList}">
						<td>
							[[${#dates.format(takeOverScheduleDetailDto.meetingDate, "yyyy年M月d日")}]] [[${takeOverScheduleDetailDto.meetingTime}]]
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].meetingScheduleDetailId'" th:value="${takeOverScheduleDetailDto.meetingScheduleDetailId}" />
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].meetingDate'" th:value="${#dates.format(takeOverScheduleDetailDto.meetingDate, 'yyyy/MM/dd')}" />
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].meetingTime'" th:value="${takeOverScheduleDetailDto.meetingTime}" />
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].companyId'" th:value="${takeOverScheduleDetailDto.companyId}" />
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].meetingCompanyId'" th:value="${takeOverScheduleDetailDto.meetingCompanyId}" />
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].joinAmount'" th:value="${takeOverScheduleDetailDto.joinAmount}" />
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].companyRequest'" th:value="${takeOverScheduleDetailDto.companyRequest}" />
						</td>
						<td>
							<span th:if="${takeOverScheduleDetailDto.companyId == session.loginUserDto.companyId 
								&& takeOverScheduleDetailDto.meetingCompanyId != null}" class="text-success">予約登録済み</span>
							<span th:if="${takeOverScheduleDetailDto.companyId != session.loginUserDto.companyId 
								&& takeOverScheduleDetailDto.meetingCompanyId != null}" class="text-warning">他社様に既に予約されています</span>
							<span th:if="${takeOverScheduleDetailDto.meetingCompanyId == null}">予約可能</span>
						</td>
						<td>
							<span th:if="${takeOverScheduleDetailDto.companyId == session.loginUserDto.companyId
								&& takeOverScheduleDetailDto.meetingCompanyId != null}">[[${takeOverScheduleDetailDto.companyRequest}]]</span>
							<span th:unless="${takeOverScheduleDetailDto.companyId == session.loginUserDto.companyId
								&& takeOverScheduleDetailDto.meetingCompanyId != null}">-</span>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="form-group">
				<th:block th:each="detailSchedule : ${takeOverScheduleDetailDtoList}">
					<!-- 予約を変更するフォーム -->
					<form th:if="${detailSchedule != null and session.loginUserDto != null and session.loginUserDto.companyId == detailSchedule.companyId}" action="update.html" method="post">
						<input type="submit" value="予約を変更する" class="btn btn-default">
					</form>

					<!-- 予約するフォーム -->
					<th:block th:unless="${detailSchedule != null and session.loginUserDto != null and session.loginUserDto.companyId == detailSchedule.companyId}">
						<form th:each="schedule : ${getTakeOverMeetingScheduleDtoList}"
							th:if="${detailSchedule != null and detailSchedule.companyId == null and detailSchedule.meetingDate >= schedule.editLimit and detailSchedule.companyId != session.loginUserDto.companyId}"
							action="regist.html" method="post">
							<input type="submit" value="予約する" class="btn btn-default">
						</form>
					</th:block>
				</th:block>
			</div>
		</form>
	</div>

</body>
</html>