<!-- Task.74 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>引継面談／会場見学 時間予約 | LMS</title>
</head>
<body>

	<h2>引継面談／会場見学 時間予約</h2>
	<table class="table table-hover" th:object="${takeOverScheduleReserveForm}">
		<tbody>
			<tr>
				<th class="wq">用途</th>
				<td>[[*{purpose}]]</td>
			</tr>
			<tr>
				<th>会場名</th>
				<td>[[*{placeName}]]</td>
			</tr>
			<tr>
				<th>会場備考</th>
				<td>[[*{placeNote}]]</td>
			</tr>
			<tr>
				<th>会場住所</th>
				<td>[[*{placeDescription}]]</td>
			</tr>
			<tr>
				<th>予約編集期限</th>
				<td>[[*{#dates.format(editLimit, "yyyy年M月d日")}]]</td>
			</tr>
		</tbody>
	</table>

	<h3>日時</h3>
	<div class="form-group" th:object="${takeOverScheduleReserveForm}">
		<form th:action="@{/takeOver/regist}" method="post">

			<ul style="padding-left: 0; list-style: none;">
				<li th:each="error : ${#fields.detailedErrors()}">
					<span th:if="${!#strings.isEmpty(error.message)}" class="help-inline error">*&nbsp;[[${error.message}]]</span>
				</li>
			</ul>

			<input type="hidden" name="meetingScheduleId" th:value="*{meetingScheduleId}" />
			<input type="hidden" name="purpose" th:value="*{purpose}" />
			<input type="hidden" name="editLimit" th:value="*{#dates.format(editLimit, 'yyyy/MM/dd')}" />
			<input type="hidden" name="meetingPlaceId" th:value="*{meetingPlaceId}" />
			<input type="hidden" name="placeName" th:value="*{placeName}" />
			<input type="hidden" name="placeDescription" th:value="*{placeDescription}" />
			<input type="hidden" name="placeNote" th:value="*{placeNote}" />
			<input type="hidden" name="registerableFlg" th:value="*{registerableFlg}" />
			<input type="hidden" name="updatableFlg" th:value="*{updatableFlg}" />

			<table class="table table-hover">
				<tbody>
					<tr>
						<th class="wq">日時</th>
						<th>参加人数</th>
						<th>予約</th>
						<th>お客様ご要望欄</th>
					</tr>
					<tr th:each="takeOverScheduleDetailDto, stat : *{takeOverScheduleDetailDtoList}">
						<td>[[${#dates.format(takeOverScheduleDetailDto.meetingDate, "yyyy年M月d日")}]] [[${takeOverScheduleDetailDto.meetingTime}]]
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].meetingScheduleDetailId'" 
								th:value="${takeOverScheduleDetailDto.meetingScheduleDetailId}" />
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].meetingDate'" 
								th:value="${#dates.format(takeOverScheduleDetailDto.meetingDate, 'yyyy/MM/dd')}" />
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].meetingTime'" 
								th:value="${takeOverScheduleDetailDto.meetingTime}" />
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].companyId'" 
								th:value="${takeOverScheduleDetailDto.companyId}" />
							<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].meetingCompanyId'" 
								th:value="${takeOverScheduleDetailDto.meetingCompanyId}" />
						</td>
						<td>
							<th:block th:if="${takeOverScheduleDetailDto.companyId != session.loginUserDto.companyId 
								&& takeOverScheduleDetailDto.meetingCompanyId != null}">
								<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].joinAmount'" 
									th:value="${takeOverScheduleDetailDto.joinAmount}" />
							</th:block>
							<th:block th:if="${takeOverScheduleDetailDto.companyId == session.loginUserDto.companyId
								|| takeOverScheduleDetailDto.meetingCompanyId == null}">
								<input type="number" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].joinAmount'" 
								th:value="${takeOverScheduleDetailDto.joinAmount}" class="form-control w220 di calc" 
								th:errorclass="errorInput" style="width:60px" min="1" /> 人
							</th:block>
						</td>
						<td>
							<th:block th:if="${takeOverScheduleDetailDto.companyId != session.loginUserDto.companyId 
								&& takeOverScheduleDetailDto.meetingCompanyId != null}">
								<span  class="text-warning">他社様に既に予約されています</span>
							</th:block>
							<th:block th:if="${takeOverScheduleDetailDto.companyId == session.loginUserDto.companyId
								|| takeOverScheduleDetailDto.meetingCompanyId == null}">
								<input type="radio" name="reservedIndex" th:value="${stat.index}" th:checked="${stat.index} == *{reservedIndex}"  />
							</th:block>
						</td>
						<td>
							<th:block th:if="${takeOverScheduleDetailDto.companyId != session.loginUserDto.companyId 
								&& takeOverScheduleDetailDto.meetingCompanyId != null}">
								<input type="hidden" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].companyRequest'" 
									th:value="${takeOverScheduleDetailDto.companyRequest}" />
							</th:block>
							<th:block th:if="${takeOverScheduleDetailDto.companyId == session.loginUserDto.companyId
								|| takeOverScheduleDetailDto.meetingCompanyId == null}">
								<input type="text" th:name="'takeOverScheduleDetailDtoList[' + ${stat.index} + '].companyRequest'" 
								th:value="${takeOverScheduleDetailDto.companyRequest}" class="form-control" maxlength="100" />
							</th:block>
						</td>
					</tr>
				</tbody>
			</table>

			<input type="submit" th:if="*{registerableFlg}" name="update" value="予約する" class="btn btn-primary" />
			<input type="submit" th:if="*{updatableFlg}" name="update" value="予約を変更する" class="btn btn-primary" />
			<input type="submit" th:if="*{updatableFlg}" name="delete" value="予約を取り消す" class="btn btn-danger" />

		</form>
	</div>

</body>
</html>