<!-- Task.104 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>企業一覧 | LMS</title>
</head>
<body>

	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${message}]]</span>
		</div>
	</th:block>
	
	<h2>企業一覧</h2>
	
	<th:block th:object="${companyListForm}">

		<div class="well bs-component">
			<fieldset>
				<legend>新規作成</legend>
				<form th:action="@{/company/regist}" class="ib" method="post">
					<input type="submit" value="新規登録" class="btn btn-default" />
				</form>
				<strong class="text-danger">※こちらから企業登録を行った場合、見積もりや請求情報は作成されません。</strong><br />
			</fieldset>
			<form th:action="@{/company/list}" class="form-horizontal">
				<fieldset>
					<legend>検索</legend>
					<div class="form-group">
						<label for="companyName" class="col-lg-2 control-label">企業名</label>
						<div class="col-lg-10">
							<input type="text" id="companyName" name="companyName" th:value="*{companyName}" 
								list="companylist" class="form-control" th:errorclass="errorInput" />
							<datalist id="companylist">
								<option th:each="companyDto1 : *{companyDtoList1}" th:label="${companyDto1.address}"
									th:value="|${companyDto1.companyName}$${companyDto1.address}|" />
							</datalist>
							<span th:errors="*{companyName}" class="help-inline error"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<input type="submit" name="search" value="検索" class="btn btn-primary" />
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		
		<p th:errors="*{companyId}" class="help-inline error"></p>

		<table class="table table-hover sortabletable">
			<thead>
				<tr>
					<th>企業ID</th>
					<th>助成金情報</th>
					<th>企業名</th>
					<th>編集</th>
					<th>最終更新日時</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="companyDto2, stat : *{companyDtoList2}">
					<td>[[${companyDto2.companyId}]]</td>
					<td>
						<strong th:if="${#strings.isEmpty(companyDto2.holiday)}" class="text-danger">*未入力</strong>
						<small th:unless="${#strings.isEmpty(companyDto2.holiday)}" >入力済</small>
					</td>
					<td>[[${companyDto2.companyName}]]</td>
					<td>
						<form th:action="@{/company/regist}" class="ib" method="post">
							<input type="hidden" name="companyId" th:value="${companyDto2.companyId}" />
							<input type="submit" value="変更" class="btn btn-default" />
						</form>
						<form th:action="@{/company/list}" class="ib" method="post" onsubmit="return delcheck()">
							<input type="hidden" name="companyId" th:value="${companyDto2.companyId}" />
							<input type="hidden" name="selectedIndex" th:value="${stat.index}" />
							<input type="submit" name="delete" value="削除" class="btn btn-default" />
						</form><br />
						<span th:errors="*{companyDtoList2[__${stat.index}__].companyId}" class="help-inline error"></span>
					</td>
					<td>[[${#dates.format(companyDto2.lastModifiedDate, 'yyyy年MM月dd日 HH時mm分ss秒')}]]</td>
				</tr>
			</tbody>
		</table>

	</th:block>

</body>
</html>