<!--Task.41 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>サポートセンター問い合わせ | LMS</title>
</head>
<body>

	<script>
		$(function() {
			var url = '';
			$('.support-link').click(function() {
				url = $(this).parents('div').children('input[name=url]').val();
				$('#modal').modal('show');
			});
			$('#support-submit').click(function() {
				window.open(url, '_blank');
				$('#modal').modal('hide');
			});
		});
	</script>

	<!-- 確認モーダル -->
	<div class="modal fade" id="modal">
		<a href="#" data-toggle="modal" data-target="#modal" id="modal-link"></a>
		<div class="modal-dialog modal-dialog-center">
			<div class="modal-content">
				<!-- モーダルのヘッダ -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="modal-label">メッセージ</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" />
					<div class="form-group">
						<strong>お問い合わせいただく前に以下の内容をご確認ください。</strong>
						<ul>
							<li>初めてご利用になる方は<strong><a th:href="@{/pdf/guide_support_001.pdf}" style="text-decoration: underline;" target="_blank">サポートセンター利用ガイド</a></strong>をご一読ください。
							</li>
							<li>質問の内容はまとめられていますか。</li>
							<li>ヘッドセットは用意できていますか。</li>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="support-submit">はい</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">いいえ</button>
				</div>
			</div>
		</div>
	</div>

	<h2>サポートセンター問い合わせ</h2>
	<div class="alert alert-info">
		東京ITスクールサポートセンターへのテレビ通話を行います。
		<ul>
			<li>初めてご利用になる方は
				<a th:href="@{/pdf/guide_support_001.pdf}" style="text-decoration: underline;" target="_blank">サポートセンター利用ガイド</a>
				をご一読ください。
			</li>
			<li>カメラとヘッドセットをご用意ください。</li>
		</ul>
	</div>

	<div th:if="${unitOperatorDtoList.size() > 0}" class="panel panel-default">
		<div class="panel-heading">単元別問い合わせ</div>
		<div class="panel-body">
			<div th:each="unitOperatorDto : ${unitOperatorDtoList}" class="form-group  col-md-6">
				<a class="btn btn-info btn-lg btn-block support-link">[[${unitOperatorDto.operatorName}]] </a>
				<input type="hidden" name="url" th:value="|${unitOperatorDto.url}?callname=${session.loginUserDto.userName}:${session.loginUserDto.placeName}|" />
			</div>
		</div>
	</div>

	<div th:if="${directOperatorDtoList.size() > 0}" class="panel panel-default">
		<div class="panel-heading">オペレーター直接問い合わせ</div>
		<div class="panel-body">
			<div class="form-group col-md-12">※オペレーター直接問い合わせは回線切断などのトラブルにより特定のオペレーターに対し再接続を行いたい場合を除きオペレーターから指示がない限りは使用しないでください。</div>
			<div th:each="directOperatorDto : ${directOperatorDtoList}" class="form-group col-md-3">
				<a class="btn btn-default btn-block support-link">[[${directOperatorDto.operatorName}]] </a>
				<input type="hidden" name="url" th:value="|${directOperatorDto.url}?callname=${session.loginUserDto.userName}:${session.loginUserDto.placeName}|" />
			</div>
		</div>
	</div>

</body>
</html>