<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MDailyReportMapper">

	<!-- Task.114 -->
	<select id="getDailyReportDtoList" resultType="jp.co.sss.lms.dto.DailyReportDto">
		SELECT
			daily_report_id,
			report_name,
			file_name,
			sheet_name,
			row_company,
			clm_company,
			row_user,
			clm_user,
			row_date,
			clm_date,
			intelligibility_flg,
			intelligibility_field_num,	
			intelligibility_num,
			row_intel_fld,
			clm_intel_fld,
			row_intel,
			clm_intel
		FROM m_daily_report
		WHERE hidden_flg = #{hiddenFlg} 
			AND delete_flg = #{deleteFlg}
	</select>

</mapper>