<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MFrequentlyAskedQuestionCategoryMapper">

	<!-- Task.11 -->
	<select id="getFaqCategoryDtoList" resultType="jp.co.sss.lms.dto.FaqCategoryDto">
		SELECT
			frequently_asked_question_category_id,
			frequently_asked_question_category_name
		FROM m_frequently_asked_question_category
		WHERE delete_flg = #{deleteFlg}
	</select>

	<!-- Task.89 -->
	<resultMap type="jp.co.sss.lms.dto.FaqCategoryDto" id="faqCategoryDto">
		<id column="frequently_asked_question_category_id" property="frequentlyAskedQuestionCategoryId" />
		<result column="frequently_asked_question_category_name" property="frequentlyAskedQuestionCategoryName" />
		<collection property="faqDtoList" ofType="jp.co.sss.lms.dto.FaqDto">
			<result column="frequently_asked_question_id" property="frequentlyAskedQuestionId" />
			<result column="question" property="question" />
		</collection>
	</resultMap>
	<select id="getFaqCategoryDtoListByCategoryName" resultMap="faqCategoryDto">
		SELECT
			t1.frequently_asked_question_category_id,
			t1.frequently_asked_question_category_name,
			t2.frequently_asked_question_id,
			t2.question
		FROM m_frequently_asked_question_category t1
			LEFT OUTER JOIN m_frequently_asked_question t2 
				ON t2.frequently_asked_question_category_id = t1.frequently_asked_question_category_id AND t2.delete_flg = #{deleteFlg}
		WHERE t1.delete_flg = #{deleteFlg}
		<if test="categoryName != null and categoryName != ''">
			AND t1.frequently_asked_question_category_name LIKE '%${categoryName}%'
		</if>
		ORDER BY t1.frequently_asked_question_category_id ASC,
			t2.frequently_asked_question_id ASC
	</select>

	<!-- Task.89 -->
	<update id="updateDeleteFlg" parameterType="jp.co.sss.lms.entity.MFrequentlyAskedQuestionCategory">
		UPDATE m_frequently_asked_question_category
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE frequently_asked_question_category_id = #{frequentlyAskedQuestionCategoryId}
	</update>

	<!-- Task.90 -->
	<select id="findByFrequentlyAskedQuestionCategoryId" resultType="jp.co.sss.lms.entity.MFrequentlyAskedQuestionCategory">
		SELECT * 
		FROM m_frequently_asked_question_category
		WHERE frequently_asked_question_category_id = #{faqCategoryId} 
			AND delete_flg = #{deleteFlg}
	</select>

	<!-- Task.90 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.MFrequentlyAskedQuestionCategory" useGeneratedKeys="true" keyProperty="frequentlyAskedQuestionCategoryId">
		INSERT INTO m_frequently_asked_question_category
		(
			frequently_asked_question_category_name,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{frequentlyAskedQuestionCategoryName},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.90 -->
	<update id="update" parameterType="jp.co.sss.lms.entity.MFrequentlyAskedQuestionCategory">
		UPDATE m_frequently_asked_question_category
		SET
			frequently_asked_question_category_name = #{frequentlyAskedQuestionCategoryName},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE frequently_asked_question_category_id = #{frequentlyAskedQuestionCategoryId}
	</update>

</mapper>