<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MFrequentlyAskedQuestionMapper">

	<!-- Task.11 -->
	<select id="getFaqDtoList" resultType="jp.co.sss.lms.dto.FaqDto">
		SELECT
			frequently_asked_question_id,
			question,
			answer
		FROM m_frequently_asked_question
		WHERE delete_flg = #{deleteFlg}
		<if test="keyword != null">
			AND (question LIKE '%${keyword}%' OR answer LIKE '%${keyword}%')
		</if>
		<if test="frequentlyAskedQuestionCategoryId != null">
			AND frequently_asked_question_category_id = #{frequentlyAskedQuestionCategoryId}
		</if>
	</select>

	<!-- Task.89 -->
	<select id="getFaqCount" resultType="Integer">
		SELECT COUNT(*) 
		FROM m_frequently_asked_question
		WHERE frequently_asked_question_category_id = #{categoryId} 
			AND delete_flg = #{deleteFlg}
	</select>

	<!-- Task.89 -->
	<update id="updateDeleteFlg" parameterType="jp.co.sss.lms.entity.MFrequentlyAskedQuestion">
		UPDATE m_frequently_asked_question
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE frequently_asked_question_id = #{frequentlyAskedQuestionId}
	</update>

	<!-- Task.91 -->
	<select id="findByFrequentlyAskedQuestionId" resultType="jp.co.sss.lms.entity.MFrequentlyAskedQuestion">
		SELECT * 
		FROM m_frequently_asked_question
		WHERE frequently_asked_question_id = #{faqId} 
			AND delete_flg = #{deleteFlg}
	</select>

	<!-- Task.91 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.MFrequentlyAskedQuestion" useGeneratedKeys="true" keyProperty="frequentlyAskedQuestionId">
		INSERT INTO m_frequently_asked_question
		(
			frequently_asked_question_category_id,
			question,
			answer,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{frequentlyAskedQuestionCategoryId},
			#{question},
			#{answer},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.91 -->
	<update id="update" parameterType="jp.co.sss.lms.entity.MFrequentlyAskedQuestion">
		UPDATE m_frequently_asked_question
		SET
			frequently_asked_question_category_id = #{frequentlyAskedQuestionCategoryId},
			question = #{question},
			answer = #{answer},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE frequently_asked_question_id = #{frequentlyAskedQuestionId}
	</update>

</mapper>