<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MGenreDetailMapper">

	<!-- Task.56 -->
	<select id="findByGenreDetailId" resultType="jp.co.sss.lms.entity.MGenreDetail">
		SELECT * 
		FROM m_genre_detail
		WHERE genre_detail_id = #{genreDetailId} 
		AND delete_flg = #{deleteFlg}
	</select>

	<!-- Task.97 -->
	<update id="updateDeleteFlgByGenreId" parameterType="jp.co.sss.lms.entity.MGenreDetail">
		UPDATE m_genre_detail
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE genre_id = #{genreId}
	</update>

	<!-- Task.97 -->
	<update id="updateDeleteFlgByGenreDetailId" parameterType="jp.co.sss.lms.entity.MGenreDetail">
		UPDATE m_genre_detail
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE genre_detail_id = #{genreDetailId}
	</update>

	<!-- Task.99 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.MGenreDetail" useGeneratedKeys="true" keyProperty="genreDetailId">
		INSERT INTO m_genre_detail
		(
			genre_id,
			genre_detail_name,
			account_id,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{genreId},
			#{genreDetailName},
			#{accountId},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.99 -->
	<update id="update" parameterType="jp.co.sss.lms.entity.MGenreDetail">
		UPDATE m_genre_detail
		SET
			genre_detail_name = #{genreDetailName},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE genre_detail_id = #{genreDetailId} 
			AND delete_flg = #{deleteFlg}
	</update>

	<!-- Task.113 -->
	<select id="getGenreDetailDtoList" resultType="jp.co.sss.lms.dto.GenreDetailDto">
		SELECT
			genre_detail_id,
			genre_detail_name
		FROM m_genre_detail
		WHERE genre_id = #{genreId} 
			AND delete_flg = #{deleteFlg}
	</select>

</mapper>