<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MMeetingFileMapper">

	<!-- Task.106 -->
	<select id="getMeetingFilleDtoList" resultType="jp.co.sss.lms.dto.MeetingFileDto">
		SELECT
			meeting_file_id,
			file_name,
			sheet_name,
			row_company,
			clm_company,
			row_user,
			clm_user,
			row_date,
			clm_date,
			row_meeting,
			clm_meeting,
			delete_flg
		FROM m_meeting_file
		WHERE delete_flg = #{deleteFlg}
		<if test="meetingFileId != null and meetingFileId != ''">
			AND meeting_file_id = ${meetingFileId}
		</if>
		<if test="fileName != null and fileName != ''">
			AND file_name LIKE '%${fileName}%'
		</if>
		ORDER BY meeting_file_id ASC
	</select>

	<!-- Task.106 -->
	<update id="updateDeleteFlg" parameterType="jp.co.sss.lms.entity.MMeetingFile">
		UPDATE m_meeting_file
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE meeting_file_id = #{meetingFileId}
	</update>

	<!-- Task.107 -->
	<select id="findByMeetingFileId" resultType="jp.co.sss.lms.entity.MMeetingFile">
		SELECT * FROM m_meeting_file
		WHERE meeting_file_id = #{meetingFileId} 
			AND delete_flg = #{deleteFlg}
	</select>

	<!-- Task.107 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.MMeetingFile" useGeneratedKeys="true" keyProperty="meetingFileId">
		INSERT INTO m_meeting_file
		(
			file_name,
			sheet_name,
			row_company,
			clm_company,
			row_user,
			clm_user,
			row_date,
			clm_date,
			row_meeting,
			clm_meeting,
			account_id,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{fileName},
			#{sheetName},
			#{rowCompany},
			#{clmCompany},
			#{rowUser},
			#{clmUser},
			#{rowDate},
			#{clmDate},
			#{rowMeeting},
			#{clmMeeting},
			#{accountId},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.107 -->
	<update id="update" parameterType="jp.co.sss.lms.entity.MMeetingFile">
		UPDATE m_meeting_file
		SET
			file_name = #{fileName},
			sheet_name = #{sheetName},
			row_company = #{rowCompany},
			clm_company = #{clmCompany},
			row_user = #{rowUser},
			clm_user = #{clmUser},
			row_date = #{rowDate},
			clm_date = #{clmDate},
			row_meeting = #{rowMeeting},
			clm_meeting = #{clmMeeting},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE meeting_file_id = #{meetingFileId}
	</update>

</mapper>