<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MMovieMapper">

	<!-- Task.100 -->
	<update id="updateDeleteFlgByMovieCategoryId" parameterType="jp.co.sss.lms.entity.MMovie">
		UPDATE m_movie
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE movie_category_id = #{movieCategoryId}
	</update>

	<!-- Task.100 -->
	<select id="findByMovieId" resultType="jp.co.sss.lms.entity.MMovie">
		SELECT * FROM m_movie
		WHERE movie_id = #{movieId} AND delete_flg = #{deleteFlg}
	</select>
	
	<!-- Task.100 -->
	<update id="updateDeleteFlgByMovieId" parameterType="jp.co.sss.lms.entity.MMovie">
		UPDATE m_movie
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE movie_id = #{movieId}
	</update>

	<!-- Task.100 -->
	<select id="findByMovieCategoryId" resultType="jp.co.sss.lms.entity.MMovie">
		SELECT * 
		FROM m_movie
		WHERE movie_category_id = #{movieCategoryId} 
			AND delete_flg = #{deleteFlg}
		ORDER BY sort_number ASC
	</select>

	<!-- Task.100 -->
	<update id="updateSortNumber" parameterType="jp.co.sss.lms.entity.MMovie">
		UPDATE m_movie
		SET
			sort_number = #{sortNumber},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE movie_id = #{movieId}
	</update>

	<!-- Task.102 -->
	<select id="getMovieDto" resultType="jp.co.sss.lms.dto.MovieDto">
		SELECT
			t1.movie_id,
			t1.movie_name,
			t1.url,
			t2.movie_category_id,
			t2.movie_category_name
		FROM m_movie t1
			LEFT OUTER JOIN m_movie_category t2 ON t2.movie_category_id = t1.movie_category_id AND t2.delete_flg = #{deleteFlg}
		WHERE t1.movie_id = #{movieId} 
			AND t1.delete_flg = #{deleteFlg}
	</select>

	<!-- Task.102 -->
	<select id="getMaxSortNumber" resultType="Integer">
		SELECT MAX(sort_number) 
		FROM m_movie
		WHERE movie_category_id = #{movieCategoryId} 
		AND delete_flg = #{deleteFlg}
	</select>

	<!-- Task.102 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.MMovie" useGeneratedKeys="true" keyProperty="movieId">
		INSERT INTO m_movie
		(
			movie_name,
			url,
			sort_number,
			movie_category_id,
			account_id,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{movieName},
			#{url},
			#{sortNumber},
			#{movieCategoryId},
			#{accountId},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.102 -->
	<update id="update" parameterType="jp.co.sss.lms.entity.MMovie">
		UPDATE m_movie
		SET
			movie_name = #{movieName},
			url = #{url},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE movie_id = #{movieId}
	</update>

</mapper>