<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MPresentationTeamMapper">

	<!-- Task.88 成果報告会予定情報の取得 -->
	<select id="getPresentationTeam" resultType="jp.co.sss.lms.dto.PresentationTeamDto">
		SELECT
			t1.presentation_schedule_id,
			t1.purpose,
			t1.presentation_date,
			t1.edit_limit,
			t3.place_name,
			t3.place_note,
			t3.place_description
		FROM m_presentation_schedule t1
			LEFT OUTER JOIN t_presentation_place t2 ON t2.presentation_schedule_id = t1.presentation_schedule_id AND t2.delete_flg = #{deleteFlg}
			LEFT OUTER JOIN m_place t3 ON t3.place_id = t2.place_id AND t3.delete_flg = #{deleteFlg}
		WHERE t2.place_id = #{placeId}
			AND t1.delete_flg = #{deleteFlg}
		ORDER BY t1.presentation_schedule_id ASC
	</select>

	<!-- Task.110 成果報告会チーム編成詳細画面の新規作成 -->
	<select id="getPresentationTeamDetail" resultType="jp.co.sss.lms.dto.PresentationTeamDetailDto">
		SELECT
			t2.user_name,
			t4.company_name,
			t4.address,
			t10.presentation_team_name
		FROM m_lms_user t1
			INNER JOIN m_user t2 ON t1.user_id = t2.user_id
			LEFT OUTER JOIN t_user_company t3 ON t1.lms_user_id = t3.lms_user_id
			LEFT OUTER JOIN m_company t4 ON t3.company_id = t4.company_id
			LEFT OUTER JOIN t_course_user t5 ON t1.lms_user_id = t5.lms_user_id
			LEFT OUTER JOIN m_course t6 ON t5.course_id = t6.course_id
			LEFT OUTER JOIN t_user_place t7 ON t1.lms_user_id = t7.lms_user_id
			LEFT OUTER JOIN m_place t8 ON t7.place_id = t8.place_id
			LEFT OUTER JOIN t_user_presentation_team t9 ON t1.lms_user_id = t9.lms_user_id
			LEFT OUTER JOIN m_presentation_team t10 ON t9.presentation_team_id = t10.presentation_team_id
		WHERE t10.presentation_place_id = #{presentation_place_id}
			AND t1.delete_flg = #{deleteFlg}
		ORDER BY t10.presentation_team_id ASC;
	</select>

</mapper>