<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TExamSectionMapper">

	<!-- Task.116 -->
	<select id="getSectionExamCount" resultType="Integer">
		SELECT COUNT(*) 
		FROM t_exam_section
		WHERE section_id = #{sectionId} 
			AND exam_id = #{examId} 
			AND delete_flg = #{deleteFlg}
	</select>

	<!-- Task.116 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.TExamSection" useGeneratedKeys="true" keyProperty="examSectionId">
		INSERT INTO t_exam_section
		(
			exam_id,
			section_id,
			public_date,
			private_date,
			account_id,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{examId},
			#{sectionId},
			#{publicDate},
			#{privateDate},
			#{accountId},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.116 -->
	<update  id="update" parameterType="jp.co.sss.lms.entity.TExamSection">
		UPDATE t_exam_section
		SET
			public_date = #{publicDate},
			private_date = #{privateDate},
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE section_id = #{sectionId}
			AND exam_id = #{examId}
			AND delete_flg = #{deleteFlg}
	</update>

	<!-- Task.116 -->
	<delete id="delete">
		DELETE FROM t_exam_section
		WHERE section_id = #{sectionId}
			AND exam_id = #{examId}
	</delete>

</mapper>