<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TFssFileMapper">
	<select id="getFileShareDtoList"
		resultType="jp.co.sss.lms.dto.FileShareDto">
		SELECT
		t1.fss_file_id AS file_id,
		t1.file_path,
		to_char(t1.last_modified_date, 'YYYY年MM月DD日 HH24:MI') AS modified_date,
		t1.file_size,
		t1.owner_fss_user_id,
		t2.owner_nickname,
		t3.owner_user_name,
		t1.shared_fss_user_id,
		t4.shared_nickname,
		t5.shared_user_name
		FROM t_fss_file t1
		LEFT OUTER JOIN (SELECT fss_user_id, nickname AS owner_nickname FROM
		m_fss_user WHERE delete_flg = #{deleteFlg}) t2 ON t2.fss_user_id =
		t1.owner_fss_user_id
		LEFT OUTER JOIN (SELECT fss_user_id, user_name AS owner_user_name FROM
		t_user_fss_user tt1 LEFT OUTER JOIN m_user tt2 ON tt2.user_id =
		tt1.user_id WHERE tt1.delete_flg = #{deleteFlg}) t3 ON t3.fss_user_id
		= t1.owner_fss_user_id
		LEFT OUTER JOIN (SELECT fss_user_id, nickname AS shared_nickname FROM
		m_fss_user WHERE delete_flg = #{deleteFlg}) t4 ON t4.fss_user_id =
		t1.shared_fss_user_id
		LEFT OUTER JOIN (SELECT fss_user_id, user_name AS shared_user_name FROM
		t_user_fss_user tt1 LEFT OUTER JOIN m_user tt2 ON tt2.user_id =
		tt1.user_id WHERE tt1.delete_flg = #{deleteFlg}) t5 ON t5.fss_user_id
		= t1.shared_fss_user_id
		WHERE (t1.owner_fss_user_id = #{fssUserId} OR t1.shared_fss_user_id =
		#{fssUserId}) AND t1.delete_flg = #{deleteFlg}
	</select>
</mapper>