<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TInfoMapper">

	<select id="findBySingleResult" resultType="jp.co.sss.lms.entity.TInfo">
		SELECT * 
		FROM t_info
		<!-- Task.85 -->
		WHERE delete_flg = #{deleteFlg}
		ORDER BY last_modified_date DESC LIMIT 1
	</select>

	<!-- Task.83 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.TInfo" useGeneratedKeys="true" keyProperty="infoId">
		INSERT INTO t_info
		(
			content,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{content},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.84 -->
	<select id="findAll" resultType="jp.co.sss.lms.dto.InfoDto">
		SELECT * 
		FROM t_info
		WHERE delete_flg = #{deleteFlg}
		ORDER BY last_modified_date DESC
	</select>

	<!-- Task.85 -->
	<update id="update" parameterType="jp.co.sss.lms.entity.TInfo">
		UPDATE t_info
		SET
			content = #{content},
			last_modified_user = #{lastModifiedUser}
		WHERE info_id = #{infoId}
	</update>

	<!-- Task.85 -->
	<update id="updateDeleteFlg" parameterType="jp.co.sss.lms.entity.TInfo">
		UPDATE t_info
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser}
		WHERE info_id = #{infoId}
	</update>

</mapper>