<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TMeetingCompanyMapper">

	<!-- Task.74 -->
	<update id="update" parameterType="jp.co.sss.lms.entity.TMeetingCompany">
		UPDATE t_meeting_company
		SET
			meeting_schedule_detail_id = #{meetingScheduleDetailId},
			join_amount = #{joinAmount},
			company_request = #{companyRequest},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE meeting_place_id = #{meetingPlaceId}
			AND company_id = #{companyId}
	</update>

	<!-- Task.108 -->
	<select id="getMeetingCompanyCount" resultType="Integer">
		SELECT COUNT(*) 
		FROM t_meeting_company
		WHERE meeting_place_id = #{meetingPlaceId} 
			AND delete_flg = #{deleteFlg}
	</select>

	<!-- Task.108 -->
	<delete id="delete">
		DELETE FROM t_meeting_company
		WHERE meeting_place_id = #{meetingPlaceId}
	</delete>

	<!-- Task.110 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.TMeetingCompany" useGeneratedKeys="true" keyProperty="meetingCompanyId">
		INSERT INTO t_meeting_company (
			meeting_place_id,
			company_id,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{meetingPlaceId},
			#{companyId},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

</mapper>