<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MAgreementMapper">

	<!-- Task.64 -->
	<select id="getAgreementDto" resultType="jp.co.sss.lms.dto.AgreementDto">
		SELECT
			t1.agreement_id,
			t1.agreement_content,
			t1.personal_information_purpose,
			to_char(t2.last_modified_date,'YYYY年FMmm月FMdd日') AS contract_date,
			t4.company_name,
			t4.address AS company_address,
			t4.representative_post,
			t4.representative_name,
			t5.course_name,
			to_char(t5.open_time,'YYYY年FMmm月FMdd日') AS contract_start_date,
			to_char(t5.close_time,'YYYY年FMmm月FMdd日') AS contract_end_date
		FROM m_agreement t1
			LEFT OUTER JOIN t_agreement_consent t2 ON t2.agreement_id = t1.agreement_id
			LEFT OUTER JOIN t_company_course t3 ON t3.company_course_id = t2.company_course_id
			LEFT OUTER JOIN m_company t4 ON t4.company_id = t3.company_id
			LEFT OUTER JOIN m_course t5 ON t5.course_id = t3.course_id
		WHERE t2.agreement_consent_id = #{agreementConsentId}
			AND t1.delete_flg = #{deleteFlg}
	</select>

</mapper>