<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MEvReportMapper">

	<!-- Task.103 -->
	<select id="getEvReportDtoList" resultType="jp.co.sss.lms.dto.EvReportDto">
		SELECT
			ev_report_id,
			report_name
		FROM m_ev_report
		WHERE delete_flg = #{deleteFlg}
		<if test="reportName != null and reportName != ''">
			AND report_name LIKE '%${reportName}%'
		</if>
	</select>

	<!-- Task.103 -->
	<select id="findByEvReportId" resultType="jp.co.sss.lms.entity.MEvReport">
		SELECT * 
		FROM m_ev_report
		WHERE ev_report_id = #{evReportId}
		AND delete_flg = #{deleteFlg}
	</select>

	<!-- Task.103 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.MEvReport" useGeneratedKeys="true" keyProperty="evReportId">
		INSERT INTO m_ev_report
		(
			report_name,
			file_name,
			sheet_name_std,
			row_company,
			clm_company,
			row_user,
			clm_user,
			account_id,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date,
			hidden_flg
		) VALUES (
			#{reportName},
			#{fileName},
			#{sheetNameStd},
			#{rowCompany},
			#{clmCompany},
			#{rowUser},
			#{clmUser},
			#{accountId},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate},
			#{hiddenFlg}
		)
	</insert>

	<!-- Task.103 -->
	<update id="updateDeleteFlg" parameterType="jp.co.sss.lms.entity.MEvReport">
		UPDATE m_ev_report
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE ev_report_id = #{evReportId}
	</update>

</mapper>