<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MFssGroupMapper">

	<!-- Task.105 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.MFssGroup" useGeneratedKeys="true" keyProperty="fssGroupId">
		INSERT INTO m_fss_group
		(
			group_name,
			description,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{groupName},
			#{description},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.105 -->
	<update id="updateGroupName" parameterType="jp.co.sss.lms.entity.MFssGroup">
		UPDATE m_fss_group
		SET
			group_name = #{groupName},
			description = #{description},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE fss_group_id = #{fssGroupId}
	</update>

</mapper>