<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MGenreMapper">

	<!-- Task.97 -->
	<resultMap type="jp.co.sss.lms.dto.GenreDto" id="genreDto">
		<id column="genre_id" property="genreId" />
		<result column="genre_name" property="genreName" />
		<collection property="genreDetailDtoList" ofType="jp.co.sss.lms.dto.GenreDetailDto">
			<result column="genre_detail_id" property="genreDetailId" />
			<result column="genre_detail_name" property="genreDetailName" />
		</collection>
	</resultMap>
	<select id="getGenreDtoList" resultMap="genreDto">
		SELECT
			t1.genre_id,
			t1.genre_name,
			t2.genre_detail_id,
			t2.genre_detail_name
		FROM m_genre t1
			LEFT OUTER JOIN m_genre_detail t2 ON t2.genre_id = t1.genre_id AND t2.delete_flg = #{deleteFlg}
		WHERE t1.delete_flg = #{deleteFlg}
		<if test="genreName != null and genreName != ''">
			AND t1.genre_name LIKE '%${genreName}%'
		</if>
		ORDER BY genre_id ASC
	</select>

	<!-- Task.97 -->
	<update id="updateDeleteFlg" parameterType="jp.co.sss.lms.entity.MGenre">
		UPDATE m_genre
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE genre_id = #{genreId}
	</update>

	<!-- Task.98 -->
	<select id="findByGenreId" resultType="jp.co.sss.lms.entity.MGenre">
		SELECT * 
		FROM m_genre
		WHERE genre_id = #{genreId} 
			AND delete_flg = #{deleteFlg}
	</select>

	<!-- Task.98 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.MGenre" useGeneratedKeys="true" keyProperty="genreId">
		INSERT INTO m_genre
		(
			genre_name,
			account_id,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{genreName},
			#{accountId},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.98 -->
	<update id="update" parameterType="jp.co.sss.lms.entity.MGenre">
		UPDATE m_genre
		SET
			genre_name = #{genreName},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE genre_id = #{genreId} 
			AND delete_flg = #{deleteFlg}
	</update>

</mapper>