<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MSubsidyCategoryMapper">

	<!-- Task.67 -->
	<select id="getSubsidyCategoryDtoList" resultType="jp.co.sss.lms.dto.SubsidyCategoryDto">
		SELECT
			subsidy_category_id,
			subsidy_category_name
		FROM m_subsidy_category
		WHERE delete_flg = #{deleteFlg}
		ORDER BY subsidy_category_id ASC
	</select>

</mapper>