<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TCompanyFssGroupMapper">

	<!-- Task.105 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.TCompanyFssGroup" useGeneratedKeys="true" keyProperty="companyFssGroupId">
		INSERT INTO t_company_fss_group
		(
			company_id,
			fss_group_id,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{companyId},
			#{fssGroupId},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.105 -->
	<select id="findByCompanyId" resultType="jp.co.sss.lms.entity.TCompanyFssGroup">
		SELECT * 
		FROM t_company_fss_group
		WHERE company_id = #{companyId} 
			AND delete_flg = #{deleteFlg}
	</select>

</mapper>