<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TCourseUserMapper">

	<!-- Task.67 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.TCourseUser" useGeneratedKeys="true" keyProperty="courseUserId">
		INSERT INTO t_course_user
		(
			course_id, 
			lms_user_id, 
			account_id, 
			delete_flg, 
			first_create_user, 
			first_create_date, 
			last_modified_user, 
			last_modified_date
		) VALUES (
			#{courseId}, 
			#{lmsUserId}, 
			#{accountId}, 
			#{deleteFlg}, 
			#{firstCreateUser}, 
			#{firstCreateDate}, 
			#{lastModifiedUser}, 
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.70 -->
	<update id="updateDeleteFlg" parameterType="jp.co.sss.lms.entity.TCourseUser">
		UPDATE t_course_user
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE lms_user_id = #{lmsUserId}
	</update>

</mapper>