<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TPlaceAssignMapper">

	<!-- Task.67 -->
	<select id="getPlaceAssignDtoList" resultType="jp.co.sss.lms.dto.PlaceAssignDto">
		SELECT
			t2.place_id,
			t2.place_name,
			t1.applicant_amount
		FROM t_place_assign t1
			LEFT OUTER JOIN m_place t2 ON t2.place_id = t1.place_id
		WHERE t1.company_course_id = #{companyCourseId}
			AND t1.delete_flg = #{deleteFlg}
		ORDER BY t1.place_id ASC
	</select>

</mapper>