<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TUserPlaceMapper">

	<!-- Task.43 -->
	<select id="getPlaceId" resultType="Integer">
		SELECT place_id
		FROM t_user_place
		WHERE lms_user_id = #{lmsUserId} 
		AND delete_flg = #{deleteFlg}
	</select>

	<!-- Task.57 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.TUserPlace" useGeneratedKeys="true" keyProperty="userPlaceId">
		INSERT INTO t_user_place
		(
			lms_user_id, 
			place_id, 
			account_id, 
			delete_flg, 
			first_create_user, 
			first_create_date, 
			last_modified_user, 
			last_modified_date
		) VALUES (
			#{lmsUserId}, 
			#{placeId}, 
			#{accountId}, 
			#{deleteFlg}, 
			#{firstCreateUser}, 
			#{firstCreateDate}, 
			#{lastModifiedUser}, 
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.79 -->
	<update id="updateDeleteFlg" parameterType="jp.co.sss.lms.entity.TUserPlace">
		UPDATE t_user_place
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE lms_user_id = #{lmsUserId}
	</update>

	<!-- Task.95 -->
	<select id="getCountByPlaceId" resultType="Integer">
		SELECT COUNT(*) 
		FROM t_user_place
		WHERE place_id = #{placeId} 
			AND delete_flg = #{deleteFlg}
	</select>

</mapper>