<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TUserCompanyMapper">

	<!-- Task.67 -->
	<insert id="insert" parameterType="jp.co.sss.lms.entity.TUserCompany" useGeneratedKeys="true" keyProperty="userCompanyId">
		INSERT INTO t_user_company
		(
			lms_user_id, 
			company_id, 
			account_id, 
			delete_flg, 
			first_create_user, 
			first_create_date, 
			last_modified_user, 
			last_modified_date
		) VALUES (
			#{lmsUserId}, 
			#{companyId}, 
			#{accountId}, 
			#{deleteFlg}, 
			#{firstCreateUser}, 
			#{firstCreateDate}, 
			#{lastModifiedUser}, 
			#{lastModifiedDate}
		)
	</insert>

	<!-- Task.70 -->
	<update id="updateDeleteFlg" parameterType="jp.co.sss.lms.entity.TUserCompany">
		UPDATE t_user_company
		SET
			delete_flg = #{deleteFlg},
			last_modified_user = #{lastModifiedUser},
			last_modified_date = #{lastModifiedDate}
		WHERE lms_user_id = #{lmsUserId}
	</update>

	<!-- Task.104 -->
	<select id="findByCompanyId" resultType="jp.co.sss.lms.entity.TUserCompany">
		SELECT * FROM t_user_company
		WHERE company_id = #{companyId} 
			AND delete_flg = #{deleteFlg}
	</select>

</mapper>